flows_rpi3-ir.json
[{"id":"22873a0.b24e4c6","type":"tab","label":"Alexa home","disabled":false,"info":""},{"id":"eb1d4f14.e963c","type":"tab","label":"コントロール","disabled":false,"info":""},{"id":"bbca6fda.342ee","type":"tab","label":"環境情報","disabled":false,"info":""},{"id":"9ab315f.bff06e8","type":"alexa-home-conf","z":"","username":"bebridge-tanibayashi"},{"id":"29b8f3b4.b9f12c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a5759db6.34ad","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c1cba8f0.840d18","type":"ui_group","z":"","name":"温度・湿度","tab":"a5759db6.34ad","order":1,"disp":true,"width":"6","collapse":true},{"id":"2b975845.14c2e8","type":"mqtt-broker","z":"","name":"温度","broker":"mqtt.beebotte.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"14acbf1f.81c5e1","type":"ui_group","z":"","name":"ボールランプ","tab":"a5759db6.34ad","order":3,"disp":true,"width":"6","collapse":true},{"id":"5153b815.528338","type":"ui_group","z":"","name":"グラフ","tab":"a5759db6.34ad","order":2,"disp":true,"width":"6","collapse":true},{"id":"932f5731.c4f108","type":"alexa-home","z":"22873a0.b24e4c6","conf":"9ab315f.bff06e8","device":"53989","acknoledge":true,"name":"ボールランプ","topic":"","x":110,"y":60,"wires":[["b749de5b.e4a0c","40ed98c9.d519d8","b1aa2c8c.6a798"]]},{"id":"b749de5b.e4a0c","type":"debug","z":"22873a0.b24e4c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":530,"y":60,"wires":[]},{"id":"40ed98c9.d519d8","type":"debug","z":"22873a0.b24e4c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"command","targetType":"msg","x":320,"y":60,"wires":[]},{"id":"b1aa2c8c.6a798","type":"switch","z":"22873a0.b24e4c6","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"eq","v":"SetColorTemperatureRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":130,"y":220,"wires":[["208220e1.ebb01"],["3b8b24be.2da8fc"],["65017c03.ad4ba4"],["652a7da0.203d94"],["9ceacf2c.3489"],["bf8215e8.fe3d68"]]},{"id":"3ce3299c.0ce776","type":"exec","z":"22873a0.b24e4c6","command":"/home/pi/bin/ir-send","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":690,"y":360,"wires":[["6e5eda0a.cb6f54"],["6e5eda0a.cb6f54"],[]]},{"id":"15b9bd32.cc4353","type":"change","z":"22873a0.b24e4c6","name":"\"lamp {p}\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lamp \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[["3ce3299c.0ce776","45bdacda.889c04"]]},{"id":"45bdacda.889c04","type":"debug","z":"22873a0.b24e4c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":280,"wires":[]},{"id":"208220e1.ebb01","type":"change","z":"22873a0.b24e4c6","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[["ab61881e.ceeb58"]]},{"id":"3b8b24be.2da8fc","type":"change","z":"22873a0.b24e4c6","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["ab61881e.ceeb58"]]},{"id":"6e5eda0a.cb6f54","type":"debug","z":"22873a0.b24e4c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":890,"y":360,"wires":[]},{"id":"9ceacf2c.3489","type":"switch","z":"22873a0.b24e4c6","name":"hue","property":"payload.hue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"120","vt":"str"},{"t":"eq","v":"240","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":360,"wires":[["c81ffc75.8f005"],["3b938adf.919406"],["704f6508.16855c"]]},{"id":"c81ffc75.8f005","type":"change","z":"22873a0.b24e4c6","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":320,"wires":[["cfe9e0fe.ddc89"]]},{"id":"3b938adf.919406","type":"change","z":"22873a0.b24e4c6","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":360,"wires":[["cfe9e0fe.ddc89"]]},{"id":"704f6508.16855c","type":"change","z":"22873a0.b24e4c6","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":400,"wires":[["cfe9e0fe.ddc89"]]},{"id":"bf8215e8.fe3d68","type":"switch","z":"22873a0.b24e4c6","name":"color temperature","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":440,"wires":[["1bdee9a9.0c1e26"]]},{"id":"1bdee9a9.0c1e26","type":"change","z":"22873a0.b24e4c6","name":"white","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":440,"wires":[["57d5f8b0.a61c78"]]},{"id":"ab61881e.ceeb58","type":"batch","z":"22873a0.b24e4c6","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":200,"wires":[["15b9bd32.cc4353"]]},{"id":"cfe9e0fe.ddc89","type":"batch","z":"22873a0.b24e4c6","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":360,"wires":[["15b9bd32.cc4353"]]},{"id":"65017c03.ad4ba4","type":"change","z":"22873a0.b24e4c6","name":"up2","rules":[{"t":"set","p":"payload","pt":"msg","to":"up2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":220,"wires":[["ab61881e.ceeb58"]]},{"id":"652a7da0.203d94","type":"change","z":"22873a0.b24e4c6","name":"down2","rules":[{"t":"set","p":"payload","pt":"msg","to":"down2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":260,"wires":[["ab61881e.ceeb58"]]},{"id":"57d5f8b0.a61c78","type":"batch","z":"22873a0.b24e4c6","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":440,"wires":[["15b9bd32.cc4353"]]},{"id":"3100f6b3.33dd9a","type":"alexa-home","z":"22873a0.b24e4c6","conf":"9ab315f.bff06e8","device":"59712","acknoledge":true,"name":"picture","topic":"","x":90,"y":540,"wires":[["cf41ae31.90241","a03fe4bc.f4d038"]]},{"id":"cf41ae31.90241","type":"debug","z":"22873a0.b24e4c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"command","targetType":"msg","x":320,"y":540,"wires":[]},{"id":"a03fe4bc.f4d038","type":"debug","z":"22873a0.b24e4c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":530,"y":540,"wires":[]},{"id":"a0e1050b.5becd8","type":"link in","z":"22873a0.b24e4c6","name":"lamp","links":[],"x":620,"y":200,"wires":[["15b9bd32.cc4353"]]},{"id":"edbbd411.a3ad48","type":"ui_button","z":"22873a0.b24e4c6","name":"","group":"14acbf1f.81c5e1","order":2,"width":"3","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":610,"y":100,"wires":[["15b9bd32.cc4353"]]},{"id":"3f24fe86.183732","type":"ui_button","z":"22873a0.b24e4c6","name":"","group":"14acbf1f.81c5e1","order":1,"width":"3","height":"1","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":520,"y":160,"wires":[["15b9bd32.cc4353"]]},{"id":"794c5ba2.1e1f64","type":"mqtt in","z":"bbca6fda.342ee","name":"","topic":"env1/temperature1","qos":"0","datatype":"json","broker":"2b975845.14c2e8","x":120,"y":60,"wires":[["1c3ad09f.76d34f","bcbdb1b3.d952b"]]},{"id":"1c3ad09f.76d34f","type":"debug","z":"bbca6fda.342ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":390,"y":60,"wires":[]},{"id":"bcbdb1b3.d952b","type":"change","z":"bbca6fda.342ee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":120,"wires":[["3d58787e.5bc7a8","9a595a07.b02888","3946937c.36ff1c"]]},{"id":"3d58787e.5bc7a8","type":"debug","z":"bbca6fda.342ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":390,"y":120,"wires":[]},{"id":"9a595a07.b02888","type":"ui_gauge","z":"bbca6fda.342ee","name":"","group":"c1cba8f0.840d18","order":1,"width":"3","height":"4","gtype":"gage","title":"温度","label":"℃","format":"{{value}}","min":"10","max":"35","colors":["#01c9c0","#07c70b","#9f0c0c"],"seg1":"10","seg2":"25","x":430,"y":160,"wires":[]},{"id":"9f9b3933.951458","type":"mqtt in","z":"bbca6fda.342ee","name":"","topic":"env1/humidity1","qos":"0","datatype":"json","broker":"2b975845.14c2e8","x":110,"y":240,"wires":[["bc812696.1af5e8"]]},{"id":"bc812696.1af5e8","type":"change","z":"bbca6fda.342ee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["fed0c40d.9dcc78","e6dac0b8.9793a","ce53b72.91a4548"]]},{"id":"fed0c40d.9dcc78","type":"ui_gauge","z":"bbca6fda.342ee","name":"","group":"c1cba8f0.840d18","order":2,"width":"3","height":"4","gtype":"gage","title":"湿度","label":"%","format":"{{value}}","min":"10","max":"70","colors":["#fef50f","#00e6e3","#386bca"],"seg1":"20","seg2":"50","x":430,"y":340,"wires":[]},{"id":"3946937c.36ff1c","type":"ui_chart","z":"bbca6fda.342ee","name":"","group":"5153b815.528338","order":1,"width":"6","height":"4","label":"温度グラフ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":200,"wires":[[]]},{"id":"e6dac0b8.9793a","type":"debug","z":"bbca6fda.342ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":390,"y":300,"wires":[]},{"id":"ce53b72.91a4548","type":"ui_chart","z":"bbca6fda.342ee","name":"","group":"5153b815.528338","order":2,"width":"6","height":"4","label":"湿度グラフ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#04bcfb","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":380,"wires":[[]]}]