node-red/flows_rpi3b-1.json
[{"id":"4e7efffd.6ee66","type":"tab","label":"サーバー","disabled":false,"info":""},{"id":"71c4f55e.1555ec","type":"tab","label":"照明","disabled":false,"info":""},{"id":"ac75b08f.1c45c","type":"tab","label":"スクリーン","disabled":false,"info":""},{"id":"1308fdfa.660ee2","type":"tab","label":"空調","disabled":false,"info":""},{"id":"9c65f293.33b02","type":"tab","label":"環境情報","disabled":false,"info":""},{"id":"90da4636.c9a6a8","type":"tab","label":"Alexa デバイス","disabled":false,"info":""},{"id":"8b3f1d19.8d47a","type":"tab","label":"Alexaの応答","disabled":false,"info":""},{"id":"284ce301.87709c","type":"tab","label":"家電コントロール","disabled":false,"info":""},{"id":"47f96de1.dd13a4","type":"tab","label":"Dyson Fan","disabled":false,"info":""},{"id":"153a3022.b5e5c","type":"tab","label":"BOSE Speaker","disabled":false,"info":""},{"id":"91f0deab.3643e","type":"tab","label":"システム","disabled":false,"info":""},{"id":"85cabc16.3b059","type":"mqtt-broker","z":"","name":"beebotte env1","broker":"mqtt.beebotte.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"569c36.708e93cc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3760bec9.4da4a2","type":"ui_tab","z":"","name":"環境情報","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ef77ec2c.dabd1","type":"ui_tab","z":"","name":"家電コントロール","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ba4e04f8.81b748","type":"mqtt-broker","z":"","name":"beebotte aircon1","broker":"mqtt.beebotte.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc8e5007.1e84f","type":"ui_group","z":"","name":"操作","tab":"3760bec9.4da4a2","order":4,"disp":true,"width":"7","collapse":true},{"id":"c40b61ea.85919","type":"ui_group","z":"","name":"制御パラメータ","tab":"3760bec9.4da4a2","order":5,"disp":true,"width":"7","collapse":true},{"id":"b1694a6d.419e48","type":"alexa-home-conf","z":"","username":"ytani"},{"id":"61b7a2b.f8f905c","type":"ui_group","z":"","name":"TV","tab":"ef77ec2c.dabd1","order":2,"disp":true,"width":"7","collapse":true},{"id":"e59ffdb8.ef046","type":"ui_group","z":"","name":"照明 シャープ","tab":"ef77ec2c.dabd1","order":7,"disp":true,"width":"7","collapse":true},{"id":"ee96d0d9.fd196","type":"ui_group","z":"","name":"湿度","tab":"3760bec9.4da4a2","order":6,"disp":true,"width":"7","collapse":true},{"id":"42cfcfd2.d19f8","type":"ui_group","z":"","name":"温度","tab":"3760bec9.4da4a2","order":1,"disp":true,"width":"7","collapse":true},{"id":"ce4daba8.382ed8","type":"ui_group","z":"","name":"温度：短期グラフ","tab":"3760bec9.4da4a2","order":2,"disp":true,"width":"7","collapse":true},{"id":"ab8dbf74.41591","type":"ui_group","z":"","name":"SONY BL","tab":"ef77ec2c.dabd1","order":3,"disp":true,"width":"7","collapse":true},{"id":"a33505b2.315278","type":"ui_group","z":"","name":"SONY BL 再生","tab":"ef77ec2c.dabd1","order":4,"disp":true,"width":"7","collapse":true},{"id":"26d19d50.cddde2","type":"ui_group","z":"","name":"SONY BL Ch","tab":"ef77ec2c.dabd1","order":5,"disp":true,"width":"7","collapse":true},{"id":"9ddca472.123b38","type":"ui_group","z":"","name":"湿度：短期グラフ","tab":"3760bec9.4da4a2","order":7,"disp":true,"width":"7","collapse":true},{"id":"57320567.c55d1c","type":"ui_group","z":"","name":"リモコン温度","tab":"3760bec9.4da4a2","order":3,"disp":true,"width":"7","collapse":true},{"id":"936620f7.c29ac","type":"ui_spacer","name":"spacer","group":"42cfcfd2.d19f8","order":3,"width":3,"height":1},{"id":"cb067388.5cfcb","type":"ui_spacer","name":"spacer","group":"bc8e5007.1e84f","order":2,"width":1,"height":1},{"id":"29cc9da6.8e6a02","type":"ui_spacer","name":"spacer","group":"bc8e5007.1e84f","order":13,"width":5,"height":1},{"id":"22c8dc1a.df96f4","type":"ui_spacer","name":"spacer","group":"c40b61ea.85919","order":10,"width":3,"height":1},{"id":"ba160f93.9b7df","type":"ui_spacer","name":"spacer","group":"ee96d0d9.fd196","order":3,"width":3,"height":1},{"id":"2b621372.6c977c","type":"ui_group","z":"","name":"DYSON Fan","tab":"ef77ec2c.dabd1","order":6,"disp":true,"width":"7","collapse":true},{"id":"f01b9a4a.751da8","type":"ui_group","z":"","name":"BOSE Speaker","tab":"ef77ec2c.dabd1","order":8,"disp":true,"width":"7","collapse":true},{"id":"8a316e39.a04f5","type":"ui_spacer","name":"spacer","group":"61b7a2b.f8f905c","order":7,"width":1,"height":1},{"id":"30f0dcd.19eca24","type":"ui_spacer","name":"spacer","group":"61b7a2b.f8f905c","order":14,"width":1,"height":1},{"id":"635461d5.71391","type":"ui_spacer","name":"spacer","group":"61b7a2b.f8f905c","order":16,"width":3,"height":1},{"id":"6f946020.2ee4","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":2,"width":3,"height":1},{"id":"86e69d14.c64ea","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":7,"width":1,"height":1},{"id":"df03186d.0420d8","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":11,"width":1,"height":1},{"id":"1b216e86.6e6d01","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":14,"width":3,"height":1},{"id":"e5c09043.df48e","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":15,"width":1,"height":1},{"id":"73fe.c3e46c023c","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":20,"width":2,"height":1},{"id":"db597e7d.5884c","type":"ui_spacer","name":"spacer","group":"a33505b2.315278","order":8,"width":1,"height":1},{"id":"cbad5422.1cbb18","type":"ui_spacer","name":"spacer","group":"a33505b2.315278","order":12,"width":1,"height":1},{"id":"50c69681.14a288","type":"ui_spacer","name":"spacer","group":"26d19d50.cddde2","order":9,"width":1,"height":1},{"id":"2ba99d62.587b22","type":"ui_spacer","name":"spacer","group":"26d19d50.cddde2","order":15,"width":1,"height":1},{"id":"4f1b8801.30dbf8","type":"ui_spacer","name":"spacer","group":"26d19d50.cddde2","order":17,"width":1,"height":1},{"id":"d9b33472.df4038","type":"ui_spacer","name":"spacer","group":"2b621372.6c977c","order":4,"width":1,"height":1},{"id":"7f4717d4.607a68","type":"ui_spacer","name":"spacer","group":"2b621372.6c977c","order":8,"width":1,"height":1},{"id":"95aafa67.276a48","type":"ui_spacer","name":"spacer","group":"f01b9a4a.751da8","order":4,"width":1,"height":1},{"id":"69429fa8.737c4","type":"alexa-home-conf","z":"","username":"ytani"},{"id":"447ba0c7.cd5c1","type":"ui_group","z":"","name":"ランプ","tab":"ef77ec2c.dabd1","order":9,"disp":true,"width":"7","collapse":true},{"id":"2103e855.4e57a8","type":"mqtt-broker","z":"","name":"beebotte env2/*","broker":"mqtt.beebotte.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"453d0743.8db928","type":"ui_tab","z":"","name":"シスステム","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"937b877f.569368","type":"ui_group","z":"","name":"電源","tab":"453d0743.8db928","order":1,"disp":true,"width":"7","collapse":true},{"id":"a12f857e.8ad7f8","type":"ui_group","z":"","name":"スクリーン","tab":"ef77ec2c.dabd1","order":1,"disp":true,"width":"7","collapse":true},{"id":"c35b75fc.613388","type":"websocket-listener","z":"","path":"ws://192.168.0.235:8881/0/","wholemsg":"true"},{"id":"cdc97eab.0d3e9","type":"websocket-listener","z":"","path":"ws://192.168.0.235:8881/1/","wholemsg":"false"},{"id":"e2e31e11.0abea","type":"ui_chart","z":"9c65f293.33b02","name":"温度グラフ:リモコン温度","group":"57320567.c55d1c","order":1,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#0000ff","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":100,"wires":[[]]},{"id":"62ab3f74.1204a","type":"ui_gauge","z":"9c65f293.33b02","name":"温度ゲージ","group":"42cfcfd2.d19f8","order":1,"width":3,"height":3,"gtype":"gage","title":"現在の温度","label":"℃","format":"{{value}}","min":"10","max":"35","colors":["#ff7b7b","#ff0000","#a8000d"],"seg1":"20","seg2":"28","x":850,"y":60,"wires":[]},{"id":"8680c7f7.553e78","type":"ui_slider","z":"9c65f293.33b02","name":"目標温度スライダー","label":"","tooltip":"{{value}}","group":"bc8e5007.1e84f","order":4,"width":7,"height":1,"passthru":false,"outs":"end","topic":"","min":"23","max":"29","step":"0.5","x":440,"y":1080,"wires":[["215a15.3b5a35ec","8f1d2bdd.8e5698"]]},{"id":"f5a8809e.71d7d","type":"change","z":"9c65f293.33b02","name":"ttemp val","rules":[{"t":"set","p":"payload","pt":"msg","to":"'ttemp ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1120,"wires":[["f7c01d13.dbcf3","702099b7.cf3b38"]]},{"id":"7c71915c.0ad33","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":9,"width":1,"height":1,"passthru":false,"label":"27","tooltip":"","color":"","bgcolor":"","icon":"","payload":"27","payloadType":"str","topic":"","x":90,"y":1100,"wires":[["4a76a932.093ba8"]]},{"id":"5e97280e.c86828","type":"link out","z":"9c65f293.33b02","name":"AutoAircon on/off","links":["cc249647.c26b18"],"x":855,"y":300,"wires":[]},{"id":"78a1924.563406c","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":10,"width":1,"height":1,"passthru":false,"label":"28","tooltip":"","color":"","bgcolor":"","icon":"","payload":"28","payloadType":"str","topic":"","x":90,"y":1060,"wires":[["4a76a932.093ba8"]]},{"id":"f7c01d13.dbcf3","type":"link out","z":"9c65f293.33b02","name":"AutoAircon 目標温度","links":["cc249647.c26b18"],"x":1055,"y":1120,"wires":[]},{"id":"de83597d.d46488","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":11,"width":1,"height":1,"passthru":false,"label":"29","tooltip":"","color":"","bgcolor":"","icon":"","payload":"29","payloadType":"str","topic":"","x":90,"y":1020,"wires":[["4a76a932.093ba8"]]},{"id":"17b35112.efb54f","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":8,"width":1,"height":1,"passthru":false,"label":"26","tooltip":"","color":"","bgcolor":"","icon":"","payload":"26","payloadType":"str","topic":"","x":90,"y":1140,"wires":[["4a76a932.093ba8"]]},{"id":"215a15.3b5a35ec","type":"ui_numeric","z":"9c65f293.33b02","name":"目標温度 上下","label":"目標温度","tooltip":"","group":"bc8e5007.1e84f","order":3,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}} ℃","min":"23","max":"29","step":"0.5","x":420,"y":1160,"wires":[["8680c7f7.553e78","8f1d2bdd.8e5698"]]},{"id":"b9f94ddd.9b438","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":7,"width":1,"height":1,"passthru":false,"label":"25","tooltip":"","color":"","bgcolor":"","icon":"","payload":"25","payloadType":"str","topic":"","x":90,"y":1180,"wires":[["4a76a932.093ba8"]]},{"id":"975c84ff.4672d8","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":6,"width":1,"height":1,"passthru":false,"label":"24","tooltip":"","color":"","bgcolor":"","icon":"","payload":"24","payloadType":"str","topic":"","x":90,"y":1220,"wires":[["4a76a932.093ba8"]]},{"id":"c24f5832.3afe18","type":"ui_chart","z":"9c65f293.33b02","name":"温度グラフ:長期","group":"42cfcfd2.d19f8","order":2,"width":4,"height":4,"label":"","chartType":"line","legend":"false","xformat":"M/D,HH:MM","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":180,"wires":[[]]},{"id":"d958f714.b5f398","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":5,"width":2,"height":1,"name":"","label":"Kp*p","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":620,"wires":[]},{"id":"d628a65a.13a948","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":6,"width":2,"height":1,"name":"","label":"Ki*i","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":680,"wires":[]},{"id":"89b3522c.0b917","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":7,"width":2,"height":1,"name":"","label":"Kd*d","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":740,"wires":[]},{"id":"37b51c80.55c284","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":8,"width":1,"height":1,"name":"PID","label":"","format":"{{msg.payload}}","layout":"col-center","x":530,"y":560,"wires":[]},{"id":"e15734ea.0d5dd8","type":"ui_numeric","z":"9c65f293.33b02","name":"Kp","label":"","tooltip":"","group":"c40b61ea.85919","order":1,"width":2,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"50","step":"0.5","x":530,"y":800,"wires":[["9c8d0031.eb57d"]]},{"id":"69861a33.4a7f34","type":"ui_numeric","z":"9c65f293.33b02","name":"Ki","label":"","tooltip":"","group":"c40b61ea.85919","order":2,"width":2,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"50","step":"0.5","x":530,"y":860,"wires":[["fc4464fa.b869f8"]]},{"id":"4f60feb3.c1066","type":"ui_numeric","z":"9c65f293.33b02","name":"Kd","label":"","tooltip":"","group":"c40b61ea.85919","order":3,"width":2,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"50","step":"0.5","x":530,"y":920,"wires":[["97d727d6.1f39c8"]]},{"id":"9c8d0031.eb57d","type":"change","z":"9c65f293.33b02","name":"'kp val'","rules":[{"t":"set","p":"payload","pt":"msg","to":"'kp ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":800,"wires":[["1afd43e5.7a0edc"]]},{"id":"fc4464fa.b869f8","type":"change","z":"9c65f293.33b02","name":"'ki val'","rules":[{"t":"set","p":"payload","pt":"msg","to":"'ki ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":860,"wires":[["266d94d8.4366bc"]]},{"id":"97d727d6.1f39c8","type":"change","z":"9c65f293.33b02","name":"'kd val'","rules":[{"t":"set","p":"payload","pt":"msg","to":"'kd ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":920,"wires":[["9564cb54.529f78"]]},{"id":"1afd43e5.7a0edc","type":"link out","z":"9c65f293.33b02","name":"kp","links":["26746e8d.089c92","cc249647.c26b18"],"x":775,"y":800,"wires":[]},{"id":"266d94d8.4366bc","type":"link out","z":"9c65f293.33b02","name":"ki","links":["26746e8d.089c92","cc249647.c26b18"],"x":775,"y":860,"wires":[]},{"id":"9564cb54.529f78","type":"link out","z":"9c65f293.33b02","name":"kd","links":["26746e8d.089c92","cc249647.c26b18"],"x":775,"y":920,"wires":[]},{"id":"345137c0.7094a8","type":"link in","z":"9c65f293.33b02","name":"目標温度スライダー","links":["a566433f.f6ceb","234e644d.58bffc"],"x":235,"y":1080,"wires":[["8680c7f7.553e78"]]},{"id":"9e0dfc61.fcefd","type":"ui_switch","z":"9c65f293.33b02","name":"ON/OFF","label":"Power","tooltip":"","group":"bc8e5007.1e84f","order":1,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":380,"wires":[["1eb41e07.53e382"]]},{"id":"4415018.95069","type":"switch","z":"9c65f293.33b02","name":"params","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"active","vt":"str"},{"t":"hask","v":"temp","vt":"str"},{"t":"hask","v":"rtemp","vt":"str"},{"t":"hask","v":"ttemp","vt":"str"},{"t":"hask","v":"pid","vt":"str"},{"t":"hask","v":"kp_p","vt":"str"},{"t":"hask","v":"ki_i","vt":"str"},{"t":"hask","v":"kd_d","vt":"str"},{"t":"hask","v":"kp","vt":"str"},{"t":"hask","v":"ki","vt":"str"},{"t":"hask","v":"kd","vt":"str"},{"t":"hask","v":"interval_min","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":160,"y":620,"wires":[["945682f.d89d98"],["8786d010.8b71b"],["f2d1804d.a2e15"],["539de32b.89056c"],["a367c20d.e9888"],["23887cdc.c7f304"],["6d1af9a2.ee0768"],["fcfbe100.571c5"],["4b61672a.d9a318"],["a7ec1edb.61b97"],["e5d8f571.0b8978"],["d9d0714a.4960d"]]},{"id":"23887cdc.c7f304","type":"change","z":"9c65f293.33b02","name":"kp_p","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.kp_p, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":620,"wires":[["d958f714.b5f398"]]},{"id":"4278442c.79788c","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":620,"wires":[]},{"id":"6d1af9a2.ee0768","type":"change","z":"9c65f293.33b02","name":"ki_i","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.ki_i, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":680,"wires":[["d628a65a.13a948"]]},{"id":"7bd835de.3ccb2c","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":680,"wires":[]},{"id":"fcfbe100.571c5","type":"change","z":"9c65f293.33b02","name":"kd_d","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.kd_d, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":740,"wires":[["89b3522c.0b917"]]},{"id":"a367c20d.e9888","type":"change","z":"9c65f293.33b02","name":"pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.pid, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":560,"wires":[["37b51c80.55c284"]]},{"id":"cdb60543.e8a588","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":740,"wires":[]},{"id":"80a0c5.306e9f38","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":560,"wires":[]},{"id":"a7ec1edb.61b97","type":"change","z":"9c65f293.33b02","name":"ki","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.ki, 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":860,"wires":[["69861a33.4a7f34"]]},{"id":"4b61672a.d9a318","type":"change","z":"9c65f293.33b02","name":"kp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.kp, 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":800,"wires":[["e15734ea.0d5dd8"]]},{"id":"e5d8f571.0b8978","type":"change","z":"9c65f293.33b02","name":"kd","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.kd,1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":920,"wires":[["4f60feb3.c1066"]]},{"id":"945682f.d89d98","type":"change","z":"9c65f293.33b02","name":"active","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.active","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["9e0dfc61.fcefd"]]},{"id":"8786d010.8b71b","type":"change","z":"9c65f293.33b02","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":420,"wires":[["17241f0.e32c9e1","59e9aeae.7bd55"]]},{"id":"539de32b.89056c","type":"change","z":"9c65f293.33b02","name":"ttemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ttemp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"ttemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":500,"wires":[["a566433f.f6ceb","92322f42.0535e"]]},{"id":"f2d1804d.a2e15","type":"change","z":"9c65f293.33b02","name":"rtemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rtemp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"rtemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":460,"wires":[["5980eb8e.474a84"]]},{"id":"a566433f.f6ceb","type":"link out","z":"9c65f293.33b02","name":"target temp","links":["345137c0.7094a8","4c75888e.9939e8","5f59420d.d5bb8c","b784b2e6.04c9b"],"x":555,"y":500,"wires":[]},{"id":"1eb41e07.53e382","type":"switch","z":"9c65f293.33b02","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":340,"wires":[["c7f3930d.de3f8"],["4bd20554.25a5dc"]]},{"id":"4a76a932.093ba8","type":"batch","z":"9c65f293.33b02","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":230,"y":1120,"wires":[["8680c7f7.553e78","215a15.3b5a35ec","8f1d2bdd.8e5698"]]},{"id":"8afef1e6.44c4a","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":60,"wires":[]},{"id":"cc249647.c26b18","type":"link in","z":"4e7efffd.6ee66","name":"AutoAirconServer","links":["5e97280e.c86828","f7c01d13.dbcf3","1afd43e5.7a0edc","266d94d8.4366bc","9564cb54.529f78","40d27502.25b2bc"],"x":75,"y":60,"wires":[["8109a72f.b8e0a8"]]},{"id":"dab1cf38.fc65b","type":"tcp request","z":"4e7efffd.6ee66","server":"localhost","port":"51002","out":"char","splitc":"}","name":"AutoAirconServer","x":210,"y":120,"wires":[["ae4d4cdf.32e6a"]]},{"id":"8109a72f.b8e0a8","type":"delay","z":"4e7efffd.6ee66","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":60,"wires":[["dab1cf38.fc65b"]]},{"id":"96ef9e86.f78a1","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":240,"wires":[]},{"id":"ae4d4cdf.32e6a","type":"converter","z":"4e7efffd.6ee66","name":"UTF-8","from":"utf-8","x":170,"y":180,"wires":[["32d6fb50.6867c4"]]},{"id":"32d6fb50.6867c4","type":"json","z":"4e7efffd.6ee66","name":"","property":"payload","action":"","pretty":false,"x":170,"y":240,"wires":[[]]},{"id":"f8b341ef.0d1d6","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":180,"wires":[]},{"id":"94d701ba.3602b","type":"tcp in","z":"9c65f293.33b02","name":"ParamServer:51888","server":"server","host":"","port":"51888","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":130,"y":60,"wires":[["9f20a989.6072a8"]]},{"id":"b0ef113f.4e29","type":"json","z":"9c65f293.33b02","name":"","property":"payload","action":"","pretty":false,"x":110,"y":180,"wires":[["4415018.95069"]]},{"id":"9f20a989.6072a8","type":"converter","z":"9c65f293.33b02","name":"utf-8","from":"UTF-8","x":110,"y":120,"wires":[["b0ef113f.4e29"]]},{"id":"4c99d7c8.6b4598","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":5,"width":1,"height":1,"passthru":false,"label":"23","tooltip":"","color":"","bgcolor":"","icon":"","payload":"23","payloadType":"str","topic":"","x":90,"y":1260,"wires":[["4a76a932.093ba8"]]},{"id":"6da5f681.bdb8e8","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":4,"width":1,"height":1,"name":"","label":"PID","format":"{{msg.payload}}","layout":"row-left","x":850,"y":560,"wires":[]},{"id":"a8737950.a11e18","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":120,"wires":[]},{"id":"5f59420d.d5bb8c","type":"link in","z":"9c65f293.33b02","name":"目標温度上下","links":["234e644d.58bffc","a566433f.f6ceb"],"x":235,"y":1160,"wires":[["215a15.3b5a35ec"]]},{"id":"9da67e23.0f07e","type":"ui_chart","z":"9c65f293.33b02","name":"温度グラフ:短期","group":"ce4daba8.382ed8","order":1,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":140,"wires":[[]]},{"id":"cca54991.190478","type":"delay","z":"4e7efffd.6ee66","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":320,"wires":[["318f4b96.22adb4","2fc56d41.8cb7d2"]]},{"id":"cbe6d6e5.f84ac8","type":"link in","z":"4e7efffd.6ee66","name":"IrSendServer","links":["7324b8a3.e827a8","f8b247c6.52fd68","bad9cd12.41a39","4de7831.cb0ec7c","2190966.5fbdd6a","fd7f7475.b968c8","47598fc4.7b81a","b334f7e1.388998","49b2c722.082788","d8ca0d79.765f8","7abb0da0.5b0254","b64156b.5f414a8","d208d06e.d62e8","f9748688.959978","56a50c74.bbeb94","58bd862a.765608","f7669493.f79c58","d2472bc9.fd61e8","53133d3d.d06a64","b091a299.f95ea","17ac10bd.bb2c0f","4ee557d0.6da418","2cdda964.e358e6","88def1c7.f9992"],"x":75,"y":320,"wires":[["cca54991.190478"]]},{"id":"a0c55476.df0908","type":"tcp request","z":"4e7efffd.6ee66","server":"localhost","port":"51001","out":"char","splitc":"}","name":"IrSendCmdServer","x":210,"y":440,"wires":[["114ddfd.9a4ca2","4afcc63c.04bff8"]]},{"id":"5f9c46f6.7c05d8","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":560,"wires":[]},{"id":"114ddfd.9a4ca2","type":"converter","z":"4e7efffd.6ee66","name":"UTF-8","from":"utf-8","x":170,"y":500,"wires":[["e682dd70.2e4f9","b1d9eeac.ed61b"]]},{"id":"e682dd70.2e4f9","type":"json","z":"4e7efffd.6ee66","name":"","property":"payload","action":"","pretty":false,"x":170,"y":560,"wires":[["5f9c46f6.7c05d8"]]},{"id":"b1d9eeac.ed61b","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":500,"wires":[]},{"id":"4afcc63c.04bff8","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":440,"wires":[]},{"id":"318f4b96.22adb4","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":320,"wires":[]},{"id":"8ca11f87.883a1","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":12,"width":2,"height":1,"passthru":false,"label":"風向","tooltip":"","color":"","bgcolor":"","icon":"","payload":"direction","payloadType":"str","topic":"","x":370,"y":1340,"wires":[["6e6518e2.b55488"]]},{"id":"2fc56d41.8cb7d2","type":"change","z":"4e7efffd.6ee66","name":"irsend *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"irsend \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":380,"wires":[["455d73f0.c9dccc","a0c55476.df0908"]]},{"id":"455d73f0.c9dccc","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":380,"wires":[]},{"id":"6e6518e2.b55488","type":"change","z":"9c65f293.33b02","name":"aircon *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"aircon \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1340,"wires":[["7324b8a3.e827a8","6e6d2cf9.098d54"]]},{"id":"7324b8a3.e827a8","type":"link out","z":"9c65f293.33b02","name":"エアコン 風向","links":["cbe6d6e5.f84ac8"],"x":815,"y":1340,"wires":[]},{"id":"6e6d2cf9.098d54","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":550,"y":1380,"wires":[]},{"id":"27754a9a.15de16","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":1,"width":2,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":90,"y":80,"wires":[["3d8f7949.a1b946"]]},{"id":"4d45f254.e8c3fc","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":2,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":120,"wires":[["3d8f7949.a1b946"]]},{"id":"d4877e50.55d22","type":"ui_button","z":"284ce301.87709c","name":"VOL↑","group":"61b7a2b.f8f905c","order":12,"width":1,"height":1,"passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vol_up","payloadType":"str","topic":"","x":470,"y":260,"wires":[["4bce7e6f.48d59"]]},{"id":"cc134b06.749898","type":"ui_button","z":"284ce301.87709c","name":"VOL↓","group":"61b7a2b.f8f905c","order":23,"width":1,"height":1,"passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vol_down","payloadType":"str","topic":"","x":470,"y":300,"wires":[["4bce7e6f.48d59"]]},{"id":"302c78e5.035e38","type":"change","z":"284ce301.87709c","name":"lg_tv","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lg_tv \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":80,"wires":[["f8b247c6.52fd68"]]},{"id":"f8b247c6.52fd68","type":"link out","z":"284ce301.87709c","name":"LG TV","links":["cbe6d6e5.f84ac8"],"x":815,"y":120,"wires":[]},{"id":"4bce7e6f.48d59","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":80,"wires":[["302c78e5.035e38"]]},{"id":"d78c213e.e6d9f","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":3,"width":1,"height":1,"passthru":false,"label":"HDMI1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_hdmi1","payloadType":"str","topic":"","x":280,"y":300,"wires":[["edecba6c.4bb4b8"]]},{"id":"b56b82c1.ceaf9","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":4,"width":1,"height":1,"passthru":false,"label":"HDMI2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_hdmi2","payloadType":"str","topic":"","x":280,"y":340,"wires":[["edecba6c.4bb4b8"]]},{"id":"989b72dc.6923","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":5,"width":1,"height":1,"passthru":false,"label":"HDMI3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_hdmi3","payloadType":"str","topic":"","x":280,"y":380,"wires":[["edecba6c.4bb4b8"]]},{"id":"42b5eadf.476244","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":8,"width":1,"height":1,"passthru":false,"label":"地デジ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_dtv","payloadType":"str","topic":"","x":290,"y":140,"wires":[["edecba6c.4bb4b8"]]},{"id":"93dc201a.c9341","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":9,"width":1,"height":1,"passthru":false,"label":"BS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_bs","payloadType":"str","topic":"","x":290,"y":180,"wires":[["edecba6c.4bb4b8"]]},{"id":"97d50e1e.7dc5b","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":10,"width":1,"height":1,"passthru":false,"label":"CS1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_cs1","payloadType":"str","topic":"","x":290,"y":220,"wires":[["edecba6c.4bb4b8"]]},{"id":"d2ba0b4.a2c4ff8","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":11,"width":1,"height":1,"passthru":false,"label":"CS2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_cs2","payloadType":"str","topic":"","x":290,"y":260,"wires":[["edecba6c.4bb4b8"]]},{"id":"8922de3c.37b27","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":28,"width":2,"height":1,"passthru":false,"label":"HOME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"home","payloadType":"str","topic":"","x":90,"y":160,"wires":[["3d8f7949.a1b946"]]},{"id":"14f67b12.805075","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":20,"width":1,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ok","payloadType":"str","topic":"","x":90,"y":200,"wires":[["3d8f7949.a1b946"]]},{"id":"5bce0251.55294c","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":25,"width":1,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back","payloadType":"str","topic":"","x":90,"y":240,"wires":[["3d8f7949.a1b946"]]},{"id":"9c8beae.b5d1418","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":15,"width":1,"height":1,"passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"up","payloadType":"str","topic":"","x":90,"y":280,"wires":[["3d8f7949.a1b946"]]},{"id":"3d86b79e.6a7298","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":26,"width":1,"height":1,"passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"down","payloadType":"str","topic":"","x":90,"y":320,"wires":[["3d8f7949.a1b946"]]},{"id":"adcb1e16.4b47c","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":19,"width":1,"height":1,"passthru":false,"label":"←","tooltip":"","color":"","bgcolor":"","icon":"","payload":"left","payloadType":"str","topic":"","x":90,"y":360,"wires":[["3d8f7949.a1b946"]]},{"id":"6474fa30.3c22d4","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":21,"width":1,"height":1,"passthru":false,"label":"→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"right","payloadType":"str","topic":"","x":90,"y":400,"wires":[["3d8f7949.a1b946"]]},{"id":"5444c4b4.d4fa7c","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":27,"width":1,"height":1,"passthru":false,"label":"END","tooltip":"","color":"","bgcolor":"","icon":"","payload":"end","payloadType":"str","topic":"","x":90,"y":440,"wires":[["3d8f7949.a1b946"]]},{"id":"52e790cf.44c5f","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":22,"width":2,"height":1,"passthru":false,"label":"設定","tooltip":"","color":"","bgcolor":"","icon":"","payload":"settings","payloadType":"str","topic":"","x":270,"y":420,"wires":[["edecba6c.4bb4b8"]]},{"id":"68706e28.2707e","type":"ui_text","z":"284ce301.87709c","group":"61b7a2b.f8f905c","order":18,"width":1,"height":1,"name":"","label":"Ch","format":"{{msg.payload}}","layout":"col-center","x":830,"y":220,"wires":[]},{"id":"990197ff.eee8d8","type":"ui_text","z":"284ce301.87709c","group":"61b7a2b.f8f905c","order":17,"width":1,"height":1,"name":"","label":"Vol","format":"{{msg.payload}}","layout":"col-center","x":830,"y":180,"wires":[]},{"id":"42cf447d.d0eb5c","type":"ui_button","z":"284ce301.87709c","name":"CH↑","group":"61b7a2b.f8f905c","order":13,"width":1,"height":1,"passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_prev","payloadType":"str","topic":"","x":470,"y":140,"wires":[["4bce7e6f.48d59"]]},{"id":"3cc3102d.8470d","type":"ui_button","z":"284ce301.87709c","name":"CH↓","group":"61b7a2b.f8f905c","order":24,"width":1,"height":1,"passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_next","payloadType":"str","topic":"","x":470,"y":180,"wires":[["4bce7e6f.48d59"]]},{"id":"b6268c6c.a88ff","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":6,"width":2,"height":1,"passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"","payload":"mute","payloadType":"str","topic":"","x":470,"y":220,"wires":[["4bce7e6f.48d59"]]},{"id":"c7f90427.1e00a8","type":"change","z":"284ce301.87709c","name":"sharp_light *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sharp_light \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1100,"wires":[["bad9cd12.41a39","261cda04.52f3b6"]]},{"id":"bad9cd12.41a39","type":"link out","z":"284ce301.87709c","name":"Sharp 照明","links":["cbe6d6e5.f84ac8"],"x":795,"y":1060,"wires":[]},{"id":"64192e33.0f9a4","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":1100,"wires":[["c7f90427.1e00a8"]]},{"id":"3d8f7949.a1b946","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":80,"wires":[["edecba6c.4bb4b8"]]},{"id":"edecba6c.4bb4b8","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":80,"wires":[["4bce7e6f.48d59"]]},{"id":"f0b36d88.ef1bd","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":1100,"wires":[["69981b7a.1927e4"]]},{"id":"69981b7a.1927e4","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":1100,"wires":[["64192e33.0f9a4"]]},{"id":"1645211f.c5f19f","type":"ui_button","z":"284ce301.87709c","name":"","group":"e59ffdb8.ef046","order":1,"width":2,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":90,"y":1100,"wires":[["f0b36d88.ef1bd"]]},{"id":"90ae39df.55ca68","type":"ui_button","z":"284ce301.87709c","name":"","group":"e59ffdb8.ef046","order":4,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":1140,"wires":[["f0b36d88.ef1bd"]]},{"id":"7d329ff8.36562","type":"ui_button","z":"284ce301.87709c","name":"","group":"e59ffdb8.ef046","order":2,"width":2,"height":1,"passthru":false,"label":"Full","tooltip":"","color":"","bgcolor":"","icon":"","payload":"full","payloadType":"str","topic":"","x":90,"y":1180,"wires":[["f0b36d88.ef1bd"]]},{"id":"2f68aaad.ad07b6","type":"ui_button","z":"284ce301.87709c","name":"","group":"e59ffdb8.ef046","order":3,"width":1,"height":1,"passthru":false,"label":"night","tooltip":"","color":"","bgcolor":"","icon":"","payload":"night","payloadType":"str","topic":"","x":90,"y":1220,"wires":[["f0b36d88.ef1bd"]]},{"id":"f2167e07.ac5db","type":"link in","z":"9c65f293.33b02","name":"グラフ長期","links":["5c99cf7c.95645","234e644d.58bffc"],"x":615,"y":180,"wires":[["c24f5832.3afe18"]]},{"id":"4c75888e.9939e8","type":"link in","z":"9c65f293.33b02","name":"グラフ短期1","links":["a566433f.f6ceb","5980eb8e.474a84","17241f0.e32c9e1","234e644d.58bffc"],"x":615,"y":100,"wires":[["e2e31e11.0abea"]]},{"id":"b784b2e6.04c9b","type":"link in","z":"9c65f293.33b02","name":"グラフ短期2","links":["a566433f.f6ceb","17241f0.e32c9e1","234e644d.58bffc"],"x":615,"y":140,"wires":[["9da67e23.0f07e"]]},{"id":"17241f0.e32c9e1","type":"link out","z":"9c65f293.33b02","name":"current temp","links":["4c75888e.9939e8","b784b2e6.04c9b","f0705eda.eacbe"],"x":555,"y":420,"wires":[]},{"id":"5980eb8e.474a84","type":"link out","z":"9c65f293.33b02","name":"remocon temp","links":["4c75888e.9939e8"],"x":555,"y":460,"wires":[]},{"id":"f0705eda.eacbe","type":"link in","z":"9c65f293.33b02","name":"ゲージ 温度","links":["17241f0.e32c9e1"],"x":615,"y":60,"wires":[["62ab3f74.1204a"]]},{"id":"59e9aeae.7bd55","type":"delay","z":"9c65f293.33b02","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":420,"wires":[["5c99cf7c.95645"]]},{"id":"5c99cf7c.95645","type":"link out","z":"9c65f293.33b02","name":"current temp limit","links":["f2167e07.ac5db"],"x":875,"y":420,"wires":[]},{"id":"234e644d.58bffc","type":"link out","z":"9c65f293.33b02","name":"target temp limit","links":["345137c0.7094a8","4c75888e.9939e8","5f59420d.d5bb8c","b784b2e6.04c9b","f2167e07.ac5db"],"x":875,"y":500,"wires":[]},{"id":"92322f42.0535e","type":"delay","z":"9c65f293.33b02","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":500,"wires":[["234e644d.58bffc"]]},{"id":"65c6493e.729b28","type":"ui_chart","z":"9c65f293.33b02","name":"湿度グラフ:短期","group":"9ddca472.123b38","order":1,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#0080ff","#0000ff","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":1460,"wires":[[]]},{"id":"dfab69c0.006fe8","type":"mqtt in","z":"9c65f293.33b02","name":"","topic":"env2/humidity","qos":"1","datatype":"auto","broker":"2103e855.4e57a8","x":110,"y":1460,"wires":[["a342721b.9224e"]]},{"id":"5a8aadef.324844","type":"ui_chart","z":"9c65f293.33b02","name":"湿度グラフ:長期","group":"ee96d0d9.fd196","order":2,"width":4,"height":4,"label":"","chartType":"line","legend":"false","xformat":"M/D,HH:MM","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0080ff","#0080ff","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":1520,"wires":[[]]},{"id":"ae0924ca.6fa098","type":"delay","z":"9c65f293.33b02","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":1520,"wires":[["5a8aadef.324844","37bbdb76.1e9764"]]},{"id":"4abea2ac.7747cc","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":130,"y":1520,"wires":[]},{"id":"cedd48f5.a3abb8","type":"change","z":"9c65f293.33b02","name":"data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.$round(data,1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1460,"wires":[["65c6493e.729b28","ae0924ca.6fa098","f0f83aad.823b78"]]},{"id":"a342721b.9224e","type":"json","z":"9c65f293.33b02","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1460,"wires":[["cedd48f5.a3abb8"]]},{"id":"37bbdb76.1e9764","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":1560,"wires":[]},{"id":"5650f157.355b3","type":"change","z":"284ce301.87709c","name":"sony_bl","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":500,"wires":[["4de7831.cb0ec7c"]]},{"id":"edf35ac4.287308","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":500,"wires":[["5650f157.355b3"]]},{"id":"ba592604.3b47c8","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":500,"wires":[["86c49fa3.56cc9"]]},{"id":"86c49fa3.56cc9","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":500,"wires":[["edf35ac4.287308"]]},{"id":"4de7831.cb0ec7c","type":"link out","z":"284ce301.87709c","name":"LG TV","links":["cbe6d6e5.f84ac8"],"x":815,"y":540,"wires":[]},{"id":"762b79be.e7c308","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":1,"width":2,"height":1,"passthru":false,"label":"Power","tooltip":"","color":"","bgcolor":"","icon":"","payload":"power","payloadType":"str","topic":"","x":90,"y":500,"wires":[["ba592604.3b47c8"]]},{"id":"94388ee.43ad87","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":4,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"home","payloadType":"str","topic":"","x":90,"y":540,"wires":[["ba592604.3b47c8"]]},{"id":"40192618.daf2e8","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":12,"width":2,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back","payloadType":"str","topic":"","x":90,"y":580,"wires":[["ba592604.3b47c8"]]},{"id":"2f158943.b663a6","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":5,"width":2,"height":1,"passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"up","payloadType":"str","topic":"","x":90,"y":620,"wires":[["ba592604.3b47c8"]]},{"id":"d86d77a1.dca538","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":13,"width":2,"height":1,"passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"down","payloadType":"str","topic":"","x":90,"y":660,"wires":[["ba592604.3b47c8"]]},{"id":"88f2c584.a5aec8","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":8,"width":2,"height":1,"passthru":false,"label":"←","tooltip":"","color":"","bgcolor":"","icon":"","payload":"left","payloadType":"str","topic":"","x":90,"y":700,"wires":[["ba592604.3b47c8"]]},{"id":"6681bc68.853fd4","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":10,"width":2,"height":1,"passthru":false,"label":"→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"right","payloadType":"str","topic":"","x":90,"y":740,"wires":[["ba592604.3b47c8"]]},{"id":"1852bd74.cf6703","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":16,"width":1,"height":1,"passthru":false,"label":"青","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"blue","payloadType":"str","topic":"","x":650,"y":540,"wires":[["5650f157.355b3"]]},{"id":"5b738b4f.9cca14","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":17,"width":1,"height":1,"passthru":false,"label":"赤","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"red","payloadType":"str","topic":"","x":650,"y":580,"wires":[["5650f157.355b3"]]},{"id":"e2ac1e59.d8a81","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":18,"width":1,"height":1,"passthru":false,"label":"緑","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"green","payloadType":"str","topic":"","x":650,"y":620,"wires":[["5650f157.355b3"]]},{"id":"eac7482.79fa9b8","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":19,"width":1,"height":1,"passthru":false,"label":"黄","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"yellow","payloadType":"str","topic":"","x":650,"y":660,"wires":[["5650f157.355b3"]]},{"id":"fdb540e0.aa0d6","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":16,"width":1,"height":1,"passthru":false,"label":"d","tooltip":"","color":"","bgcolor":"","icon":"","payload":"data","payloadType":"str","topic":"","x":650,"y":700,"wires":[["5650f157.355b3"]]},{"id":"7afca7b8.74eb98","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":2,"width":2,"height":1,"passthru":false,"label":"▷","tooltip":"","color":"","bgcolor":"","icon":"","payload":"play","payloadType":"str","topic":"","x":470,"y":540,"wires":[["edf35ac4.287308"]]},{"id":"d6e3c887.ed6a28","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":10,"width":2,"height":1,"passthru":false,"label":"□","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":470,"y":580,"wires":[["edf35ac4.287308"]]},{"id":"c5e51d76.7eecd","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":6,"width":2,"height":1,"passthru":false,"label":"||","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pause","payloadType":"str","topic":"","x":470,"y":620,"wires":[["edf35ac4.287308"]]},{"id":"d174cbaa.3cc618","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":11,"width":2,"height":1,"passthru":false,"label":"▷|","tooltip":"","color":"","bgcolor":"","icon":"","payload":"next","payloadType":"str","topic":"","x":470,"y":660,"wires":[["edf35ac4.287308"]]},{"id":"422e9ffd.f1cac","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":9,"width":2,"height":1,"passthru":false,"label":"|◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"prev","payloadType":"str","topic":"","x":470,"y":700,"wires":[["edf35ac4.287308"]]},{"id":"206ca09c.ae97","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":1,"width":1,"height":1,"passthru":false,"label":"地デジ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"dtb","payloadType":"str","topic":"","x":90,"y":820,"wires":[["ba592604.3b47c8"]]},{"id":"60c2ee12.ae638","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":2,"width":1,"height":1,"passthru":false,"label":"BS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"bs","payloadType":"str","topic":"","x":90,"y":860,"wires":[["ba592604.3b47c8"]]},{"id":"7d77f051.baeb2","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":3,"width":1,"height":1,"passthru":false,"label":"CS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cs","payloadType":"str","topic":"","x":90,"y":900,"wires":[["ba592604.3b47c8"]]},{"id":"446a37bd.194348","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":3,"width":2,"height":1,"passthru":false,"label":"▷15","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fwd_15","payloadType":"str","topic":"","x":470,"y":740,"wires":[["edf35ac4.287308"]]},{"id":"38aa7f97.566e5","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":1,"width":2,"height":1,"passthru":false,"label":"10◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back_10","payloadType":"str","topic":"","x":470,"y":780,"wires":[["edf35ac4.287308"]]},{"id":"9f4d0e71.1f275","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":7,"width":2,"height":1,"passthru":false,"label":"▷▷","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fast","payloadType":"str","topic":"","x":470,"y":820,"wires":[["edf35ac4.287308"]]},{"id":"38c576c9.4df76a","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":5,"width":2,"height":1,"passthru":false,"label":"◁◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"rewind","payloadType":"str","topic":"","x":470,"y":860,"wires":[["edf35ac4.287308"]]},{"id":"4ebce922.517798","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":9,"width":2,"height":1,"passthru":false,"label":"○","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ok","payloadType":"str","topic":"","x":90,"y":780,"wires":[["ba592604.3b47c8"]]},{"id":"973e352a.935548","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":3,"width":2,"height":1,"passthru":false,"label":"△","tooltip":"","color":"","bgcolor":"","icon":"","payload":"eject","payloadType":"str","topic":"","x":470,"y":900,"wires":[["edf35ac4.287308"]]},{"id":"4a48edd9.319f64","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":10,"width":1,"height":1,"passthru":false,"label":"Ch→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_next","payloadType":"str","topic":"","x":90,"y":940,"wires":[["ba592604.3b47c8"]]},{"id":"f86b3be5.b98f78","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":8,"width":1,"height":1,"passthru":false,"label":"←Ch","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_prev","payloadType":"str","topic":"","x":90,"y":980,"wires":[["ba592604.3b47c8"]]},{"id":"b6367223.0fead","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":4,"width":1,"height":1,"passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_01","payloadType":"str","topic":"","x":290,"y":540,"wires":[["86c49fa3.56cc9"]]},{"id":"db0ad8e6.8ec9b8","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":5,"width":1,"height":1,"passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_02","payloadType":"str","topic":"","x":290,"y":580,"wires":[["86c49fa3.56cc9"]]},{"id":"3cf2d7a9.548718","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":6,"width":1,"height":1,"passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_03","payloadType":"str","topic":"","x":290,"y":620,"wires":[["86c49fa3.56cc9"]]},{"id":"4ff9f77d.31a998","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":7,"width":1,"height":1,"passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_04","payloadType":"str","topic":"","x":290,"y":660,"wires":[["86c49fa3.56cc9"]]},{"id":"49d04420.882a7c","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":11,"width":1,"height":1,"passthru":false,"label":"5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_05","payloadType":"str","topic":"","x":290,"y":700,"wires":[["86c49fa3.56cc9"]]},{"id":"2abd8728.5d7f08","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":12,"width":1,"height":1,"passthru":false,"label":"6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_06","payloadType":"str","topic":"","x":290,"y":740,"wires":[["86c49fa3.56cc9"]]},{"id":"bbab81ba.9bd4b","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":13,"width":1,"height":1,"passthru":false,"label":"7","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_07","payloadType":"str","topic":"","x":290,"y":780,"wires":[["86c49fa3.56cc9"]]},{"id":"a4f20132.5ba4b","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":14,"width":1,"height":1,"passthru":false,"label":"8","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_08","payloadType":"str","topic":"","x":290,"y":820,"wires":[["86c49fa3.56cc9"]]},{"id":"c41f9a98.0c4458","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":18,"width":1,"height":1,"passthru":false,"label":"9","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_09","payloadType":"str","topic":"","x":290,"y":860,"wires":[["86c49fa3.56cc9"]]},{"id":"21a8df9b.3e68a","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":19,"width":1,"height":1,"passthru":false,"label":"10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_10","payloadType":"str","topic":"","x":290,"y":900,"wires":[["86c49fa3.56cc9"]]},{"id":"d4185109.4185c","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":20,"width":1,"height":1,"passthru":false,"label":"11","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_11","payloadType":"str","topic":"","x":290,"y":940,"wires":[["86c49fa3.56cc9"]]},{"id":"4dea3b9b.d2a9b4","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":21,"width":1,"height":1,"passthru":false,"label":"12","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_12","payloadType":"str","topic":"","x":290,"y":980,"wires":[["86c49fa3.56cc9"]]},{"id":"61dc1f77.f2924","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":6,"width":2,"height":1,"passthru":false,"label":"Opt","tooltip":"","color":"","bgcolor":"","icon":"","payload":"option","payloadType":"str","topic":"","x":90,"y":1020,"wires":[["ba592604.3b47c8"]]},{"id":"b058f3ab.cc217","type":"ui_slider","z":"284ce301.87709c","name":"","label":"ソメイヨシノ","tooltip":"","group":"e59ffdb8.ef046","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":120,"y":1420,"wires":[["fbd12c6e.e74ac"]]},{"id":"7565d3bc.cf90ec","type":"ui_slider","z":"284ce301.87709c","name":"","label":"八重桜　　　","tooltip":"","group":"e59ffdb8.ef046","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":120,"y":1480,"wires":[["c026beae.81798"]]},{"id":"261cda04.52f3b6","type":"debug","z":"284ce301.87709c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":1140,"wires":[]},{"id":"fbd12c6e.e74ac","type":"change","z":"284ce301.87709c","name":"on_someiyoshino","rules":[{"t":"set","p":"prefix","pt":"msg","to":"on_someiyoshino","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1420,"wires":[["a6e1909.621a47"]]},{"id":"2b401090.8e66","type":"change","z":"284ce301.87709c","name":"prefix + num","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.prefix& $substring(\"0\" & msg.payload, -2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1320,"wires":[["9bc73d37.cb01c","c7f90427.1e00a8"]]},{"id":"9bc73d37.cb01c","type":"debug","z":"284ce301.87709c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":1360,"wires":[]},{"id":"c026beae.81798","type":"change","z":"284ce301.87709c","name":"on_someiyoshino","rules":[{"t":"set","p":"prefix","pt":"msg","to":"on_yaezakura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1480,"wires":[["a6e1909.621a47"]]},{"id":"4ac03a45.05c144","type":"ui_slider","z":"284ce301.87709c","name":"","label":"color","tooltip":"","group":"e59ffdb8.ef046","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":90,"y":1300,"wires":[["8c69f874.1f4778"]]},{"id":"6c3a0f83.ae28f","type":"ui_slider","z":"284ce301.87709c","name":"","label":"level","tooltip":"","group":"e59ffdb8.ef046","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":90,"y":1360,"wires":[["dbce8e53.71a0e"]]},{"id":"8c69f874.1f4778","type":"change","z":"284ce301.87709c","name":"color","rules":[{"t":"set","p":"prefix","pt":"msg","to":"color","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1300,"wires":[["8592ca26.6686c8"]]},{"id":"dbce8e53.71a0e","type":"change","z":"284ce301.87709c","name":"level","rules":[{"t":"set","p":"prefix","pt":"msg","to":"level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1360,"wires":[["8592ca26.6686c8"]]},{"id":"8592ca26.6686c8","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":510,"y":1320,"wires":[["2b401090.8e66"]]},{"id":"a6e1909.621a47","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":510,"y":1440,"wires":[["2b401090.8e66"]]},{"id":"ba83e2e7.32a99","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":4,"width":1,"height":1,"passthru":false,"label":"●","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"rec","payloadType":"str","topic":"","x":470,"y":940,"wires":[["edf35ac4.287308"]]},{"id":"f0f83aad.823b78","type":"ui_gauge","z":"9c65f293.33b02","name":"湿度","group":"ee96d0d9.fd196","order":1,"width":3,"height":3,"gtype":"gage","title":"現在の湿度","label":"％","format":"{{value}}","min":"10","max":"80","colors":["#80ffff","#0080ff","#0000ff"],"seg1":"20","seg2":"60","x":810,"y":1420,"wires":[]},{"id":"c7f3930d.de3f8","type":"change","z":"9c65f293.33b02","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[["5e97280e.c86828"]]},{"id":"4bd20554.25a5dc","type":"change","z":"9c65f293.33b02","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["5e97280e.c86828"]]},{"id":"d9d0714a.4960d","type":"change","z":"9c65f293.33b02","name":"interval_min","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.interval_min)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":980,"wires":[["d7d0709b.f6548"]]},{"id":"d7d0709b.f6548","type":"ui_numeric","z":"9c65f293.33b02","name":"Interval[sec]","label":"Interval [sec]","tooltip":"","group":"c40b61ea.85919","order":9,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"300","step":"5","x":470,"y":980,"wires":[["49427a00.5b7348"]]},{"id":"49427a00.5b7348","type":"change","z":"9c65f293.33b02","name":"'interval_min val'","rules":[{"t":"set","p":"payload","pt":"msg","to":"'interval_min ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":980,"wires":[["40d27502.25b2bc"]]},{"id":"40d27502.25b2bc","type":"link out","z":"9c65f293.33b02","name":"interval_min","links":["cc249647.c26b18"],"x":775,"y":980,"wires":[]},{"id":"a4a8c170.18ccd","type":"batch","z":"47f96de1.dd13a4","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":550,"y":40,"wires":[["3d861489.ca549c","a7446840.929d38","1635c065.40658"]]},{"id":"40195287.ecbfec","type":"batch","z":"47f96de1.dd13a4","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":250,"y":40,"wires":[["27a0b586.fb078a"]]},{"id":"27a0b586.fb078a","type":"batch","z":"47f96de1.dd13a4","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":410,"y":40,"wires":[["a4a8c170.18ccd"]]},{"id":"97090fe1.caad5","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":1,"width":2,"height":1,"passthru":false,"label":"Power","tooltip":"","color":"","bgcolor":"","icon":"","payload":"power","payloadType":"str","topic":"","x":90,"y":40,"wires":[["40195287.ecbfec"]]},{"id":"3d861489.ca549c","type":"exec","z":"47f96de1.dd13a4","command":"/home/pi/bin/dyson.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"dyson.sh","x":700,"y":40,"wires":[["8eac3324.7ea41"],[],[]]},{"id":"5a5437b.9f92dc8","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":2,"width":2,"height":1,"passthru":false,"label":"温度↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_up","payloadType":"str","topic":"","x":250,"y":80,"wires":[["27a0b586.fb078a"]]},{"id":"fb6fe311.cf0cc","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":6,"width":2,"height":1,"passthru":false,"label":"温度↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_down","payloadType":"str","topic":"","x":250,"y":120,"wires":[["27a0b586.fb078a"]]},{"id":"8eac3324.7ea41","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":730,"y":180,"wires":[]},{"id":"4dcaf63e.0d3af8","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":3,"width":2,"height":1,"passthru":false,"label":"風↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fan_up","payloadType":"str","topic":"","x":410,"y":80,"wires":[["a4a8c170.18ccd"]]},{"id":"6939ddb2.32f244","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":5,"width":2,"height":1,"passthru":false,"label":"←→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"turn","payloadType":"str","topic":"","x":90,"y":80,"wires":[["40195287.ecbfec"]]},{"id":"9b5a66a.1e2f798","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":7,"width":2,"height":1,"passthru":false,"label":"風↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fan_down","payloadType":"str","topic":"","x":410,"y":120,"wires":[["a4a8c170.18ccd"]]},{"id":"94109d00.0c7e9","type":"ui_slider","z":"47f96de1.dd13a4","name":"","label":"温度","tooltip":"","group":"2b621372.6c977c","order":9,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":190,"y":440,"wires":[["f92c1d97.49216","bd9f231c.d63d1"]]},{"id":"f92c1d97.49216","type":"exec","z":"47f96de1.dd13a4","command":"/home/pi/bin/dyson-temp.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"dyson-temp.sh","x":620,"y":480,"wires":[["c367bd05.6e1eb"],["c367bd05.6e1eb"],[]]},{"id":"c367bd05.6e1eb","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":560,"wires":[]},{"id":"a2bec445.f72668","type":"ui_button","z":"153a3022.b5e5c","name":"","group":"f01b9a4a.751da8","order":1,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":40,"wires":[["10580af0.13e135"]]},{"id":"651aa7de.0972a8","type":"change","z":"153a3022.b5e5c","name":"bose *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"bose \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":40,"wires":[["fd7f7475.b968c8","622ee4ae.0d1adc"]]},{"id":"fd7f7475.b968c8","type":"link out","z":"153a3022.b5e5c","name":"Bose","links":["cbe6d6e5.f84ac8"],"x":815,"y":80,"wires":[]},{"id":"e1a16af3.a84938","type":"batch","z":"153a3022.b5e5c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":40,"wires":[["651aa7de.0972a8"]]},{"id":"10580af0.13e135","type":"batch","z":"153a3022.b5e5c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":40,"wires":[["5b2ac76.d3f5c38"]]},{"id":"5b2ac76.d3f5c38","type":"batch","z":"153a3022.b5e5c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":40,"wires":[["e1a16af3.a84938"]]},{"id":"ed25f5fd.b8ffb8","type":"ui_button","z":"153a3022.b5e5c","name":"","group":"f01b9a4a.751da8","order":2,"width":2,"height":1,"passthru":false,"label":"Vol ↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vol_up @1 vol_up @1 vol_up @1 vol_up @1 vol_up","payloadType":"str","topic":"","x":90,"y":80,"wires":[["10580af0.13e135"]]},{"id":"c4b22c56.bde5b","type":"ui_button","z":"153a3022.b5e5c","name":"","group":"f01b9a4a.751da8","order":3,"width":2,"height":1,"passthru":false,"label":"Vol ↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vol_down","payloadType":"str","topic":"","x":90,"y":120,"wires":[["10580af0.13e135"]]},{"id":"622ee4ae.0d1adc","type":"debug","z":"153a3022.b5e5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":120,"wires":[]},{"id":"3a9cccc2.4f87f4","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"41011","acknoledge":true,"name":"スマート音量","topic":"","x":110,"y":100,"wires":[["c32d9a54.31ff58","775cbde7.88ee44","d516b20b.fd304"]]},{"id":"c32d9a54.31ff58","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":340,"y":100,"wires":[["29bc83a0.f1972c"],["f71ec86f.14c468"],[]]},{"id":"29bc83a0.f1972c","type":"change","z":"90da4636.c9a6a8","name":"Vol Up Repeat","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[["c33b8e95.d7187"]]},{"id":"f71ec86f.14c468","type":"change","z":"90da4636.c9a6a8","name":"Vol Down Repeat","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":120,"wires":[["c33b8e95.d7187"]]},{"id":"775cbde7.88ee44","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":165,"y":162,"wires":[]},{"id":"b334f7e1.388998","type":"link out","z":"90da4636.c9a6a8","name":"lg_tv","links":["cbe6d6e5.f84ac8"],"x":835,"y":100,"wires":[]},{"id":"bb2184c3.d8f518","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"48084","acknoledge":true,"name":"スマートCH","topic":"","x":110,"y":880,"wires":[["c5bf2a6e.926278","7cbb6de1.f0d1c4","8b9f6465.ab5f78"]]},{"id":"49b2c722.082788","type":"link out","z":"90da4636.c9a6a8","name":"スマートCH","links":["cbe6d6e5.f84ac8"],"x":955,"y":1140,"wires":[]},{"id":"c5bf2a6e.926278","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":200,"y":960,"wires":[["d9e32bac.c750d8"],["840e367.b3d9fc8"],["830acf1c.9d14a"],["ccfcea77.e43398"],["bfe273f1.43da5"]]},{"id":"7cbb6de1.f0d1c4","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":1020,"wires":[]},{"id":"8b9f6465.ab5f78","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":1080,"wires":[]},{"id":"ccfcea77.e43398","type":"change","z":"90da4636.c9a6a8","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1240,"wires":[["62fd9804.977188","840e367.b3d9fc8"]]},{"id":"bfe273f1.43da5","type":"change","z":"90da4636.c9a6a8","name":"ch_prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1280,"wires":[["62fd9804.977188","840e367.b3d9fc8"]]},{"id":"8d6f61fd.56145","type":"change","z":"90da4636.c9a6a8","name":"ch_?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1100,"wires":[["62fd9804.977188","840e367.b3d9fc8"]]},{"id":"ce86873b.17f628","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"48150","acknoledge":true,"name":"Sony BL","topic":"","x":100,"y":1860,"wires":[["cb43fbe5.7ca508","fa9ae68.0a14b18","951054a4.5fb648"]]},{"id":"f7669493.f79c58","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL","links":["cbe6d6e5.f84ac8"],"x":755,"y":1860,"wires":[]},{"id":"cb43fbe5.7ca508","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":280,"y":1860,"wires":[["9328ee13.8f8a6"],["9328ee13.8f8a6"],["57be3ca3.b54c14"],["e86c905a.0bd4d"],["349dee91.fe9842"]]},{"id":"fa9ae68.0a14b18","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":1920,"wires":[]},{"id":"951054a4.5fb648","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":1980,"wires":[]},{"id":"9328ee13.8f8a6","type":"change","z":"90da4636.c9a6a8","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1760,"wires":[["6bf9cb64.fe69c4"]]},{"id":"57be3ca3.b54c14","type":"change","z":"90da4636.c9a6a8","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1800,"wires":[["6bf9cb64.fe69c4"]]},{"id":"e86c905a.0bd4d","type":"change","z":"90da4636.c9a6a8","name":"ch_prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1840,"wires":[["6bf9cb64.fe69c4"]]},{"id":"d3efced8.a68c1","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":860,"y":1180,"wires":[]},{"id":"55a67adc.f4ccd4","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":820,"y":1940,"wires":[]},{"id":"29a23160.adea9e","type":"change","z":"90da4636.c9a6a8","name":"ch_?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1900,"wires":[["6bf9cb64.fe69c4"]]},{"id":"349dee91.fe9842","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"12","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"30","vt":"num"},{"t":"eq","v":"31","vt":"num"},{"t":"eq","v":"32","vt":"num"},{"t":"eq","v":"33","vt":"num"},{"t":"eq","v":"34","vt":"num"},{"t":"eq","v":"41","vt":"num"},{"t":"eq","v":"42","vt":"num"},{"t":"eq","v":"43","vt":"num"},{"t":"eq","v":"51","vt":"num"},{"t":"eq","v":"52","vt":"num"},{"t":"eq","v":"53","vt":"num"},{"t":"eq","v":"54","vt":"num"},{"t":"eq","v":"61","vt":"num"},{"t":"eq","v":"62","vt":"num"},{"t":"eq","v":"81","vt":"num"},{"t":"eq","v":"82","vt":"num"},{"t":"eq","v":"83","vt":"num"},{"t":"eq","v":"84","vt":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"92","vt":"num"},{"t":"eq","v":"93","vt":"num"}],"checkall":"false","repair":false,"outputs":24,"x":210,"y":2200,"wires":[["29a23160.adea9e"],["eb36b5ed.346768"],["b284edb5.bec1d"],["50d22e13.6fe34"],["5485b1f3.9979"],["500f6f4.92eda9"],["2bcfac0d.d7b514"],["c4d3e9d4.747498"],["ea3e51fe.5b702"],["704c2abf.7de764"],["842cdf43.f0f5d"],["e4eb067.8a775f8"],["6d4e2e6c.8a1b6"],["9c7a831a.d14fa"],["4cfb32a3.fa1ccc"],["302d3324.756d0c"],["4139020c.b8e64c"],["2fd5429c.443b5e"],["4288f297.9db0fc"],["3410e0b3.66bb2"],["1dc456d7.9b3b09"],["7f4408fb.8f3408"],["90713a7b.04d078"],["59be716d.bcaa3"]]},{"id":"6bf9cb64.fe69c4","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":1900,"wires":[["c1cd29e.62087d8"]]},{"id":"56fb069f.625818","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2120,"wires":[["12792fff.4a56a"]]},{"id":"e4eb067.8a775f8","type":"change","z":"90da4636.c9a6a8","name":"fwd_15","rules":[{"t":"set","p":"payload","pt":"msg","to":"fwd_15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2400,"wires":[["284e8e40.381402"]]},{"id":"6d4e2e6c.8a1b6","type":"change","z":"90da4636.c9a6a8","name":"back_10","rules":[{"t":"set","p":"payload","pt":"msg","to":"back_10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2440,"wires":[["8edf8013.795ae"]]},{"id":"62fd9804.977188","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":830,"y":1100,"wires":[["6542c805.f5e838"]]},{"id":"d9e32bac.c750d8","type":"change","z":"90da4636.c9a6a8","name":"zapping:on","rules":[{"t":"set","p":"zapping","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":940,"wires":[["8193e82c.77ea48"]]},{"id":"840e367.b3d9fc8","type":"change","z":"90da4636.c9a6a8","name":"zapping:off","rules":[{"t":"set","p":"zapping","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1000,"wires":[["9eb3bb19.739a78"]]},{"id":"6a142d78.0506a4","type":"switch","z":"90da4636.c9a6a8","name":"zapping?","property":"zapping","propertyType":"flow","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":800,"y":940,"wires":[["fa8f2dc.e872fd"],[],["840e367.b3d9fc8"]]},{"id":"fa8f2dc.e872fd","type":"change","z":"90da4636.c9a6a8","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":920,"wires":[["62fd9804.977188","9bc7effd.5a3d2"]]},{"id":"9bc7effd.5a3d2","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":860,"wires":[["8193e82c.77ea48"]]},{"id":"8193e82c.77ea48","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":630,"y":940,"wires":[["6a142d78.0506a4","9eb3bb19.739a78"]]},{"id":"93a97d14.67461","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":560,"y":880,"wires":[]},{"id":"9eb3bb19.739a78","type":"change","z":"90da4636.c9a6a8","name":"zapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"zapping","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":880,"wires":[["93a97d14.67461"]]},{"id":"830acf1c.9d14a","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"9","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"12","v2t":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"100","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":6,"x":460,"y":1040,"wires":[["4274fcf9.793ff4"],["8d6f61fd.56145"],["840e367.b3d9fc8"],["d9e32bac.c750d8"],["ccfcea77.e43398","840e367.b3d9fc8"],["bfe273f1.43da5","840e367.b3d9fc8"]]},{"id":"eb36b5ed.346768","type":"change","z":"90da4636.c9a6a8","name":"ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1940,"wires":[["6bf9cb64.fe69c4"]]},{"id":"b284edb5.bec1d","type":"change","z":"90da4636.c9a6a8","name":"back","rules":[{"t":"set","p":"payload","pt":"msg","to":"back","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1980,"wires":[["6bf9cb64.fe69c4"]]},{"id":"50d22e13.6fe34","type":"change","z":"90da4636.c9a6a8","name":"home","rules":[{"t":"set","p":"payload","pt":"msg","to":"home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2020,"wires":[["6bf9cb64.fe69c4"]]},{"id":"5485b1f3.9979","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2080,"wires":[["12792fff.4a56a"]]},{"id":"284e8e40.381402","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2400,"wires":[["59b39fb2.215bb"]]},{"id":"500f6f4.92eda9","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2120,"wires":[["56fb069f.625818"]]},{"id":"2bcfac0d.d7b514","type":"change","z":"90da4636.c9a6a8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2160,"wires":[["ca48a369.fef42"]]},{"id":"c4d3e9d4.747498","type":"change","z":"90da4636.c9a6a8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2200,"wires":[["d9b21e03.2e4af"]]},{"id":"938930f9.967c","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70608","acknoledge":true,"name":"LG TV","topic":"","x":90,"y":1480,"wires":[["f7e49b41.84ef28","e90df2c2.a6675","8195f843.d65f08"]]},{"id":"f7e49b41.84ef28","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":260,"y":1480,"wires":[["d445f07d.4ad1b"],["2889da83.bde306"],[],[],["8ba08aea.3c7118"]]},{"id":"d8ca0d79.765f8","type":"link out","z":"90da4636.c9a6a8","name":"lg_tv","links":["cbe6d6e5.f84ac8"],"x":775,"y":1440,"wires":[]},{"id":"cac91f33.bbf82","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70734","acknoledge":true,"name":"Sony BL up","topic":"","x":110,"y":3320,"wires":[["6555ce49.53ff3","49038300.ede15c","f6b39f8a.1f5e1"]]},{"id":"6555ce49.53ff3","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":3320,"wires":[["88291e4f.e308a"],["6f211d8.167c7e4"],["88291e4f.e308a"],["6f211d8.167c7e4"],["e992ae98.b551b"]]},{"id":"88291e4f.e308a","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3280,"wires":[["b3a3987b.3dfd78"]]},{"id":"6f211d8.167c7e4","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3320,"wires":[["b3a3987b.3dfd78"]]},{"id":"b3a3987b.3dfd78","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":3320,"wires":[["a100db04.a16c28"]]},{"id":"7abb0da0.5b0254","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL up","links":["cbe6d6e5.f84ac8"],"x":775,"y":3280,"wires":[]},{"id":"49038300.ede15c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":3380,"wires":[]},{"id":"f6b39f8a.1f5e1","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":3440,"wires":[]},{"id":"536e11da.69375","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":3380,"wires":[["b3a3987b.3dfd78"]]},{"id":"e992ae98.b551b","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":3420,"wires":[["536e11da.69375","b49b961d.1a4c98"],[]]},{"id":"b49b961d.1a4c98","type":"change","z":"90da4636.c9a6a8","name":"payload --","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":3420,"wires":[["81f8a9ba.618678","6a4ab6be.e8dc58"]]},{"id":"81f8a9ba.618678","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":3460,"wires":[["e992ae98.b551b"]]},{"id":"6a4ab6be.e8dc58","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":720,"y":3400,"wires":[]},{"id":"6fe82109.44af7","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70735","acknoledge":true,"name":"Sony BL down","topic":"","x":110,"y":3560,"wires":[["2fa160f.ae0cca","abc98e9.e3f617","42a70e87.bc60c"]]},{"id":"2fa160f.ae0cca","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":3560,"wires":[["627c281f.79d6f8"],["cbfef357.25fb4"],["627c281f.79d6f8"],["cbfef357.25fb4"],["22c8f59d.4de80a"]]},{"id":"627c281f.79d6f8","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3520,"wires":[["75afebb8.e51814"]]},{"id":"cbfef357.25fb4","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3560,"wires":[["75afebb8.e51814"]]},{"id":"75afebb8.e51814","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":3560,"wires":[["f6266a8b.e89a48"]]},{"id":"b64156b.5f414a8","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL down","links":["cbe6d6e5.f84ac8"],"x":775,"y":3520,"wires":[]},{"id":"abc98e9.e3f617","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":3620,"wires":[]},{"id":"42a70e87.bc60c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":3680,"wires":[]},{"id":"ae57d5cc.ea7798","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":3620,"wires":[["75afebb8.e51814"]]},{"id":"22c8f59d.4de80a","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":3660,"wires":[["ae57d5cc.ea7798","be930264.5a35e"],[]]},{"id":"be930264.5a35e","type":"change","z":"90da4636.c9a6a8","name":"payload --","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":3660,"wires":[["7e085bc5.29bc14","bb731d81.3ca1c"]]},{"id":"7e085bc5.29bc14","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":3700,"wires":[["22c8f59d.4de80a"]]},{"id":"bb731d81.3ca1c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":3640,"wires":[]},{"id":"813910d1.f2532","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70736","acknoledge":true,"name":"Sony BL left","topic":"","x":110,"y":3800,"wires":[["b15feb16.7a9698","3bd217d8.f52e48","55c63f78.e3521"]]},{"id":"b15feb16.7a9698","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":3800,"wires":[["cf3115fe.e0bb28"],["e09e953e.000b08"],["cf3115fe.e0bb28"],["e09e953e.000b08"],["efdeb63b.8c38d8"]]},{"id":"cf3115fe.e0bb28","type":"change","z":"90da4636.c9a6a8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3760,"wires":[["5c22c55.d5b4c3c"]]},{"id":"e09e953e.000b08","type":"change","z":"90da4636.c9a6a8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3800,"wires":[["5c22c55.d5b4c3c"]]},{"id":"5c22c55.d5b4c3c","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":3780,"wires":[["650c5805.4350a8"]]},{"id":"d208d06e.d62e8","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL left","links":["cbe6d6e5.f84ac8"],"x":775,"y":3820,"wires":[]},{"id":"3bd217d8.f52e48","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":3860,"wires":[]},{"id":"55c63f78.e3521","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":3920,"wires":[]},{"id":"a7a6fb93.be2158","type":"change","z":"90da4636.c9a6a8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":3860,"wires":[["5c22c55.d5b4c3c"]]},{"id":"efdeb63b.8c38d8","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":3900,"wires":[["a7a6fb93.be2158","f5b47b7b.a27128"],[]]},{"id":"f5b47b7b.a27128","type":"change","z":"90da4636.c9a6a8","name":"payload --","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":3900,"wires":[["1a6c4400.f29c4c","8c5072c7.84243"]]},{"id":"1a6c4400.f29c4c","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":3940,"wires":[["efdeb63b.8c38d8"]]},{"id":"8c5072c7.84243","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":3880,"wires":[]},{"id":"eca3332.ddd35d","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70737","acknoledge":true,"name":"Sony BL right","topic":"","x":110,"y":4040,"wires":[["aa945c50.72257","51abdf19.3ec18","9f37d43.4eedd28"]]},{"id":"aa945c50.72257","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":4040,"wires":[["4bcefddf.d5b274"],["99a45ef2.637b2"],["4bcefddf.d5b274"],["99a45ef2.637b2"],["dcc86be1.672c58"]]},{"id":"4bcefddf.d5b274","type":"change","z":"90da4636.c9a6a8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4000,"wires":[["249701ee.d7009e"]]},{"id":"99a45ef2.637b2","type":"change","z":"90da4636.c9a6a8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4040,"wires":[["249701ee.d7009e"]]},{"id":"249701ee.d7009e","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":4020,"wires":[["be36447d.260c28"]]},{"id":"f9748688.959978","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL right","links":["cbe6d6e5.f84ac8"],"x":775,"y":4060,"wires":[]},{"id":"51abdf19.3ec18","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":4100,"wires":[]},{"id":"9f37d43.4eedd28","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":4160,"wires":[]},{"id":"259afafc.5f4e16","type":"change","z":"90da4636.c9a6a8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":4100,"wires":[["249701ee.d7009e"]]},{"id":"dcc86be1.672c58","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":4140,"wires":[["259afafc.5f4e16","605c8f32.bc68d"],[]]},{"id":"605c8f32.bc68d","type":"change","z":"90da4636.c9a6a8","name":"payload --","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":4140,"wires":[["4442d3f2.68900c","262da805.41a008"]]},{"id":"4442d3f2.68900c","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":4180,"wires":[["dcc86be1.672c58"]]},{"id":"262da805.41a008","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":4120,"wires":[]},{"id":"2fd5429c.443b5e","type":"change","z":"90da4636.c9a6a8","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2940,"wires":[["f92cd3a1.f7b58"]]},{"id":"4288f297.9db0fc","type":"change","z":"90da4636.c9a6a8","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2980,"wires":[["f92cd3a1.f7b58"]]},{"id":"3410e0b3.66bb2","type":"change","z":"90da4636.c9a6a8","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3020,"wires":[["4b9a96bc.a783d8"]]},{"id":"1dc456d7.9b3b09","type":"change","z":"90da4636.c9a6a8","name":"yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3060,"wires":[["4b9a96bc.a783d8"]]},{"id":"f92cd3a1.f7b58","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2940,"wires":[["8c72c7fb.4129c8"]]},{"id":"493ec6f8.4f09f8","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"73568","acknoledge":true,"name":"zapping","topic":"","x":90,"y":1160,"wires":[["4033e8b4.820628","58a1a1a.08d776","d575e321.c2f0c"]]},{"id":"4033e8b4.820628","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":280,"y":1160,"wires":[["d9e32bac.c750d8"],["840e367.b3d9fc8"],[],[],[]]},{"id":"58a1a1a.08d776","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":1220,"wires":[]},{"id":"d575e321.c2f0c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":1280,"wires":[]},{"id":"d516b20b.fd304","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":160,"wires":[]},{"id":"302d3324.756d0c","type":"change","z":"90da4636.c9a6a8","name":"next","rules":[{"t":"set","p":"payload","pt":"msg","to":"next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2860,"wires":[["8c72c7fb.4129c8"]]},{"id":"4139020c.b8e64c","type":"change","z":"90da4636.c9a6a8","name":"prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2900,"wires":[["8c72c7fb.4129c8"]]},{"id":"8c72c7fb.4129c8","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2860,"wires":[["d0211e31.85cdb"]]},{"id":"c33b8e95.d7187","type":"change","z":"90da4636.c9a6a8","name":"lg_tv *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lg_tv \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":100,"wires":[["b334f7e1.388998"]]},{"id":"7f4408fb.8f3408","type":"change","z":"90da4636.c9a6a8","name":"dtb","rules":[{"t":"set","p":"payload","pt":"msg","to":"dtb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3100,"wires":[["a6fa8cde.c44be"]]},{"id":"90713a7b.04d078","type":"change","z":"90da4636.c9a6a8","name":"bs","rules":[{"t":"set","p":"payload","pt":"msg","to":"bs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3140,"wires":[["a6fa8cde.c44be"]]},{"id":"59be716d.bcaa3","type":"change","z":"90da4636.c9a6a8","name":"cs","rules":[{"t":"set","p":"payload","pt":"msg","to":"cs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3180,"wires":[["a6fa8cde.c44be"]]},{"id":"a6fa8cde.c44be","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":3100,"wires":[["4b9a96bc.a783d8"]]},{"id":"8ba08aea.3c7118","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"25","vt":"num"}],"checkall":"false","repair":false,"outputs":5,"x":350,"y":1600,"wires":[["232f441d.c779fc"],["a40ced75.16962"],["1966a31c.44bf9d"],["61b2e6bd.5575a8"],["cf2ebdce.2e58c"]]},{"id":"232f441d.c779fc","type":"change","z":"90da4636.c9a6a8","name":"mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1460,"wires":[["6f2a512.159b9b"]]},{"id":"c4f89163.63151","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":220,"y":80,"wires":[]},{"id":"4eb85603.b142f8","type":"link in","z":"8b3f1d19.8d47a","name":"Alexa応答：ダイソン温度","links":["edaa9d38.cf0f7","7fd6032e.73068c"],"x":175,"y":180,"wires":[["3b372763.b41338","a825b75b.4c7518","563bb6d6.951e18"]]},{"id":"3b372763.b41338","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":340,"y":180,"wires":[]},{"id":"b571dd82.47ba7","type":"change","z":"8b3f1d19.8d47a","name":"応答の作成:温度","rules":[{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":300,"wires":[["8ee4ce01.b603","3dd3e80d.4ff8d8","1b923152.2f0b5f"]]},{"id":"8ee4ce01.b603","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":820,"y":340,"wires":[]},{"id":"3dd3e80d.4ff8d8","type":"alexa-home-resp","z":"8b3f1d19.8d47a","x":820,"y":200,"wires":[]},{"id":"1b923152.2f0b5f","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"extra.targetTemperature.value","targetType":"msg","x":900,"y":280,"wires":[]},{"id":"20cb7a0d.f49566","type":"link in","z":"8b3f1d19.8d47a","name":"Alexa応答：「はい」","links":["da7babf3.521be8","f0212a03.0d1398","2be775b6.108d5a","ab815f84.783e7"],"x":175,"y":120,"wires":[["c4f89163.63151","a06d7936.c7f218"]]},{"id":"a06d7936.c7f218","type":"change","z":"8b3f1d19.8d47a","name":"応答作成：「はい」","rules":[{"t":"set","p":"extra.info","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":120,"wires":[["3dd3e80d.4ff8d8","627a1b4b.0349f4","6725e3cf.a01b2c"]]},{"id":"6725e3cf.a01b2c","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":720,"y":120,"wires":[]},{"id":"627a1b4b.0349f4","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"extra","x":710,"y":60,"wires":[]},{"id":"a825b75b.4c7518","type":"switch","z":"8b3f1d19.8d47a","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":160,"y":260,"wires":[["52f3bfa7.02c7f"],["52f3bfa7.02c7f"],["29fc95c8.1cbd0a"],["408bf76.97d7708"]]},{"id":"29fc95c8.1cbd0a","type":"change","z":"8b3f1d19.8d47a","name":"dyson_temp = payload","rules":[{"t":"set","p":"dyson_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["408bf76.97d7708"]]},{"id":"52f3bfa7.02c7f","type":"change","z":"8b3f1d19.8d47a","name":"dyson_temp += payload","rules":[{"t":"set","p":"dyson_temp","pt":"global","to":"$number($globalContext(\"dyson_temp\")) + msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["408bf76.97d7708"]]},{"id":"38c6bb2a.164494","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":620,"y":400,"wires":[]},{"id":"408bf76.97d7708","type":"change","z":"8b3f1d19.8d47a","name":"p = dyson_temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"dyson_temp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["38c6bb2a.164494","b571dd82.47ba7"]]},{"id":"563bb6d6.951e18","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":550,"y":180,"wires":[]},{"id":"b78f31ee.b2e6f","type":"link in","z":"47f96de1.dd13a4","name":"dyson_fan","links":["d1c73837.5e6868","8c4c876e.fad668"],"x":135,"y":120,"wires":[["40195287.ecbfec"]]},{"id":"c4d65198.2db16","type":"link in","z":"47f96de1.dd13a4","name":"dyson_fan温度","links":["b8d02091.d2b59","1db7900e.e64a3"],"x":75,"y":480,"wires":[["ae44a0f0.7861f","9f52dc82.c7f71"]]},{"id":"47598fc4.7b81a","type":"link out","z":"284ce301.87709c","name":"Sharp 照明","links":["cbe6d6e5.f84ac8"],"x":775,"y":1580,"wires":[]},{"id":"26e7e5a2.6035ba","type":"change","z":"284ce301.87709c","name":"lamp *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lamp \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1620,"wires":[["47598fc4.7b81a","5eb7e87e.b4ada8"]]},{"id":"5eb7e87e.b4ada8","type":"debug","z":"284ce301.87709c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":1660,"wires":[]},{"id":"579c8fb.4e7867","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":630,"y":1620,"wires":[["26e7e5a2.6035ba"]]},{"id":"ce35e72c.299ea8","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":450,"y":1620,"wires":[["579c8fb.4e7867"]]},{"id":"b3b434f2.3d4928","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":270,"y":1620,"wires":[["ce35e72c.299ea8"]]},{"id":"140ef2d4.0a30cd","type":"ui_button","z":"284ce301.87709c","name":"","group":"447ba0c7.cd5c1","order":1,"width":2,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":90,"y":1660,"wires":[["b3b434f2.3d4928"]]},{"id":"6662fb63.ac6024","type":"ui_button","z":"284ce301.87709c","name":"","group":"447ba0c7.cd5c1","order":4,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":1700,"wires":[["b3b434f2.3d4928"]]},{"id":"d1c0551e.5d12a8","type":"link in","z":"284ce301.87709c","name":"lamp","links":["6c4bff8a.6211d","f054dd3c.dfc68"],"x":135,"y":1620,"wires":[["b3b434f2.3d4928"]]},{"id":"6542c805.f5e838","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1140,"wires":[["49b2c722.082788","d3efced8.a68c1"]]},{"id":"d445f07d.4ad1b","type":"change","z":"90da4636.c9a6a8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1380,"wires":[["6f2a512.159b9b"]]},{"id":"2889da83.bde306","type":"change","z":"90da4636.c9a6a8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1420,"wires":[["6f2a512.159b9b"]]},{"id":"6f2a512.159b9b","type":"change","z":"90da4636.c9a6a8","name":"lg_tv *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lg_tv \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1480,"wires":[["d8ca0d79.765f8","5dbb506f.3111e"]]},{"id":"c1cd29e.62087d8","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1900,"wires":[["f7669493.f79c58","55a67adc.f4ccd4"]]},{"id":"a100db04.a16c28","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":3320,"wires":[["7abb0da0.5b0254"]]},{"id":"f6266a8b.e89a48","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":3560,"wires":[["b64156b.5f414a8"]]},{"id":"650c5805.4350a8","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":3780,"wires":[["d208d06e.d62e8"]]},{"id":"be36447d.260c28","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":4020,"wires":[["f9748688.959978"]]},{"id":"5dbb506f.3111e","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":820,"y":1520,"wires":[]},{"id":"4274fcf9.793ff4","type":"change","z":"90da4636.c9a6a8","name":"ch_0?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_0\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1060,"wires":[["62fd9804.977188","840e367.b3d9fc8"]]},{"id":"a7446840.929d38","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":590,"y":100,"wires":[]},{"id":"8c78e8b4.1d0738","type":"alexa-home","z":"1308fdfa.660ee2","conf":"69429fa8.737c4","device":"90248","acknoledge":false,"name":"エアコン","topic":"","x":100,"y":140,"wires":[["3080e0d5.91c85","1109eb5c.d270a5","69ba16f4.2cc468"]]},{"id":"3080e0d5.91c85","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":130,"y":220,"wires":[]},{"id":"1109eb5c.d270a5","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":120,"y":280,"wires":[]},{"id":"69ba16f4.2cc468","type":"switch","z":"1308fdfa.660ee2","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":280,"y":100,"wires":[["fb844cb0.eb4bc","2be775b6.108d5a"],["ce309159.32f2","2be775b6.108d5a"],["759c77af.80eaa8","dcd2b9b6.033d58"],["759c77af.80eaa8","dcd2b9b6.033d58"],["5285346b.af676c"],[]]},{"id":"fb844cb0.eb4bc","type":"link out","z":"1308fdfa.660ee2","name":"エアコン ON","links":["8d386a6b.6dbbf8"],"x":135,"y":20,"wires":[]},{"id":"f99aefc6.227d5","type":"link out","z":"1308fdfa.660ee2","name":"エアコン 温度設定","links":["9b5f4b05.a6ec48"],"x":775,"y":260,"wires":[]},{"id":"ce309159.32f2","type":"link out","z":"1308fdfa.660ee2","name":"エアコン OFF","links":["14ec72a5.14ac1d"],"x":515,"y":20,"wires":[]},{"id":"8d386a6b.6dbbf8","type":"link in","z":"9c65f293.33b02","name":"AutoAircon ON","links":["fb844cb0.eb4bc"],"x":715,"y":260,"wires":[["c7f3930d.de3f8"]]},{"id":"14ec72a5.14ac1d","type":"link in","z":"9c65f293.33b02","name":"AutoAircon OFF","links":["ce309159.32f2"],"x":715,"y":380,"wires":[["4bd20554.25a5dc"]]},{"id":"4e28c46c.4dc92c","type":"link in","z":"8b3f1d19.8d47a","name":"Alexa応答：AutoAircon温度","links":["5e4d80f9.f4fc3"],"x":75,"y":480,"wires":[["7c48dbf8.0d5bb4","186cc191.97b46e","390f013e.67e28e"]]},{"id":"7c48dbf8.0d5bb4","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":480,"wires":[]},{"id":"dd11189f.511238","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":360,"y":600,"wires":[]},{"id":"4b9d8af1.388284","type":"alexa-home-resp","z":"8b3f1d19.8d47a","x":180,"y":660,"wires":[]},{"id":"13b2270b.6a4a39","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"extra.targetTemperature.value","targetType":"msg","x":620,"y":600,"wires":[]},{"id":"e93bb823.3b59f8","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":540,"wires":[]},{"id":"390f013e.67e28e","type":"change","z":"8b3f1d19.8d47a","name":"p = aircon_ttemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"aircon_ttemp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":540,"wires":[["e93bb823.3b59f8","c3c28654.6ad488"]]},{"id":"186cc191.97b46e","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":590,"y":480,"wires":[]},{"id":"2be775b6.108d5a","type":"link out","z":"1308fdfa.660ee2","name":"エアコン ON/OFF","links":["20cb7a0d.f49566"],"x":315,"y":20,"wires":[]},{"id":"5e4d80f9.f4fc3","type":"link out","z":"1308fdfa.660ee2","name":"エアコン 温度→Alexa応答","links":["4e28c46c.4dc92c"],"x":735,"y":280,"wires":[]},{"id":"af9e22d5.207c5","type":"change","z":"1308fdfa.660ee2","name":"aircon_ttemp = payload","rules":[{"t":"set","p":"aircon_ttemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["dce2a396.7545d"]]},{"id":"9b5f4b05.a6ec48","type":"link in","z":"9c65f293.33b02","name":"目標温度設定","links":["f99aefc6.227d5"],"x":235,"y":1220,"wires":[["8680c7f7.553e78","215a15.3b5a35ec","afd7aa8.d8d5a58"]]},{"id":"afd7aa8.d8d5a58","type":"batch","z":"9c65f293.33b02","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":450,"y":1220,"wires":[["8f1d2bdd.8e5698"]]},{"id":"759c77af.80eaa8","type":"change","z":"1308fdfa.660ee2","name":"aircon_ttemp += payload","rules":[{"t":"set","p":"aircon_ttemp","pt":"global","to":"$number(\t   $globalContext(\"aircon_ttemp\")\t) + msg.payload /2","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"aircon_ttemp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":100,"wires":[["dce2a396.7545d"]]},{"id":"92e30b10.ea4958","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":720,"y":140,"wires":[]},{"id":"71d61680.e8af58","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":500,"wires":[]},{"id":"ae44a0f0.7861f","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":130,"y":540,"wires":[]},{"id":"90945384.4a40c","type":"alexa-home","z":"71c4f55e.1555ec","conf":"69429fa8.737c4","device":"40588","acknoledge":true,"name":"ボール ランプ","topic":"","x":110,"y":100,"wires":[["515bd1b3.d1842","bc7e127a.9612a","d2186ef.ca2d89","72465cb8.3c1c14","d50c8555.01b4b8","68f597a0.154638"]]},{"id":"b7adcc18.3112e","type":"change","z":"71c4f55e.1555ec","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":80,"wires":[["f054dd3c.dfc68"]]},{"id":"3f673631.7e0cea","type":"change","z":"71c4f55e.1555ec","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":120,"wires":[["f054dd3c.dfc68"]]},{"id":"515bd1b3.d1842","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":180,"wires":[]},{"id":"f054dd3c.dfc68","type":"link out","z":"71c4f55e.1555ec","name":"lamp","links":["d1c0551e.5d12a8"],"x":715,"y":100,"wires":[]},{"id":"bc7e127a.9612a","type":"switch","z":"71c4f55e.1555ec","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":300,"y":100,"wires":[["b7adcc18.3112e"],["3f673631.7e0cea"],[],[],["8098d862.e6fb28"],["dfdb1fc6.9bbbf"]]},{"id":"8098d862.e6fb28","type":"switch","z":"71c4f55e.1555ec","name":"明るさ","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"4","v2t":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":470,"y":200,"wires":[[],[],[],[],[],[],[]]},{"id":"dfdb1fc6.9bbbf","type":"switch","z":"71c4f55e.1555ec","name":"色:hue","property":"payload.hue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"120","vt":"num"},{"t":"eq","v":"240","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":410,"y":340,"wires":[["3f2106c1.86bcda"],["16db1c4.2e43ae4"],["aef5a121.c31c6"],["5efae3e3.664edc"]]},{"id":"3f2106c1.86bcda","type":"change","z":"71c4f55e.1555ec","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["24b0ffaa.5ad9f"]]},{"id":"16db1c4.2e43ae4","type":"change","z":"71c4f55e.1555ec","name":"yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[["24b0ffaa.5ad9f"]]},{"id":"aef5a121.c31c6","type":"change","z":"71c4f55e.1555ec","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["24b0ffaa.5ad9f"]]},{"id":"5efae3e3.664edc","type":"change","z":"71c4f55e.1555ec","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["24b0ffaa.5ad9f"]]},{"id":"24b0ffaa.5ad9f","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":740,"y":240,"wires":[]},{"id":"d2186ef.ca2d89","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.hue","x":170,"y":300,"wires":[]},{"id":"72465cb8.3c1c14","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.saturation","x":190,"y":360,"wires":[]},{"id":"d50c8555.01b4b8","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.brightness","x":190,"y":420,"wires":[]},{"id":"68f597a0.154638","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":240,"wires":[]},{"id":"62d153b5.877bac","type":"alexa-home","z":"71c4f55e.1555ec","conf":"69429fa8.737c4","device":"80603","acknoledge":true,"name":"Sharp light","topic":"","x":100,"y":560,"wires":[["73ff24f4.a024dc","9d25dd18.7a1fc","c5582c57.3fedb"]]},{"id":"73ff24f4.a024dc","type":"switch","z":"71c4f55e.1555ec","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":560,"wires":[["1bad5d4c.3cca53"],["e909b0f.2a5ad5"],["32e4de50.7f4042"],["e6257b99.af6058"],["d29b1e63.e1c11"]]},{"id":"9d25dd18.7a1fc","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":620,"wires":[]},{"id":"c5582c57.3fedb","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":680,"wires":[]},{"id":"391d08c3.888df8","type":"change","z":"71c4f55e.1555ec","name":"sharp_light *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sharp_light \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":740,"wires":[["b091a299.f95ea","f03e4c92.dc69c"]]},{"id":"b091a299.f95ea","type":"link out","z":"71c4f55e.1555ec","name":"nightlight","links":["cbe6d6e5.f84ac8"],"x":1055,"y":700,"wires":[]},{"id":"e909b0f.2a5ad5","type":"change","z":"71c4f55e.1555ec","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":520,"wires":[["c08908b0.bd9998"]]},{"id":"1bad5d4c.3cca53","type":"change","z":"71c4f55e.1555ec","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":480,"wires":[["c08908b0.bd9998"]]},{"id":"32e4de50.7f4042","type":"change","z":"71c4f55e.1555ec","name":"full","rules":[{"t":"set","p":"payload","pt":"msg","to":"full","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":560,"wires":[["603e6e91.81611","7dd0cf5f.1511f"]]},{"id":"2e684e0f.154af2","type":"alexa-home","z":"71c4f55e.1555ec","conf":"69429fa8.737c4","device":"80604","acknoledge":true,"name":"sharp light yaezakura","topic":"","x":140,"y":1260,"wires":[["b20ad6f5.623c08","4fd8ab4e.7931a4","dd4a5f93.6b9ae"]]},{"id":"e6e8dff4.e19b1","type":"alexa-home","z":"71c4f55e.1555ec","conf":"69429fa8.737c4","device":"80605","acknoledge":true,"name":"sharp light someiyoshino","topic":"","x":150,"y":880,"wires":[["6f66a9fc.78c208","458905f0.05cc0c","5b368c20.4e27f4"]]},{"id":"b20ad6f5.623c08","type":"switch","z":"71c4f55e.1555ec","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":380,"y":1260,"wires":[["88e30f3d.c4b71"],["49c154e4.65987c"],["88bba387.d8167"],["6bfae241.e70dac"],["bfde7131.449a4","f0fc600d.1b9fc"]]},{"id":"5b368c20.4e27f4","type":"switch","z":"71c4f55e.1555ec","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":380,"y":880,"wires":[["a245ce74.0ff44"],["21459d9a.f8f922"],["c6e6b465.320d08"],["679279ef.f06598"],[]]},{"id":"4fd8ab4e.7931a4","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"command","x":140,"y":1320,"wires":[]},{"id":"dd4a5f93.6b9ae","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":130,"y":1380,"wires":[]},{"id":"6f66a9fc.78c208","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"command","x":140,"y":940,"wires":[]},{"id":"458905f0.05cc0c","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":130,"y":1000,"wires":[]},{"id":"e6257b99.af6058","type":"change","z":"71c4f55e.1555ec","name":"level03","rules":[{"t":"set","p":"payload","pt":"msg","to":"level03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":640,"wires":[["8aa68a4a.5c53d8","5691f7d8.3a4b18"]]},{"id":"ce6bcedb.c156b","type":"change","z":"71c4f55e.1555ec","name":"color01","rules":[{"t":"set","p":"payload","pt":"msg","to":"color01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":600,"wires":[["7dd0cf5f.1511f"]]},{"id":"603e6e91.81611","type":"delay","z":"71c4f55e.1555ec","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":580,"wires":[["ce6bcedb.c156b"]]},{"id":"8aa68a4a.5c53d8","type":"delay","z":"71c4f55e.1555ec","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":660,"wires":[["1210dff1.fe8ba"]]},{"id":"1210dff1.fe8ba","type":"change","z":"71c4f55e.1555ec","name":"color10","rules":[{"t":"set","p":"payload","pt":"msg","to":"color10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":680,"wires":[["5691f7d8.3a4b18"]]},{"id":"c08908b0.bd9998","type":"batch","z":"71c4f55e.1555ec","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":890,"y":500,"wires":[["391d08c3.888df8"]]},{"id":"7dd0cf5f.1511f","type":"batch","z":"71c4f55e.1555ec","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":890,"y":560,"wires":[["391d08c3.888df8"]]},{"id":"5691f7d8.3a4b18","type":"batch","z":"71c4f55e.1555ec","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":890,"y":640,"wires":[["391d08c3.888df8"]]},{"id":"bad90323.75833","type":"batch","z":"71c4f55e.1555ec","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":810,"y":780,"wires":[["391d08c3.888df8"]]},{"id":"21459d9a.f8f922","type":"change","z":"71c4f55e.1555ec","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":820,"wires":[["bad90323.75833"]]},{"id":"a245ce74.0ff44","type":"change","z":"71c4f55e.1555ec","name":"on_someiyoshino07","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_someiyoshino07","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":780,"wires":[["bad90323.75833"]]},{"id":"56df79ac.67f858","type":"batch","z":"71c4f55e.1555ec","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":810,"y":880,"wires":[["391d08c3.888df8"]]},{"id":"c6e6b465.320d08","type":"change","z":"71c4f55e.1555ec","name":"on_someiyoshino10","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_someiyoshino10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":860,"wires":[["56df79ac.67f858"]]},{"id":"679279ef.f06598","type":"change","z":"71c4f55e.1555ec","name":"on_someiyoshino01","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_someiyoshino01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":900,"wires":[["56df79ac.67f858"]]},{"id":"5f849dfe.807d04","type":"batch","z":"71c4f55e.1555ec","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":870,"y":1120,"wires":[["391d08c3.888df8"]]},{"id":"49c154e4.65987c","type":"change","z":"71c4f55e.1555ec","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1140,"wires":[["5f849dfe.807d04"]]},{"id":"88e30f3d.c4b71","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura05","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1100,"wires":[["5f849dfe.807d04"]]},{"id":"c3e8e005.d1cdf","type":"batch","z":"71c4f55e.1555ec","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":870,"y":1320,"wires":[["391d08c3.888df8","1efe6bb2.bf46f4"]]},{"id":"88bba387.d8167","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura10","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1180,"wires":[["c3e8e005.d1cdf"]]},{"id":"6bfae241.e70dac","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura01","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1540,"wires":[["c3e8e005.d1cdf"]]},{"id":"d29b1e63.e1c11","type":"switch","z":"71c4f55e.1555ec","name":"明るさ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":680,"wires":[["32e4de50.7f4042","49a42408.30bcec"]]},{"id":"f5c74099.57f93","type":"batch","z":"71c4f55e.1555ec","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":870,"y":720,"wires":[["391d08c3.888df8"]]},{"id":"bfde7131.449a4","type":"switch","z":"71c4f55e.1555ec","name":"明るさ","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"90","vt":"str"},{"t":"btwn","v":"89","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"79","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"69","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"59","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"49","vt":"num","v2":"40","v2t":"num"},{"t":"btwn","v":"39","vt":"num","v2":"30","v2t":"num"},{"t":"btwn","v":"29","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"19","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"9","vt":"num","v2":"1","v2t":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":11,"x":410,"y":1400,"wires":[["88bba387.d8167"],["521783a3.614b0c"],["9ebe59e9.3f0868"],["c0415ba9.3d2728"],["bd340d8f.aa7a7"],["5174c844.ca04d8"],["27615948.b79066"],["4e8ade8e.678bf"],["7cf80fb.905e3f"],["6bfae241.e70dac"],["49c154e4.65987c"]]},{"id":"49a42408.30bcec","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":360,"y":720,"wires":[]},{"id":"f0fc600d.1b9fc","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":360,"y":1500,"wires":[]},{"id":"f03e4c92.dc69c","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1080,"y":780,"wires":[]},{"id":"2c879e43.573042","type":"alexa-home","z":"71c4f55e.1555ec","conf":"69429fa8.737c4","device":"41427","acknoledge":true,"name":"照明 シャープ 常夜灯","topic":"","x":140,"y":1620,"wires":[["5175b100.c31a6"]]},{"id":"5175b100.c31a6","type":"switch","z":"71c4f55e.1555ec","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":360,"y":1620,"wires":[["bf6d5f85.7f2ef"],["1c59de0.b843522"],["bf6d5f85.7f2ef"],["1c59de0.b843522"]]},{"id":"bf6d5f85.7f2ef","type":"change","z":"71c4f55e.1555ec","name":"night","rules":[{"t":"set","p":"payload","pt":"msg","to":"night","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1600,"wires":[["4710bab9.4a8a44"]]},{"id":"1c59de0.b843522","type":"change","z":"71c4f55e.1555ec","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1640,"wires":[["4710bab9.4a8a44"]]},{"id":"1a9de749.505699","type":"link out","z":"71c4f55e.1555ec","name":"nightlight","links":["f95943b.713e9c","f92f532f.4a7d2"],"x":895,"y":1620,"wires":[]},{"id":"4710bab9.4a8a44","type":"change","z":"71c4f55e.1555ec","name":"sharp_light *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sharp_light \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1620,"wires":[["1a9de749.505699"]]},{"id":"fb29782b.1969b8","type":"switch","z":"71c4f55e.1555ec","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":360,"y":1780,"wires":[["c486dfcf.ae8af"],["c486dfcf.ae8af"],["4e662bdd.f7c194"],["5b230744.fd2e78"],["4ef736b8.1529f8"]]},{"id":"ae7cc12a.2ece1","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":1840,"wires":[]},{"id":"8d4387b0.9ee4d8","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":1900,"wires":[]},{"id":"c486dfcf.ae8af","type":"change","z":"71c4f55e.1555ec","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1740,"wires":[["b76978c8.d052d8","a25f66ef.425588"]]},{"id":"17ac10bd.bb2c0f","type":"link out","z":"71c4f55e.1555ec","name":"tvlight","links":["cbe6d6e5.f84ac8"],"x":715,"y":1680,"wires":[]},{"id":"b76978c8.d052d8","type":"change","z":"71c4f55e.1555ec","name":"white","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1700,"wires":[["a25f66ef.425588"]]},{"id":"4e662bdd.f7c194","type":"change","z":"71c4f55e.1555ec","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1780,"wires":[["a25f66ef.425588"]]},{"id":"5b230744.fd2e78","type":"change","z":"71c4f55e.1555ec","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1820,"wires":[["a25f66ef.425588"]]},{"id":"4ef736b8.1529f8","type":"switch","z":"71c4f55e.1555ec","name":"%","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":1860,"wires":[["87b06725.4107e8"],[]]},{"id":"87b06725.4107e8","type":"exec","z":"71c4f55e.1555ec","command":"/home/pi/bin/tv-light-level.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"tv-light-level.sh","x":580,"y":1880,"wires":[["31bc9de7.7989e2"],["bf8eb9dd.48dc68"],[]]},{"id":"529d3138.616b1","type":"alexa-home","z":"71c4f55e.1555ec","conf":"69429fa8.737c4","device":"70740","acknoledge":true,"name":"LED tape light","topic":"","x":110,"y":1780,"wires":[["fb29782b.1969b8","ae7cc12a.2ece1","8d4387b0.9ee4d8"]]},{"id":"a25f66ef.425588","type":"change","z":"71c4f55e.1555ec","name":"tvlight *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"tvlight \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1720,"wires":[["17ac10bd.bb2c0f","60b63921.877728"]]},{"id":"60b63921.877728","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":780,"y":1760,"wires":[]},{"id":"31bc9de7.7989e2","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":780,"y":1820,"wires":[]},{"id":"bf8eb9dd.48dc68","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":780,"y":1880,"wires":[]},{"id":"8311f0df.126ad","type":"alexa-home","z":"1308fdfa.660ee2","conf":"69429fa8.737c4","device":"40217","acknoledge":false,"name":"ダイソン","topic":"","x":100,"y":440,"wires":[["f91ee0bc.e23e","908e5439.4a33a8","65639e85.f747b"]]},{"id":"c3bab56b.34a7e8","type":"change","z":"1308fdfa.660ee2","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[["8c4c876e.fad668"]]},{"id":"41310803.f3aa98","type":"change","z":"1308fdfa.660ee2","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":440,"wires":[["8c4c876e.fad668"]]},{"id":"d28e8ea0.3856a","type":"change","z":"1308fdfa.660ee2","name":"Temp Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":480,"wires":[["8c4c876e.fad668"]]},{"id":"75fd93cd.0ebb6c","type":"change","z":"1308fdfa.660ee2","name":"Temp Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":520,"wires":[["8c4c876e.fad668"]]},{"id":"f91ee0bc.e23e","type":"switch","z":"1308fdfa.660ee2","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":380,"y":440,"wires":[["c3bab56b.34a7e8","ab815f84.783e7"],["41310803.f3aa98","ab815f84.783e7"],["d28e8ea0.3856a","7fd6032e.73068c"],["75fd93cd.0ebb6c","7fd6032e.73068c"],["7fd6032e.73068c","1db7900e.e64a3","b44afbac.a26878"],["7fd6032e.73068c"]]},{"id":"908e5439.4a33a8","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":500,"wires":[]},{"id":"ab815f84.783e7","type":"link out","z":"1308fdfa.660ee2","name":"Alexa応答：はい","links":["20cb7a0d.f49566"],"x":595,"y":380,"wires":[]},{"id":"8c4c876e.fad668","type":"link out","z":"1308fdfa.660ee2","name":"dyson","links":["b78f31ee.b2e6f"],"x":835,"y":440,"wires":[]},{"id":"65639e85.f747b","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":560,"wires":[]},{"id":"7fd6032e.73068c","type":"link out","z":"1308fdfa.660ee2","name":"Alexa応答：温度","links":["4eb85603.b142f8"],"x":455,"y":580,"wires":[]},{"id":"1db7900e.e64a3","type":"link out","z":"1308fdfa.660ee2","name":"dyson温度設定","links":["c4d65198.2db16"],"x":555,"y":540,"wires":[]},{"id":"b44afbac.a26878","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":740,"y":580,"wires":[]},{"id":"854673c8.db031","type":"alexa-home","z":"71c4f55e.1555ec","conf":"69429fa8.737c4","device":"57765","acknoledge":true,"name":"キャンドル","topic":"","x":100,"y":2020,"wires":[["bb7e6e53.4e9f8","4c8afba6.fd5ce4","24d029dc.e288c6"]]},{"id":"bb7e6e53.4e9f8","type":"switch","z":"71c4f55e.1555ec","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":2020,"wires":[["c033e06a.fc469"],["16740048.f6b49"]]},{"id":"24d029dc.e288c6","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":2140,"wires":[]},{"id":"4c8afba6.fd5ce4","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":2080,"wires":[]},{"id":"c033e06a.fc469","type":"change","z":"71c4f55e.1555ec","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2000,"wires":[["4d76bbf.3cf3344"]]},{"id":"16740048.f6b49","type":"change","z":"71c4f55e.1555ec","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2040,"wires":[["4d76bbf.3cf3344"]]},{"id":"4d76bbf.3cf3344","type":"change","z":"71c4f55e.1555ec","name":"candle *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"candle \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2020,"wires":[["4ee557d0.6da418","5cb5d311.644ccc"]]},{"id":"4ee557d0.6da418","type":"link out","z":"71c4f55e.1555ec","name":"tvlight","links":["cbe6d6e5.f84ac8"],"x":655,"y":1980,"wires":[]},{"id":"5cb5d311.644ccc","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":2060,"wires":[]},{"id":"ea3e51fe.5b702","type":"change","z":"90da4636.c9a6a8","name":"play","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2260,"wires":[["271f9de1.c0b422"]]},{"id":"704c2abf.7de764","type":"change","z":"90da4636.c9a6a8","name":"fast","rules":[{"t":"set","p":"payload","pt":"msg","to":"fast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2300,"wires":[["abca7aef.236e38"]]},{"id":"842cdf43.f0f5d","type":"change","z":"90da4636.c9a6a8","name":"rewind","rules":[{"t":"set","p":"payload","pt":"msg","to":"rewind","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2340,"wires":[["59b39fb2.215bb"]]},{"id":"abca7aef.236e38","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2300,"wires":[["271f9de1.c0b422"]]},{"id":"9c7a831a.d14fa","type":"change","z":"90da4636.c9a6a8","name":"fwd_15","rules":[{"t":"set","p":"payload","pt":"msg","to":"fwd_15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2500,"wires":[["4477bba9.79f934","dc7bc38c.e3d"]]},{"id":"4cfb32a3.fa1ccc","type":"change","z":"90da4636.c9a6a8","name":"back_10","rules":[{"t":"set","p":"payload","pt":"msg","to":"back_10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2640,"wires":[["a36eb0de.9911a","f4219bec.723178"]]},{"id":"4477bba9.79f934","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":2540,"wires":[["cd3bf5cd.b10be8"]]},{"id":"cd3bf5cd.b10be8","type":"change","z":"90da4636.c9a6a8","name":"fwd_15","rules":[{"t":"set","p":"payload","pt":"msg","to":"fwd_15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2580,"wires":[["fd1d8af.e607b78"]]},{"id":"a36eb0de.9911a","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":2680,"wires":[["a17c039e.b1671"]]},{"id":"a17c039e.b1671","type":"change","z":"90da4636.c9a6a8","name":"back_10","rules":[{"t":"set","p":"payload","pt":"msg","to":"back_10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2720,"wires":[["12d09667.e7e3fa","888a0626.dafc78"]]},{"id":"f4219bec.723178","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2640,"wires":[["fd1d8af.e607b78"]]},{"id":"12d09667.e7e3fa","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":2760,"wires":[["d08d110f.7229"]]},{"id":"d08d110f.7229","type":"change","z":"90da4636.c9a6a8","name":"back_10","rules":[{"t":"set","p":"payload","pt":"msg","to":"back_10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2800,"wires":[["d0211e31.85cdb"]]},{"id":"dc7bc38c.e3d","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2500,"wires":[["8edf8013.795ae"]]},{"id":"4b9a96bc.a783d8","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":3020,"wires":[["f92cd3a1.f7b58"]]},{"id":"d0211e31.85cdb","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2800,"wires":[["888a0626.dafc78"]]},{"id":"888a0626.dafc78","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2720,"wires":[["f4219bec.723178"]]},{"id":"fd1d8af.e607b78","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2580,"wires":[["dc7bc38c.e3d"]]},{"id":"8edf8013.795ae","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2440,"wires":[["284e8e40.381402"]]},{"id":"59b39fb2.215bb","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2340,"wires":[["abca7aef.236e38"]]},{"id":"271f9de1.c0b422","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2260,"wires":[["d9b21e03.2e4af"]]},{"id":"ca48a369.fef42","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2160,"wires":[["56fb069f.625818"]]},{"id":"12792fff.4a56a","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2080,"wires":[["6bf9cb64.fe69c4"]]},{"id":"d9b21e03.2e4af","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2200,"wires":[["ca48a369.fef42"]]},{"id":"baabe5a8.add248","type":"alexa-home","z":"ac75b08f.1c45c","conf":"69429fa8.737c4","device":"41178","acknoledge":true,"name":"HDMI","topic":"","x":90,"y":300,"wires":[["247e18e1.57dd58","d85401a2.1714f","13c53288.caa26d"]]},{"id":"247e18e1.57dd58","type":"debug","z":"ac75b08f.1c45c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":400,"wires":[]},{"id":"2cdda964.e358e6","type":"link out","z":"ac75b08f.1c45c","name":"hdmi","links":["cbe6d6e5.f84ac8"],"x":775,"y":560,"wires":[]},{"id":"d85401a2.1714f","type":"debug","z":"ac75b08f.1c45c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":460,"wires":[]},{"id":"cd201073.86657","type":"change","z":"ac75b08f.1c45c","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"hdmi\" & msg.payload\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":540,"wires":[["21a85725.74aae8"]]},{"id":"9d0a3911.5f3a58","type":"switch","z":"ac75b08f.1c45c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"btwn","v":"10","vt":"num","v2":"39","v2t":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"false","repair":false,"outputs":7,"x":470,"y":360,"wires":[["62f9fe6e.6b9f9"],["17351dfb.0d9992","9cb1c625.6063d8"],["53490c4d.b86164"],["c3d6470f.9112d8"],["17351dfb.0d9992","3b9e7d6a.99fe22"],["e6e653e.d45d9b","24219c.38a6be64"],[]]},{"id":"13c53288.caa26d","type":"switch","z":"ac75b08f.1c45c","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"eq","v":"SetColorTemperatureRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":260,"y":320,"wires":[[],[],[],[],["9d0a3911.5f3a58"],["d7612a60.ce0848"],["1617c037.4d582"]]},{"id":"9cb1c625.6063d8","type":"change","z":"ac75b08f.1c45c","name":"hdmi1","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":580,"wires":[["21a85725.74aae8"]]},{"id":"3b9e7d6a.99fe22","type":"change","z":"ac75b08f.1c45c","name":"hdmi2","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":620,"wires":[["21a85725.74aae8"]]},{"id":"df4516f0.f6b728","type":"change","z":"ac75b08f.1c45c","name":"hdmi3","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":660,"wires":[["21a85725.74aae8"]]},{"id":"3876fbba.234df4","type":"change","z":"ac75b08f.1c45c","name":"hdmi4","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":700,"wires":[["21a85725.74aae8"]]},{"id":"d7612a60.ce0848","type":"switch","z":"ac75b08f.1c45c","name":"","property":"payload.hue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"120","vt":"num"},{"t":"eq","v":"240","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":190,"y":680,"wires":[["cf4c427e.f8a71"],["bf81d31d.c5da1"],["6b013265.da01ec"],["1ab1899d.4753e6"]]},{"id":"e6224c12.85b29","type":"change","z":"ac75b08f.1c45c","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":680,"wires":[["1797f8cd.375fd7"]]},{"id":"bf81d31d.c5da1","type":"change","z":"ac75b08f.1c45c","name":"yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":720,"wires":[["1797f8cd.375fd7"]]},{"id":"6b013265.da01ec","type":"change","z":"ac75b08f.1c45c","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":760,"wires":[["1797f8cd.375fd7"]]},{"id":"1ab1899d.4753e6","type":"change","z":"ac75b08f.1c45c","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":800,"wires":[["1797f8cd.375fd7"]]},{"id":"1797f8cd.375fd7","type":"debug","z":"ac75b08f.1c45c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":660,"y":840,"wires":[]},{"id":"1617c037.4d582","type":"switch","z":"ac75b08f.1c45c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4000","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":170,"y":800,"wires":[["e63803cf.8a3fe"]]},{"id":"e63803cf.8a3fe","type":"change","z":"ac75b08f.1c45c","name":"white","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":840,"wires":[["1797f8cd.375fd7"]]},{"id":"cf4c427e.f8a71","type":"switch","z":"ac75b08f.1c45c","name":"","property":"payload.brightness","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"btwn","v":"0.1","vt":"num","v2":"0.9","v2t":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":330,"y":640,"wires":[["b7df913d.9fa87"],["dcc06948.ca4c68"],["e6224c12.85b29"]]},{"id":"b7df913d.9fa87","type":"change","z":"ac75b08f.1c45c","name":"black","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":600,"wires":[["1797f8cd.375fd7"]]},{"id":"dcc06948.ca4c68","type":"change","z":"ac75b08f.1c45c","name":"gray","rules":[{"t":"set","p":"payload","pt":"msg","to":"gray","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":640,"wires":[["1797f8cd.375fd7"]]},{"id":"88def1c7.f9992","type":"link out","z":"ac75b08f.1c45c","name":"lg_tv","links":["cbe6d6e5.f84ac8"],"x":835,"y":260,"wires":[]},{"id":"62f9fe6e.6b9f9","type":"change","z":"ac75b08f.1c45c","name":"input_tv","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_tv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[["a0c50367.ed598"]]},{"id":"17351dfb.0d9992","type":"change","z":"ac75b08f.1c45c","name":"input_hdmi1","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_hdmi1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["a0c50367.ed598"]]},{"id":"53490c4d.b86164","type":"change","z":"ac75b08f.1c45c","name":"input_hdmi2","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_hdmi2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":400,"wires":[["a0c50367.ed598"]]},{"id":"c3d6470f.9112d8","type":"change","z":"ac75b08f.1c45c","name":"input_hdmi3","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_hdmi3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["a0c50367.ed598"]]},{"id":"e6e653e.d45d9b","type":"change","z":"ac75b08f.1c45c","name":"input_hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"input_hdmi\" & $round(msg.payload / 10)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":320,"wires":[["a0c50367.ed598"]]},{"id":"24219c.38a6be64","type":"change","z":"ac75b08f.1c45c","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"hdmi\" & (msg.payload % 10)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":500,"wires":[["21a85725.74aae8"]]},{"id":"1326243b.c5a94c","type":"debug","z":"ac75b08f.1c45c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":820,"y":640,"wires":[]},{"id":"a0c50367.ed598","type":"change","z":"ac75b08f.1c45c","name":"lg_tv *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lg_tv \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":300,"wires":[["88def1c7.f9992","432b0785.48fbe8"]]},{"id":"21a85725.74aae8","type":"change","z":"ac75b08f.1c45c","name":"hdmi *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"hdmi \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":600,"wires":[["1326243b.c5a94c","2cdda964.e358e6"]]},{"id":"432b0785.48fbe8","type":"debug","z":"ac75b08f.1c45c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":860,"y":340,"wires":[]},{"id":"a2ef4781.355d98","type":"ui_button","z":"ac75b08f.1c45c","name":"","group":"a12f857e.8ad7f8","order":3,"width":"1","height":"1","passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":250,"y":60,"wires":[["9d0a3911.5f3a58"]]},{"id":"a42fde8c.33aca","type":"ui_button","z":"ac75b08f.1c45c","name":"","group":"a12f857e.8ad7f8","order":3,"width":"1","height":"1","passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":100,"wires":[["9d0a3911.5f3a58"]]},{"id":"9c3db936.5e0928","type":"ui_button","z":"ac75b08f.1c45c","name":"","group":"a12f857e.8ad7f8","order":3,"width":"1","height":"1","passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":250,"y":140,"wires":[["9d0a3911.5f3a58"]]},{"id":"95eafd86.09fd5","type":"ui_button","z":"ac75b08f.1c45c","name":"","group":"a12f857e.8ad7f8","order":3,"width":"1","height":"1","passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":250,"y":180,"wires":[["9d0a3911.5f3a58"]]},{"id":"3feccc0a.5eea84","type":"ui_button","z":"ac75b08f.1c45c","name":"","group":"a12f857e.8ad7f8","order":3,"width":"1","height":"1","passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":250,"y":220,"wires":[["9d0a3911.5f3a58"]]},{"id":"33cf6337.6dd39c","type":"ui_button","z":"91f0deab.3643e","name":"","group":"937b877f.569368","order":0,"width":0,"height":0,"passthru":false,"label":"再起動","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sudo reboot","payloadType":"str","topic":"","x":120,"y":100,"wires":[["b245aeb6.d093e"]]},{"id":"b245aeb6.d093e","type":"exec","z":"91f0deab.3643e","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":390,"y":100,"wires":[[],[],[]]},{"id":"1efe6bb2.bf46f4","type":"debug","z":"71c4f55e.1555ec","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":920,"y":1360,"wires":[]},{"id":"521783a3.614b0c","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura09","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura09","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1220,"wires":[["c3e8e005.d1cdf"]]},{"id":"9ebe59e9.3f0868","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura08","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura08","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1260,"wires":[["c3e8e005.d1cdf"]]},{"id":"c0415ba9.3d2728","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura07","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura07","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1300,"wires":[["c3e8e005.d1cdf"]]},{"id":"bd340d8f.aa7a7","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura06","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura06","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1340,"wires":[["c3e8e005.d1cdf"]]},{"id":"5174c844.ca04d8","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura05","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1380,"wires":[["c3e8e005.d1cdf"]]},{"id":"27615948.b79066","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura04","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura04","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1420,"wires":[["c3e8e005.d1cdf"]]},{"id":"4e8ade8e.678bf","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura03","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1460,"wires":[["c3e8e005.d1cdf"]]},{"id":"7cf80fb.905e3f","type":"change","z":"71c4f55e.1555ec","name":"on_yaezakura02","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1500,"wires":[["c3e8e005.d1cdf"]]},{"id":"e90df2c2.a6675","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":1540,"wires":[]},{"id":"8195f843.d65f08","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":1600,"wires":[]},{"id":"a40ced75.16962","type":"change","z":"90da4636.c9a6a8","name":"Vol up","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1500,"wires":[["6f2a512.159b9b"]]},{"id":"61b2e6bd.5575a8","type":"change","z":"90da4636.c9a6a8","name":"Vol down","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1580,"wires":[["6f2a512.159b9b"]]},{"id":"1966a31c.44bf9d","type":"change","z":"90da4636.c9a6a8","name":"Vol Up Repeat","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1540,"wires":[["6f2a512.159b9b"]]},{"id":"cf2ebdce.2e58c","type":"change","z":"90da4636.c9a6a8","name":"Vol Down Repeat","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1620,"wires":[["6f2a512.159b9b"]]},{"id":"730b22eb.ff29bc","type":"link in","z":"8b3f1d19.8d47a","name":"Alexa応答：AutoAircon温度エラー","links":["b34e9ff1.9011","22bee014.d8ffd"],"x":75,"y":720,"wires":[["42097420.bcc68c","223a7c01.0e1fa4"]]},{"id":"42097420.bcc68c","type":"change","z":"8b3f1d19.8d47a","name":"p = range error","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"extra.min","pt":"msg","to":"20","tot":"num"},{"t":"set","p":"extra.max","pt":"msg","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":780,"wires":[["c448d6c.eb89f28"]]},{"id":"c448d6c.eb89f28","type":"alexa-home-resp","z":"8b3f1d19.8d47a","x":180,"y":840,"wires":[]},{"id":"702099b7.cf3b38","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":1120,"wires":[]},{"id":"8f1d2bdd.8e5698","type":"batch","z":"9c65f293.33b02","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":630,"y":1120,"wires":[["f5a8809e.71d7d","7571ef17.4b0c2"]]},{"id":"223a7c01.0e1fa4","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":220,"y":720,"wires":[]},{"id":"91e3e902.393208","type":"switch","z":"1308fdfa.660ee2","name":"","property":"aircon_ttemp","propertyType":"global","rules":[{"t":"btwn","v":"20","vt":"num","v2":"30","v2t":"num"},{"t":"lt","v":"20","vt":"num"},{"t":"gt","v":"30","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":260,"wires":[["f99aefc6.227d5","5e4d80f9.f4fc3"],["22bee014.d8ffd"],["22bee014.d8ffd"]]},{"id":"dce2a396.7545d","type":"batch","z":"1308fdfa.660ee2","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":730,"y":200,"wires":[["92e30b10.ea4958","91e3e902.393208"]]},{"id":"22bee014.d8ffd","type":"link out","z":"1308fdfa.660ee2","name":"AutoAircon温度エラー","links":["730b22eb.ff29bc"],"x":635,"y":320,"wires":[]},{"id":"aea60b75.181d08","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"109384","acknoledge":true,"name":"Alpha","topic":"","x":90,"y":820,"wires":[["c5bf2a6e.926278"]]},{"id":"5285346b.af676c","type":"switch","z":"1308fdfa.660ee2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"2300","vt":"num","v2":"2950","v2t":"num"},{"t":"btwn","v":"230","vt":"num","v2":"295","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":330,"y":200,"wires":[["22678cb5.42ec24"],["22678cb5.42ec24"],["af9e22d5.207c5"]]},{"id":"22678cb5.42ec24","type":"change","z":"1308fdfa.660ee2","name":"payload / 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload) / 10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[["5285346b.af676c"]]},{"id":"bd9f231c.d63d1","type":"change","z":"47f96de1.dd13a4","name":"dyson-temp","rules":[{"t":"set","p":"dyson-temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":580,"wires":[["9aaace47.f7509"]]},{"id":"327d2b03.5d6cf4","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"4c170377.2e825c","type":"switch","z":"47f96de1.dd13a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temp_up","vt":"str"},{"t":"eq","v":"temp_down","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":320,"wires":[["c8ab8f9e.e77f3"],["e3913daf.31323"]]},{"id":"c8ab8f9e.e77f3","type":"change","z":"47f96de1.dd13a4","name":"dyson-temp++","rules":[{"t":"set","p":"t","pt":"msg","to":"dyson-temp","tot":"global"},{"t":"set","p":"dyson-temp","pt":"global","to":"$number(msg.t) + 1\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["ae19f102.cf09b"]]},{"id":"ae19f102.cf09b","type":"change","z":"47f96de1.dd13a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dyson-temp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["327d2b03.5d6cf4","9aaace47.f7509"]]},{"id":"e3913daf.31323","type":"change","z":"47f96de1.dd13a4","name":"dyson-temp--","rules":[{"t":"set","p":"t","pt":"msg","to":"dyson-temp","tot":"global"},{"t":"set","p":"dyson-temp","pt":"global","to":"$number(msg.t) - 1\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["ae19f102.cf09b"]]},{"id":"9aaace47.f7509","type":"change","z":"47f96de1.dd13a4","name":"応答の作成:温度","rules":[{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"dyson-temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":640,"wires":[["992bc9ea.9072b8","eab39e1b.6386d","adc81f5c.e46a"]]},{"id":"992bc9ea.9072b8","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":273,"y":735,"wires":[]},{"id":"adc81f5c.e46a","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"extra","x":473,"y":695,"wires":[]},{"id":"eab39e1b.6386d","type":"alexa-home-resp","z":"47f96de1.dd13a4","x":493,"y":655,"wires":[]},{"id":"9f52dc82.c7f71","type":"batch","z":"47f96de1.dd13a4","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":190,"y":480,"wires":[["f92c1d97.49216","bd9f231c.d63d1","71d61680.e8af58"]]},{"id":"eef7ccf8.670a5","type":"function","z":"47f96de1.dd13a4","name":"dyson-temp == undefined?","func":"if (msg.t === undefined) {\n    msg.t = 25;\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["8d2f6f9a.b260e"]]},{"id":"1635c065.40658","type":"change","z":"47f96de1.dd13a4","name":"msg.t = dyson-temp","rules":[{"t":"set","p":"t","pt":"msg","to":"dyson-temp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":180,"wires":[["eef7ccf8.670a5"]]},{"id":"8d2f6f9a.b260e","type":"change","z":"47f96de1.dd13a4","name":"dyson-temp = msg.t","rules":[{"t":"set","p":"dyson-temp","pt":"global","to":"t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["4c170377.2e825c"]]},{"id":"7571ef17.4b0c2","type":"change","z":"9c65f293.33b02","name":"aircon_ttemp = payload","rules":[{"t":"set","p":"aircon_ttemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1180,"wires":[["1e967b3c.f955a5"]]},{"id":"dcd2b9b6.033d58","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":660,"y":40,"wires":[]},{"id":"c3c28654.6ad488","type":"function","z":"8b3f1d19.8d47a","name":"小数点の処理","func":"if (msg.payload - Math.floor(msg.payload) > 0) {\n    msg.extra = {\n        targetTemperature: {\n            value: msg.payload * 10\n        }\n    };\n} else {\n    msg.extra = {\n        targetTemperature: {\n            value: msg.payload\n        }\n    };\n}\nmsg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":600,"wires":[["4b9d8af1.388284","13b2270b.6a4a39","dd11189f.511238"]]},{"id":"44aaa3a0.6c36fc","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":1520,"wires":[]},{"id":"1e967b3c.f955a5","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":1180,"wires":[]}]