node-red/flows_rpi3b-1.json
[{"id":"4e7efffd.6ee66","type":"tab","label":"サーバー","disabled":false,"info":""},{"id":"1308fdfa.660ee2","type":"tab","label":"Alexaエアコン","disabled":false,"info":""},{"id":"90da4636.c9a6a8","type":"tab","label":"Alexa デバイス","disabled":false,"info":""},{"id":"8b3f1d19.8d47a","type":"tab","label":"Alexaの応答","disabled":false,"info":""},{"id":"9c65f293.33b02","type":"tab","label":"環境情報","disabled":false,"info":""},{"id":"284ce301.87709c","type":"tab","label":"家電コントロール","disabled":false,"info":""},{"id":"47f96de1.dd13a4","type":"tab","label":"Dyson Fan","disabled":false,"info":""},{"id":"153a3022.b5e5c","type":"tab","label":"BOSE Speaker","disabled":false,"info":""},{"id":"85cabc16.3b059","type":"mqtt-broker","z":"","name":"beebotte env1","broker":"mqtt.beebotte.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"569c36.708e93cc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3760bec9.4da4a2","type":"ui_tab","z":"","name":"環境情報","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ef77ec2c.dabd1","type":"ui_tab","z":"","name":"家電コントロール","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ba4e04f8.81b748","type":"mqtt-broker","z":"","name":"beebotte aircon1","broker":"mqtt.beebotte.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc8e5007.1e84f","type":"ui_group","z":"","name":"操作","tab":"3760bec9.4da4a2","order":4,"disp":true,"width":"7","collapse":true},{"id":"c40b61ea.85919","type":"ui_group","z":"","name":"制御パラメータ","tab":"3760bec9.4da4a2","order":5,"disp":true,"width":"7","collapse":true},{"id":"b1694a6d.419e48","type":"alexa-home-conf","z":"","username":"ytani"},{"id":"61b7a2b.f8f905c","type":"ui_group","z":"","name":"TV","tab":"ef77ec2c.dabd1","order":1,"disp":true,"width":"7","collapse":true},{"id":"e59ffdb8.ef046","type":"ui_group","z":"","name":"照明 シャープ","tab":"ef77ec2c.dabd1","order":6,"disp":true,"width":"7","collapse":true},{"id":"ee96d0d9.fd196","type":"ui_group","z":"","name":"湿度","tab":"3760bec9.4da4a2","order":6,"disp":true,"width":"7","collapse":true},{"id":"42cfcfd2.d19f8","type":"ui_group","z":"","name":"温度","tab":"3760bec9.4da4a2","order":1,"disp":true,"width":"7","collapse":true},{"id":"ce4daba8.382ed8","type":"ui_group","z":"","name":"温度：短期グラフ","tab":"3760bec9.4da4a2","order":2,"disp":true,"width":"7","collapse":true},{"id":"ab8dbf74.41591","type":"ui_group","z":"","name":"SONY BL","tab":"ef77ec2c.dabd1","order":2,"disp":true,"width":"7","collapse":true},{"id":"a33505b2.315278","type":"ui_group","z":"","name":"SONY BL 再生","tab":"ef77ec2c.dabd1","order":3,"disp":true,"width":"7","collapse":true},{"id":"26d19d50.cddde2","type":"ui_group","z":"","name":"SONY BL Ch","tab":"ef77ec2c.dabd1","order":4,"disp":true,"width":"7","collapse":true},{"id":"9ddca472.123b38","type":"ui_group","z":"","name":"湿度：短期グラフ","tab":"3760bec9.4da4a2","order":7,"disp":true,"width":"7","collapse":true},{"id":"57320567.c55d1c","type":"ui_group","z":"","name":"リモコン温度","tab":"3760bec9.4da4a2","order":3,"disp":true,"width":"7","collapse":true},{"id":"936620f7.c29ac","type":"ui_spacer","name":"spacer","group":"42cfcfd2.d19f8","order":3,"width":3,"height":1},{"id":"cb067388.5cfcb","type":"ui_spacer","name":"spacer","group":"bc8e5007.1e84f","order":2,"width":1,"height":1},{"id":"29cc9da6.8e6a02","type":"ui_spacer","name":"spacer","group":"bc8e5007.1e84f","order":13,"width":5,"height":1},{"id":"22c8dc1a.df96f4","type":"ui_spacer","name":"spacer","group":"c40b61ea.85919","order":10,"width":3,"height":1},{"id":"ba160f93.9b7df","type":"ui_spacer","name":"spacer","group":"ee96d0d9.fd196","order":3,"width":3,"height":1},{"id":"2b621372.6c977c","type":"ui_group","z":"","name":"DYSON Fan","tab":"ef77ec2c.dabd1","order":5,"disp":true,"width":"7","collapse":true},{"id":"f01b9a4a.751da8","type":"ui_group","z":"","name":"BOSE Speaker","tab":"ef77ec2c.dabd1","order":7,"disp":true,"width":"7","collapse":true},{"id":"8a316e39.a04f5","type":"ui_spacer","name":"spacer","group":"61b7a2b.f8f905c","order":7,"width":1,"height":1},{"id":"30f0dcd.19eca24","type":"ui_spacer","name":"spacer","group":"61b7a2b.f8f905c","order":14,"width":1,"height":1},{"id":"635461d5.71391","type":"ui_spacer","name":"spacer","group":"61b7a2b.f8f905c","order":16,"width":3,"height":1},{"id":"6f946020.2ee4","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":2,"width":3,"height":1},{"id":"86e69d14.c64ea","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":7,"width":1,"height":1},{"id":"df03186d.0420d8","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":11,"width":1,"height":1},{"id":"1b216e86.6e6d01","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":14,"width":3,"height":1},{"id":"e5c09043.df48e","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":15,"width":1,"height":1},{"id":"73fe.c3e46c023c","type":"ui_spacer","name":"spacer","group":"ab8dbf74.41591","order":20,"width":2,"height":1},{"id":"db597e7d.5884c","type":"ui_spacer","name":"spacer","group":"a33505b2.315278","order":8,"width":1,"height":1},{"id":"cbad5422.1cbb18","type":"ui_spacer","name":"spacer","group":"a33505b2.315278","order":12,"width":1,"height":1},{"id":"50c69681.14a288","type":"ui_spacer","name":"spacer","group":"26d19d50.cddde2","order":9,"width":1,"height":1},{"id":"2ba99d62.587b22","type":"ui_spacer","name":"spacer","group":"26d19d50.cddde2","order":15,"width":1,"height":1},{"id":"4f1b8801.30dbf8","type":"ui_spacer","name":"spacer","group":"26d19d50.cddde2","order":17,"width":1,"height":1},{"id":"d9b33472.df4038","type":"ui_spacer","name":"spacer","group":"2b621372.6c977c","order":4,"width":1,"height":1},{"id":"7f4717d4.607a68","type":"ui_spacer","name":"spacer","group":"2b621372.6c977c","order":8,"width":1,"height":1},{"id":"95aafa67.276a48","type":"ui_spacer","name":"spacer","group":"f01b9a4a.751da8","order":4,"width":1,"height":1},{"id":"69429fa8.737c4","type":"alexa-home-conf","z":"","username":"ytani"},{"id":"447ba0c7.cd5c1","type":"ui_group","z":"","name":"ランプ","tab":"ef77ec2c.dabd1","order":8,"disp":true,"width":"7","collapse":true},{"id":"e2e31e11.0abea","type":"ui_chart","z":"9c65f293.33b02","name":"温度グラフ:リモコン温度","group":"57320567.c55d1c","order":1,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#0000ff","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":100,"wires":[[]]},{"id":"62ab3f74.1204a","type":"ui_gauge","z":"9c65f293.33b02","name":"温度ゲージ","group":"42cfcfd2.d19f8","order":1,"width":3,"height":3,"gtype":"gage","title":"現在の温度","label":"℃","format":"{{value}}","min":"10","max":"35","colors":["#ff7b7b","#ff0000","#a8000d"],"seg1":"20","seg2":"28","x":850,"y":60,"wires":[]},{"id":"8680c7f7.553e78","type":"ui_slider","z":"9c65f293.33b02","name":"目標温度スライダー","label":"","tooltip":"{{value}}","group":"bc8e5007.1e84f","order":4,"width":7,"height":1,"passthru":false,"outs":"end","topic":"","min":"23","max":"29","step":"0.5","x":480,"y":1080,"wires":[["f5a8809e.71d7d","215a15.3b5a35ec"]]},{"id":"f5a8809e.71d7d","type":"change","z":"9c65f293.33b02","name":"ttemp val","rules":[{"t":"set","p":"payload","pt":"msg","to":"'ttemp ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1120,"wires":[["f7c01d13.dbcf3"]]},{"id":"7c71915c.0ad33","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":9,"width":1,"height":1,"passthru":false,"label":"27","tooltip":"","color":"","bgcolor":"","icon":"","payload":"27","payloadType":"str","topic":"","x":90,"y":1100,"wires":[["4a76a932.093ba8"]]},{"id":"5e97280e.c86828","type":"link out","z":"9c65f293.33b02","name":"AutoAircon on/off","links":["cc249647.c26b18"],"x":855,"y":300,"wires":[]},{"id":"78a1924.563406c","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":10,"width":1,"height":1,"passthru":false,"label":"28","tooltip":"","color":"","bgcolor":"","icon":"","payload":"28","payloadType":"str","topic":"","x":90,"y":1060,"wires":[["4a76a932.093ba8"]]},{"id":"f7c01d13.dbcf3","type":"link out","z":"9c65f293.33b02","name":"AutoAircon 目標温度","links":["cc249647.c26b18"],"x":815,"y":1120,"wires":[]},{"id":"de83597d.d46488","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":11,"width":1,"height":1,"passthru":false,"label":"29","tooltip":"","color":"","bgcolor":"","icon":"","payload":"29","payloadType":"str","topic":"","x":90,"y":1020,"wires":[["4a76a932.093ba8"]]},{"id":"17b35112.efb54f","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":8,"width":1,"height":1,"passthru":false,"label":"26","tooltip":"","color":"","bgcolor":"","icon":"","payload":"26","payloadType":"str","topic":"","x":90,"y":1140,"wires":[["4a76a932.093ba8"]]},{"id":"215a15.3b5a35ec","type":"ui_numeric","z":"9c65f293.33b02","name":"目標温度 上下","label":"目標温度","tooltip":"","group":"bc8e5007.1e84f","order":3,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}} ℃","min":"24","max":"29","step":"0.5","x":460,"y":1160,"wires":[["8680c7f7.553e78","f5a8809e.71d7d"]]},{"id":"b9f94ddd.9b438","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":7,"width":1,"height":1,"passthru":false,"label":"25","tooltip":"","color":"","bgcolor":"","icon":"","payload":"25","payloadType":"str","topic":"","x":90,"y":1180,"wires":[["4a76a932.093ba8"]]},{"id":"975c84ff.4672d8","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":6,"width":1,"height":1,"passthru":false,"label":"24","tooltip":"","color":"","bgcolor":"","icon":"","payload":"24","payloadType":"str","topic":"","x":90,"y":1220,"wires":[["4a76a932.093ba8"]]},{"id":"c24f5832.3afe18","type":"ui_chart","z":"9c65f293.33b02","name":"温度グラフ:長期","group":"42cfcfd2.d19f8","order":2,"width":4,"height":4,"label":"","chartType":"line","legend":"false","xformat":"M/D,HH:MM","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":180,"wires":[[]]},{"id":"d958f714.b5f398","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":5,"width":2,"height":1,"name":"","label":"Kp*p","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":620,"wires":[]},{"id":"d628a65a.13a948","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":6,"width":2,"height":1,"name":"","label":"Ki*i","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":680,"wires":[]},{"id":"89b3522c.0b917","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":7,"width":2,"height":1,"name":"","label":"Kd*d","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":740,"wires":[]},{"id":"37b51c80.55c284","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":8,"width":1,"height":1,"name":"PID","label":"","format":"{{msg.payload}}","layout":"col-center","x":530,"y":560,"wires":[]},{"id":"e15734ea.0d5dd8","type":"ui_numeric","z":"9c65f293.33b02","name":"Kp","label":"","tooltip":"","group":"c40b61ea.85919","order":1,"width":2,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"50","step":"0.1","x":530,"y":800,"wires":[["9c8d0031.eb57d"]]},{"id":"69861a33.4a7f34","type":"ui_numeric","z":"9c65f293.33b02","name":"Ki","label":"","tooltip":"","group":"c40b61ea.85919","order":2,"width":2,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"50","step":"0.1","x":530,"y":860,"wires":[["fc4464fa.b869f8"]]},{"id":"4f60feb3.c1066","type":"ui_numeric","z":"9c65f293.33b02","name":"Kd","label":"","tooltip":"","group":"c40b61ea.85919","order":3,"width":2,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"50","step":"0.1","x":530,"y":920,"wires":[["97d727d6.1f39c8"]]},{"id":"9c8d0031.eb57d","type":"change","z":"9c65f293.33b02","name":"'kp val'","rules":[{"t":"set","p":"payload","pt":"msg","to":"'kp ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":800,"wires":[["1afd43e5.7a0edc"]]},{"id":"fc4464fa.b869f8","type":"change","z":"9c65f293.33b02","name":"'ki val'","rules":[{"t":"set","p":"payload","pt":"msg","to":"'ki ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":860,"wires":[["266d94d8.4366bc"]]},{"id":"97d727d6.1f39c8","type":"change","z":"9c65f293.33b02","name":"'kd val'","rules":[{"t":"set","p":"payload","pt":"msg","to":"'kd ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":920,"wires":[["9564cb54.529f78"]]},{"id":"1afd43e5.7a0edc","type":"link out","z":"9c65f293.33b02","name":"kp","links":["26746e8d.089c92","cc249647.c26b18"],"x":775,"y":800,"wires":[]},{"id":"266d94d8.4366bc","type":"link out","z":"9c65f293.33b02","name":"ki","links":["26746e8d.089c92","cc249647.c26b18"],"x":775,"y":860,"wires":[]},{"id":"9564cb54.529f78","type":"link out","z":"9c65f293.33b02","name":"kd","links":["26746e8d.089c92","cc249647.c26b18"],"x":775,"y":920,"wires":[]},{"id":"345137c0.7094a8","type":"link in","z":"9c65f293.33b02","name":"目標温度スライダー","links":["a566433f.f6ceb","234e644d.58bffc"],"x":275,"y":1080,"wires":[["8680c7f7.553e78"]]},{"id":"9e0dfc61.fcefd","type":"ui_switch","z":"9c65f293.33b02","name":"ON/OFF","label":"Power","tooltip":"","group":"bc8e5007.1e84f","order":1,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":380,"wires":[["1eb41e07.53e382"]]},{"id":"4415018.95069","type":"switch","z":"9c65f293.33b02","name":"params","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"active","vt":"str"},{"t":"hask","v":"temp","vt":"str"},{"t":"hask","v":"rtemp","vt":"str"},{"t":"hask","v":"ttemp","vt":"str"},{"t":"hask","v":"pid","vt":"str"},{"t":"hask","v":"kp_p","vt":"str"},{"t":"hask","v":"ki_i","vt":"str"},{"t":"hask","v":"kd_d","vt":"str"},{"t":"hask","v":"kp","vt":"str"},{"t":"hask","v":"ki","vt":"str"},{"t":"hask","v":"kd","vt":"str"},{"t":"hask","v":"interval_min","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":160,"y":620,"wires":[["945682f.d89d98"],["8786d010.8b71b"],["f2d1804d.a2e15"],["539de32b.89056c"],["a367c20d.e9888"],["23887cdc.c7f304"],["6d1af9a2.ee0768"],["fcfbe100.571c5"],["4b61672a.d9a318"],["a7ec1edb.61b97"],["e5d8f571.0b8978"],["d9d0714a.4960d"]]},{"id":"23887cdc.c7f304","type":"change","z":"9c65f293.33b02","name":"kp_p","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.kp_p, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":620,"wires":[["4278442c.79788c","d958f714.b5f398"]]},{"id":"4278442c.79788c","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":620,"wires":[]},{"id":"6d1af9a2.ee0768","type":"change","z":"9c65f293.33b02","name":"ki_i","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.ki_i, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":680,"wires":[["7bd835de.3ccb2c","d628a65a.13a948"]]},{"id":"7bd835de.3ccb2c","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":680,"wires":[]},{"id":"fcfbe100.571c5","type":"change","z":"9c65f293.33b02","name":"kd_d","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.kd_d, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":740,"wires":[["cdb60543.e8a588","89b3522c.0b917"]]},{"id":"a367c20d.e9888","type":"change","z":"9c65f293.33b02","name":"pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.pid, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":560,"wires":[["80a0c5.306e9f38","37b51c80.55c284"]]},{"id":"cdb60543.e8a588","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":740,"wires":[]},{"id":"80a0c5.306e9f38","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":560,"wires":[]},{"id":"a7ec1edb.61b97","type":"change","z":"9c65f293.33b02","name":"ki","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.ki, 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":860,"wires":[["69861a33.4a7f34"]]},{"id":"4b61672a.d9a318","type":"change","z":"9c65f293.33b02","name":"kp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.kp, 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":800,"wires":[["e15734ea.0d5dd8"]]},{"id":"e5d8f571.0b8978","type":"change","z":"9c65f293.33b02","name":"kd","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.kd,1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":920,"wires":[["4f60feb3.c1066"]]},{"id":"945682f.d89d98","type":"change","z":"9c65f293.33b02","name":"active","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.active","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["9e0dfc61.fcefd"]]},{"id":"8786d010.8b71b","type":"change","z":"9c65f293.33b02","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":420,"wires":[["17241f0.e32c9e1","59e9aeae.7bd55"]]},{"id":"539de32b.89056c","type":"change","z":"9c65f293.33b02","name":"ttemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ttemp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"ttemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":500,"wires":[["a566433f.f6ceb","92322f42.0535e"]]},{"id":"f2d1804d.a2e15","type":"change","z":"9c65f293.33b02","name":"rtemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rtemp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"rtemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":460,"wires":[["5980eb8e.474a84"]]},{"id":"a566433f.f6ceb","type":"link out","z":"9c65f293.33b02","name":"target temp","links":["345137c0.7094a8","4c75888e.9939e8","5f59420d.d5bb8c","b784b2e6.04c9b"],"x":555,"y":500,"wires":[]},{"id":"1eb41e07.53e382","type":"switch","z":"9c65f293.33b02","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":340,"wires":[["c7f3930d.de3f8"],["4bd20554.25a5dc"]]},{"id":"4a76a932.093ba8","type":"batch","z":"9c65f293.33b02","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":250,"y":1120,"wires":[["8680c7f7.553e78","f5a8809e.71d7d","215a15.3b5a35ec"]]},{"id":"8afef1e6.44c4a","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":60,"wires":[]},{"id":"cc249647.c26b18","type":"link in","z":"4e7efffd.6ee66","name":"AutoAirconServer","links":["5e97280e.c86828","f7c01d13.dbcf3","1afd43e5.7a0edc","266d94d8.4366bc","9564cb54.529f78","40d27502.25b2bc"],"x":75,"y":60,"wires":[["8109a72f.b8e0a8"]]},{"id":"dab1cf38.fc65b","type":"tcp request","z":"4e7efffd.6ee66","server":"localhost","port":"51002","out":"char","splitc":"}","name":"AutoAirconServer","x":210,"y":120,"wires":[["ae4d4cdf.32e6a","a8737950.a11e18"]]},{"id":"8109a72f.b8e0a8","type":"delay","z":"4e7efffd.6ee66","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":60,"wires":[["dab1cf38.fc65b","8afef1e6.44c4a"]]},{"id":"96ef9e86.f78a1","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":240,"wires":[]},{"id":"ae4d4cdf.32e6a","type":"converter","z":"4e7efffd.6ee66","name":"UTF-8","from":"utf-8","x":170,"y":180,"wires":[["32d6fb50.6867c4","f8b341ef.0d1d6"]]},{"id":"32d6fb50.6867c4","type":"json","z":"4e7efffd.6ee66","name":"","property":"payload","action":"","pretty":false,"x":170,"y":240,"wires":[["96ef9e86.f78a1"]]},{"id":"f8b341ef.0d1d6","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":180,"wires":[]},{"id":"94d701ba.3602b","type":"tcp in","z":"9c65f293.33b02","name":"ParamServer:51888","server":"server","host":"","port":"51888","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":130,"y":60,"wires":[["9f20a989.6072a8","6f75fdc4.266ba4"]]},{"id":"b0ef113f.4e29","type":"json","z":"9c65f293.33b02","name":"","property":"payload","action":"","pretty":false,"x":110,"y":180,"wires":[["ad1ef0e5.c19c8","4415018.95069"]]},{"id":"9f20a989.6072a8","type":"converter","z":"9c65f293.33b02","name":"utf-8","from":"UTF-8","x":110,"y":120,"wires":[["b0ef113f.4e29","538b5e53.ecf2b"]]},{"id":"ad1ef0e5.c19c8","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":290,"y":180,"wires":[]},{"id":"4c99d7c8.6b4598","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":5,"width":1,"height":1,"passthru":false,"label":"23","tooltip":"","color":"","bgcolor":"","icon":"","payload":"23","payloadType":"str","topic":"","x":90,"y":1260,"wires":[["4a76a932.093ba8"]]},{"id":"6da5f681.bdb8e8","type":"ui_text","z":"9c65f293.33b02","group":"c40b61ea.85919","order":4,"width":1,"height":1,"name":"","label":"PID","format":"{{msg.payload}}","layout":"row-left","x":850,"y":560,"wires":[]},{"id":"6f75fdc4.266ba4","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":60,"wires":[]},{"id":"538b5e53.ecf2b","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":290,"y":120,"wires":[]},{"id":"a8737950.a11e18","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":120,"wires":[]},{"id":"5f59420d.d5bb8c","type":"link in","z":"9c65f293.33b02","name":"目標温度上下","links":["234e644d.58bffc","a566433f.f6ceb"],"x":275,"y":1160,"wires":[["215a15.3b5a35ec"]]},{"id":"9da67e23.0f07e","type":"ui_chart","z":"9c65f293.33b02","name":"温度グラフ:短期","group":"ce4daba8.382ed8","order":1,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":140,"wires":[[]]},{"id":"cca54991.190478","type":"delay","z":"4e7efffd.6ee66","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":320,"wires":[["318f4b96.22adb4","2fc56d41.8cb7d2"]]},{"id":"cbe6d6e5.f84ac8","type":"link in","z":"4e7efffd.6ee66","name":"IrSendServer","links":["7324b8a3.e827a8","f8b247c6.52fd68","bad9cd12.41a39","4de7831.cb0ec7c","2190966.5fbdd6a","fd7f7475.b968c8","47598fc4.7b81a","b334f7e1.388998","49b2c722.082788","d8ca0d79.765f8","7abb0da0.5b0254","b64156b.5f414a8","d208d06e.d62e8","f9748688.959978","56a50c74.bbeb94","58bd862a.765608","f7669493.f79c58","d2472bc9.fd61e8","53133d3d.d06a64"],"x":75,"y":320,"wires":[["cca54991.190478"]]},{"id":"a0c55476.df0908","type":"tcp request","z":"4e7efffd.6ee66","server":"localhost","port":"51001","out":"char","splitc":"}","name":"IrSendCmdServer","x":210,"y":440,"wires":[["114ddfd.9a4ca2","4afcc63c.04bff8"]]},{"id":"5f9c46f6.7c05d8","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":560,"wires":[]},{"id":"114ddfd.9a4ca2","type":"converter","z":"4e7efffd.6ee66","name":"UTF-8","from":"utf-8","x":170,"y":500,"wires":[["e682dd70.2e4f9","b1d9eeac.ed61b"]]},{"id":"e682dd70.2e4f9","type":"json","z":"4e7efffd.6ee66","name":"","property":"payload","action":"","pretty":false,"x":170,"y":560,"wires":[["5f9c46f6.7c05d8"]]},{"id":"b1d9eeac.ed61b","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":500,"wires":[]},{"id":"4afcc63c.04bff8","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":440,"wires":[]},{"id":"318f4b96.22adb4","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":320,"wires":[]},{"id":"8ca11f87.883a1","type":"ui_button","z":"9c65f293.33b02","name":"","group":"bc8e5007.1e84f","order":12,"width":2,"height":1,"passthru":false,"label":"風向","tooltip":"","color":"","bgcolor":"","icon":"","payload":"direction","payloadType":"str","topic":"","x":370,"y":1340,"wires":[["6e6518e2.b55488"]]},{"id":"2fc56d41.8cb7d2","type":"change","z":"4e7efffd.6ee66","name":"irsend *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"irsend \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":380,"wires":[["455d73f0.c9dccc","a0c55476.df0908"]]},{"id":"455d73f0.c9dccc","type":"debug","z":"4e7efffd.6ee66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":380,"wires":[]},{"id":"6e6518e2.b55488","type":"change","z":"9c65f293.33b02","name":"aircon *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"aircon \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1340,"wires":[["7324b8a3.e827a8","6e6d2cf9.098d54"]]},{"id":"7324b8a3.e827a8","type":"link out","z":"9c65f293.33b02","name":"エアコン 風向","links":["cbe6d6e5.f84ac8"],"x":815,"y":1340,"wires":[]},{"id":"6e6d2cf9.098d54","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":550,"y":1380,"wires":[]},{"id":"27754a9a.15de16","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":1,"width":2,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":90,"y":80,"wires":[["3d8f7949.a1b946"]]},{"id":"4d45f254.e8c3fc","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":2,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":120,"wires":[["3d8f7949.a1b946"]]},{"id":"d4877e50.55d22","type":"ui_button","z":"284ce301.87709c","name":"VOL↑","group":"61b7a2b.f8f905c","order":12,"width":1,"height":1,"passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vol_up","payloadType":"str","topic":"","x":470,"y":260,"wires":[["4bce7e6f.48d59"]]},{"id":"cc134b06.749898","type":"ui_button","z":"284ce301.87709c","name":"VOL↓","group":"61b7a2b.f8f905c","order":23,"width":1,"height":1,"passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vol_down","payloadType":"str","topic":"","x":470,"y":300,"wires":[["4bce7e6f.48d59"]]},{"id":"302c78e5.035e38","type":"change","z":"284ce301.87709c","name":"lg_tv","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lg_tv \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":80,"wires":[["f8b247c6.52fd68"]]},{"id":"f8b247c6.52fd68","type":"link out","z":"284ce301.87709c","name":"LG TV","links":["cbe6d6e5.f84ac8"],"x":815,"y":120,"wires":[]},{"id":"4bce7e6f.48d59","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":80,"wires":[["302c78e5.035e38"]]},{"id":"d78c213e.e6d9f","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":3,"width":1,"height":1,"passthru":false,"label":"HDMI1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_hdmi1","payloadType":"str","topic":"","x":280,"y":300,"wires":[["edecba6c.4bb4b8"]]},{"id":"b56b82c1.ceaf9","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":4,"width":1,"height":1,"passthru":false,"label":"HDMI2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_hdmi2","payloadType":"str","topic":"","x":280,"y":340,"wires":[["edecba6c.4bb4b8"]]},{"id":"989b72dc.6923","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":5,"width":1,"height":1,"passthru":false,"label":"HDMI3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_hdmi3","payloadType":"str","topic":"","x":280,"y":380,"wires":[["edecba6c.4bb4b8"]]},{"id":"42b5eadf.476244","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":8,"width":1,"height":1,"passthru":false,"label":"地デジ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_dtv","payloadType":"str","topic":"","x":290,"y":140,"wires":[["edecba6c.4bb4b8"]]},{"id":"93dc201a.c9341","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":9,"width":1,"height":1,"passthru":false,"label":"BS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_bs","payloadType":"str","topic":"","x":290,"y":180,"wires":[["edecba6c.4bb4b8"]]},{"id":"97d50e1e.7dc5b","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":10,"width":1,"height":1,"passthru":false,"label":"CS1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_cs1","payloadType":"str","topic":"","x":290,"y":220,"wires":[["edecba6c.4bb4b8"]]},{"id":"d2ba0b4.a2c4ff8","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":11,"width":1,"height":1,"passthru":false,"label":"CS2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_cs2","payloadType":"str","topic":"","x":290,"y":260,"wires":[["edecba6c.4bb4b8"]]},{"id":"8922de3c.37b27","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":28,"width":2,"height":1,"passthru":false,"label":"HOME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"home","payloadType":"str","topic":"","x":90,"y":160,"wires":[["3d8f7949.a1b946"]]},{"id":"14f67b12.805075","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":20,"width":1,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ok","payloadType":"str","topic":"","x":90,"y":200,"wires":[["3d8f7949.a1b946"]]},{"id":"5bce0251.55294c","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":25,"width":1,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back","payloadType":"str","topic":"","x":90,"y":240,"wires":[["3d8f7949.a1b946"]]},{"id":"9c8beae.b5d1418","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":15,"width":1,"height":1,"passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"up","payloadType":"str","topic":"","x":90,"y":280,"wires":[["3d8f7949.a1b946"]]},{"id":"3d86b79e.6a7298","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":26,"width":1,"height":1,"passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"down","payloadType":"str","topic":"","x":90,"y":320,"wires":[["3d8f7949.a1b946"]]},{"id":"adcb1e16.4b47c","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":19,"width":1,"height":1,"passthru":false,"label":"←","tooltip":"","color":"","bgcolor":"","icon":"","payload":"left","payloadType":"str","topic":"","x":90,"y":360,"wires":[["3d8f7949.a1b946"]]},{"id":"6474fa30.3c22d4","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":21,"width":1,"height":1,"passthru":false,"label":"→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"right","payloadType":"str","topic":"","x":90,"y":400,"wires":[["3d8f7949.a1b946"]]},{"id":"5444c4b4.d4fa7c","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":27,"width":1,"height":1,"passthru":false,"label":"END","tooltip":"","color":"","bgcolor":"","icon":"","payload":"end","payloadType":"str","topic":"","x":90,"y":440,"wires":[["3d8f7949.a1b946"]]},{"id":"52e790cf.44c5f","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":22,"width":2,"height":1,"passthru":false,"label":"設定","tooltip":"","color":"","bgcolor":"","icon":"","payload":"settings","payloadType":"str","topic":"","x":270,"y":420,"wires":[["edecba6c.4bb4b8"]]},{"id":"68706e28.2707e","type":"ui_text","z":"284ce301.87709c","group":"61b7a2b.f8f905c","order":18,"width":1,"height":1,"name":"","label":"Ch","format":"{{msg.payload}}","layout":"col-center","x":830,"y":220,"wires":[]},{"id":"990197ff.eee8d8","type":"ui_text","z":"284ce301.87709c","group":"61b7a2b.f8f905c","order":17,"width":1,"height":1,"name":"","label":"Vol","format":"{{msg.payload}}","layout":"col-center","x":830,"y":180,"wires":[]},{"id":"42cf447d.d0eb5c","type":"ui_button","z":"284ce301.87709c","name":"CH↑","group":"61b7a2b.f8f905c","order":13,"width":1,"height":1,"passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_prev","payloadType":"str","topic":"","x":470,"y":140,"wires":[["4bce7e6f.48d59"]]},{"id":"3cc3102d.8470d","type":"ui_button","z":"284ce301.87709c","name":"CH↓","group":"61b7a2b.f8f905c","order":24,"width":1,"height":1,"passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_next","payloadType":"str","topic":"","x":470,"y":180,"wires":[["4bce7e6f.48d59"]]},{"id":"b6268c6c.a88ff","type":"ui_button","z":"284ce301.87709c","name":"","group":"61b7a2b.f8f905c","order":6,"width":2,"height":1,"passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"","payload":"mute","payloadType":"str","topic":"","x":470,"y":220,"wires":[["4bce7e6f.48d59"]]},{"id":"c7f90427.1e00a8","type":"change","z":"284ce301.87709c","name":"sharp_light *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sharp_light \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1100,"wires":[["bad9cd12.41a39","261cda04.52f3b6"]]},{"id":"bad9cd12.41a39","type":"link out","z":"284ce301.87709c","name":"Sharp 照明","links":["cbe6d6e5.f84ac8"],"x":795,"y":1060,"wires":[]},{"id":"64192e33.0f9a4","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":1100,"wires":[["c7f90427.1e00a8"]]},{"id":"3d8f7949.a1b946","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":80,"wires":[["edecba6c.4bb4b8"]]},{"id":"edecba6c.4bb4b8","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":80,"wires":[["4bce7e6f.48d59"]]},{"id":"f0b36d88.ef1bd","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":1100,"wires":[["69981b7a.1927e4"]]},{"id":"69981b7a.1927e4","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":1100,"wires":[["64192e33.0f9a4"]]},{"id":"1645211f.c5f19f","type":"ui_button","z":"284ce301.87709c","name":"","group":"e59ffdb8.ef046","order":1,"width":2,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":90,"y":1100,"wires":[["f0b36d88.ef1bd"]]},{"id":"90ae39df.55ca68","type":"ui_button","z":"284ce301.87709c","name":"","group":"e59ffdb8.ef046","order":4,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":1140,"wires":[["f0b36d88.ef1bd"]]},{"id":"7d329ff8.36562","type":"ui_button","z":"284ce301.87709c","name":"","group":"e59ffdb8.ef046","order":2,"width":2,"height":1,"passthru":false,"label":"Full","tooltip":"","color":"","bgcolor":"","icon":"","payload":"full","payloadType":"str","topic":"","x":90,"y":1180,"wires":[["f0b36d88.ef1bd"]]},{"id":"2f68aaad.ad07b6","type":"ui_button","z":"284ce301.87709c","name":"","group":"e59ffdb8.ef046","order":3,"width":1,"height":1,"passthru":false,"label":"night","tooltip":"","color":"","bgcolor":"","icon":"","payload":"night","payloadType":"str","topic":"","x":90,"y":1220,"wires":[["f0b36d88.ef1bd"]]},{"id":"f2167e07.ac5db","type":"link in","z":"9c65f293.33b02","name":"グラフ長期","links":["5c99cf7c.95645","234e644d.58bffc"],"x":615,"y":180,"wires":[["c24f5832.3afe18"]]},{"id":"4c75888e.9939e8","type":"link in","z":"9c65f293.33b02","name":"グラフ短期1","links":["a566433f.f6ceb","5980eb8e.474a84","17241f0.e32c9e1","234e644d.58bffc"],"x":615,"y":100,"wires":[["e2e31e11.0abea"]]},{"id":"b784b2e6.04c9b","type":"link in","z":"9c65f293.33b02","name":"グラフ短期2","links":["a566433f.f6ceb","17241f0.e32c9e1","234e644d.58bffc"],"x":615,"y":140,"wires":[["9da67e23.0f07e"]]},{"id":"17241f0.e32c9e1","type":"link out","z":"9c65f293.33b02","name":"current temp","links":["4c75888e.9939e8","b784b2e6.04c9b","f0705eda.eacbe"],"x":555,"y":420,"wires":[]},{"id":"5980eb8e.474a84","type":"link out","z":"9c65f293.33b02","name":"remocon temp","links":["4c75888e.9939e8"],"x":555,"y":460,"wires":[]},{"id":"f0705eda.eacbe","type":"link in","z":"9c65f293.33b02","name":"ゲージ 温度","links":["17241f0.e32c9e1"],"x":615,"y":60,"wires":[["62ab3f74.1204a"]]},{"id":"59e9aeae.7bd55","type":"delay","z":"9c65f293.33b02","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":420,"wires":[["5c99cf7c.95645"]]},{"id":"5c99cf7c.95645","type":"link out","z":"9c65f293.33b02","name":"current temp limit","links":["f2167e07.ac5db"],"x":875,"y":420,"wires":[]},{"id":"234e644d.58bffc","type":"link out","z":"9c65f293.33b02","name":"target temp limit","links":["345137c0.7094a8","4c75888e.9939e8","5f59420d.d5bb8c","b784b2e6.04c9b","f2167e07.ac5db"],"x":875,"y":500,"wires":[]},{"id":"92322f42.0535e","type":"delay","z":"9c65f293.33b02","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":500,"wires":[["234e644d.58bffc"]]},{"id":"65c6493e.729b28","type":"ui_chart","z":"9c65f293.33b02","name":"湿度グラフ:短期","group":"9ddca472.123b38","order":1,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#0080ff","#0000ff","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":1460,"wires":[[]]},{"id":"dfab69c0.006fe8","type":"mqtt in","z":"9c65f293.33b02","name":"","topic":"env1/humidity","qos":"1","datatype":"auto","broker":"85cabc16.3b059","x":110,"y":1460,"wires":[["4abea2ac.7747cc","a342721b.9224e"]]},{"id":"5a8aadef.324844","type":"ui_chart","z":"9c65f293.33b02","name":"湿度グラフ:長期","group":"ee96d0d9.fd196","order":2,"width":4,"height":4,"label":"","chartType":"line","legend":"false","xformat":"M/D,HH:MM","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0080ff","#00ff00","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":1520,"wires":[[]]},{"id":"ae0924ca.6fa098","type":"delay","z":"9c65f293.33b02","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":1520,"wires":[["5a8aadef.324844","37bbdb76.1e9764"]]},{"id":"4abea2ac.7747cc","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":130,"y":1520,"wires":[]},{"id":"cedd48f5.a3abb8","type":"change","z":"9c65f293.33b02","name":"data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1460,"wires":[["65c6493e.729b28","ae0924ca.6fa098","44aaa3a0.6c36fc","f0f83aad.823b78"]]},{"id":"44aaa3a0.6c36fc","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":1520,"wires":[]},{"id":"a342721b.9224e","type":"json","z":"9c65f293.33b02","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1460,"wires":[["cedd48f5.a3abb8"]]},{"id":"37bbdb76.1e9764","type":"debug","z":"9c65f293.33b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":1560,"wires":[]},{"id":"5650f157.355b3","type":"change","z":"284ce301.87709c","name":"sony_bl","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":500,"wires":[["4de7831.cb0ec7c"]]},{"id":"edf35ac4.287308","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":500,"wires":[["5650f157.355b3"]]},{"id":"ba592604.3b47c8","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":500,"wires":[["86c49fa3.56cc9"]]},{"id":"86c49fa3.56cc9","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":500,"wires":[["edf35ac4.287308"]]},{"id":"4de7831.cb0ec7c","type":"link out","z":"284ce301.87709c","name":"LG TV","links":["cbe6d6e5.f84ac8"],"x":815,"y":540,"wires":[]},{"id":"762b79be.e7c308","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":1,"width":2,"height":1,"passthru":false,"label":"Power","tooltip":"","color":"","bgcolor":"","icon":"","payload":"power","payloadType":"str","topic":"","x":90,"y":500,"wires":[["ba592604.3b47c8"]]},{"id":"94388ee.43ad87","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":4,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"home","payloadType":"str","topic":"","x":90,"y":540,"wires":[["ba592604.3b47c8"]]},{"id":"40192618.daf2e8","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":12,"width":2,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back","payloadType":"str","topic":"","x":90,"y":580,"wires":[["ba592604.3b47c8"]]},{"id":"2f158943.b663a6","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":5,"width":2,"height":1,"passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"up","payloadType":"str","topic":"","x":90,"y":620,"wires":[["ba592604.3b47c8"]]},{"id":"d86d77a1.dca538","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":13,"width":2,"height":1,"passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"down","payloadType":"str","topic":"","x":90,"y":660,"wires":[["ba592604.3b47c8"]]},{"id":"88f2c584.a5aec8","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":8,"width":2,"height":1,"passthru":false,"label":"←","tooltip":"","color":"","bgcolor":"","icon":"","payload":"left","payloadType":"str","topic":"","x":90,"y":700,"wires":[["ba592604.3b47c8"]]},{"id":"6681bc68.853fd4","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":10,"width":2,"height":1,"passthru":false,"label":"→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"right","payloadType":"str","topic":"","x":90,"y":740,"wires":[["ba592604.3b47c8"]]},{"id":"1852bd74.cf6703","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":16,"width":1,"height":1,"passthru":false,"label":"青","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"blue","payloadType":"str","topic":"","x":650,"y":540,"wires":[["5650f157.355b3"]]},{"id":"5b738b4f.9cca14","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":17,"width":1,"height":1,"passthru":false,"label":"赤","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"red","payloadType":"str","topic":"","x":650,"y":580,"wires":[["5650f157.355b3"]]},{"id":"e2ac1e59.d8a81","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":18,"width":1,"height":1,"passthru":false,"label":"緑","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"green","payloadType":"str","topic":"","x":650,"y":620,"wires":[["5650f157.355b3"]]},{"id":"eac7482.79fa9b8","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":19,"width":1,"height":1,"passthru":false,"label":"黄","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"yellow","payloadType":"str","topic":"","x":650,"y":660,"wires":[["5650f157.355b3"]]},{"id":"fdb540e0.aa0d6","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":16,"width":1,"height":1,"passthru":false,"label":"d","tooltip":"","color":"","bgcolor":"","icon":"","payload":"data","payloadType":"str","topic":"","x":650,"y":700,"wires":[["5650f157.355b3"]]},{"id":"7afca7b8.74eb98","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":2,"width":2,"height":1,"passthru":false,"label":"▷","tooltip":"","color":"","bgcolor":"","icon":"","payload":"play","payloadType":"str","topic":"","x":470,"y":540,"wires":[["edf35ac4.287308"]]},{"id":"d6e3c887.ed6a28","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":10,"width":2,"height":1,"passthru":false,"label":"□","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":470,"y":580,"wires":[["edf35ac4.287308"]]},{"id":"c5e51d76.7eecd","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":6,"width":2,"height":1,"passthru":false,"label":"||","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pause","payloadType":"str","topic":"","x":470,"y":620,"wires":[["edf35ac4.287308"]]},{"id":"d174cbaa.3cc618","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":11,"width":2,"height":1,"passthru":false,"label":"▷|","tooltip":"","color":"","bgcolor":"","icon":"","payload":"next","payloadType":"str","topic":"","x":470,"y":660,"wires":[["edf35ac4.287308"]]},{"id":"422e9ffd.f1cac","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":9,"width":2,"height":1,"passthru":false,"label":"|◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"prev","payloadType":"str","topic":"","x":470,"y":700,"wires":[["edf35ac4.287308"]]},{"id":"206ca09c.ae97","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":1,"width":1,"height":1,"passthru":false,"label":"地デジ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"dtb","payloadType":"str","topic":"","x":90,"y":820,"wires":[["ba592604.3b47c8"]]},{"id":"60c2ee12.ae638","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":2,"width":1,"height":1,"passthru":false,"label":"BS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"bs","payloadType":"str","topic":"","x":90,"y":860,"wires":[["ba592604.3b47c8"]]},{"id":"7d77f051.baeb2","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":3,"width":1,"height":1,"passthru":false,"label":"CS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cs","payloadType":"str","topic":"","x":90,"y":900,"wires":[["ba592604.3b47c8"]]},{"id":"446a37bd.194348","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":3,"width":2,"height":1,"passthru":false,"label":"▷15","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fwd_15","payloadType":"str","topic":"","x":470,"y":740,"wires":[["edf35ac4.287308"]]},{"id":"38aa7f97.566e5","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":1,"width":2,"height":1,"passthru":false,"label":"10◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back_10","payloadType":"str","topic":"","x":470,"y":780,"wires":[["edf35ac4.287308"]]},{"id":"9f4d0e71.1f275","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":7,"width":2,"height":1,"passthru":false,"label":"▷▷","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fast","payloadType":"str","topic":"","x":470,"y":820,"wires":[["edf35ac4.287308"]]},{"id":"38c576c9.4df76a","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":5,"width":2,"height":1,"passthru":false,"label":"◁◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"rewind","payloadType":"str","topic":"","x":470,"y":860,"wires":[["edf35ac4.287308"]]},{"id":"4ebce922.517798","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":9,"width":2,"height":1,"passthru":false,"label":"○","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ok","payloadType":"str","topic":"","x":90,"y":780,"wires":[["ba592604.3b47c8"]]},{"id":"973e352a.935548","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":3,"width":2,"height":1,"passthru":false,"label":"△","tooltip":"","color":"","bgcolor":"","icon":"","payload":"eject","payloadType":"str","topic":"","x":470,"y":900,"wires":[["edf35ac4.287308"]]},{"id":"4a48edd9.319f64","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":10,"width":1,"height":1,"passthru":false,"label":"Ch→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_next","payloadType":"str","topic":"","x":90,"y":940,"wires":[["ba592604.3b47c8"]]},{"id":"f86b3be5.b98f78","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":8,"width":1,"height":1,"passthru":false,"label":"←Ch","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_prev","payloadType":"str","topic":"","x":90,"y":980,"wires":[["ba592604.3b47c8"]]},{"id":"b6367223.0fead","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":4,"width":1,"height":1,"passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_01","payloadType":"str","topic":"","x":290,"y":540,"wires":[["86c49fa3.56cc9"]]},{"id":"db0ad8e6.8ec9b8","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":5,"width":1,"height":1,"passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_02","payloadType":"str","topic":"","x":290,"y":580,"wires":[["86c49fa3.56cc9"]]},{"id":"3cf2d7a9.548718","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":6,"width":1,"height":1,"passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_03","payloadType":"str","topic":"","x":290,"y":620,"wires":[["86c49fa3.56cc9"]]},{"id":"4ff9f77d.31a998","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":7,"width":1,"height":1,"passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_04","payloadType":"str","topic":"","x":290,"y":660,"wires":[["86c49fa3.56cc9"]]},{"id":"49d04420.882a7c","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":11,"width":1,"height":1,"passthru":false,"label":"5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_05","payloadType":"str","topic":"","x":290,"y":700,"wires":[["86c49fa3.56cc9"]]},{"id":"2abd8728.5d7f08","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":12,"width":1,"height":1,"passthru":false,"label":"6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_06","payloadType":"str","topic":"","x":290,"y":740,"wires":[["86c49fa3.56cc9"]]},{"id":"bbab81ba.9bd4b","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":13,"width":1,"height":1,"passthru":false,"label":"7","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_07","payloadType":"str","topic":"","x":290,"y":780,"wires":[["86c49fa3.56cc9"]]},{"id":"a4f20132.5ba4b","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":14,"width":1,"height":1,"passthru":false,"label":"8","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_08","payloadType":"str","topic":"","x":290,"y":820,"wires":[["86c49fa3.56cc9"]]},{"id":"c41f9a98.0c4458","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":18,"width":1,"height":1,"passthru":false,"label":"9","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_09","payloadType":"str","topic":"","x":290,"y":860,"wires":[["86c49fa3.56cc9"]]},{"id":"21a8df9b.3e68a","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":19,"width":1,"height":1,"passthru":false,"label":"10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_10","payloadType":"str","topic":"","x":290,"y":900,"wires":[["86c49fa3.56cc9"]]},{"id":"d4185109.4185c","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":20,"width":1,"height":1,"passthru":false,"label":"11","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_11","payloadType":"str","topic":"","x":290,"y":940,"wires":[["86c49fa3.56cc9"]]},{"id":"4dea3b9b.d2a9b4","type":"ui_button","z":"284ce301.87709c","name":"","group":"26d19d50.cddde2","order":21,"width":1,"height":1,"passthru":false,"label":"12","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_12","payloadType":"str","topic":"","x":290,"y":980,"wires":[["86c49fa3.56cc9"]]},{"id":"61dc1f77.f2924","type":"ui_button","z":"284ce301.87709c","name":"","group":"ab8dbf74.41591","order":6,"width":2,"height":1,"passthru":false,"label":"Opt","tooltip":"","color":"","bgcolor":"","icon":"","payload":"option","payloadType":"str","topic":"","x":90,"y":1020,"wires":[["ba592604.3b47c8"]]},{"id":"b058f3ab.cc217","type":"ui_slider","z":"284ce301.87709c","name":"","label":"ソメイヨシノ","tooltip":"","group":"e59ffdb8.ef046","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":120,"y":1420,"wires":[["fbd12c6e.e74ac"]]},{"id":"7565d3bc.cf90ec","type":"ui_slider","z":"284ce301.87709c","name":"","label":"八重桜　　　","tooltip":"","group":"e59ffdb8.ef046","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":120,"y":1480,"wires":[["c026beae.81798"]]},{"id":"261cda04.52f3b6","type":"debug","z":"284ce301.87709c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":1140,"wires":[]},{"id":"fbd12c6e.e74ac","type":"change","z":"284ce301.87709c","name":"on_someiyoshino","rules":[{"t":"set","p":"prefix","pt":"msg","to":"on_someiyoshino","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1420,"wires":[["a6e1909.621a47"]]},{"id":"2b401090.8e66","type":"change","z":"284ce301.87709c","name":"prefix + num","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.prefix& $substring(\"0\" & msg.payload, -2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1320,"wires":[["9bc73d37.cb01c","c7f90427.1e00a8"]]},{"id":"9bc73d37.cb01c","type":"debug","z":"284ce301.87709c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":1360,"wires":[]},{"id":"c026beae.81798","type":"change","z":"284ce301.87709c","name":"on_someiyoshino","rules":[{"t":"set","p":"prefix","pt":"msg","to":"on_yaezakura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1480,"wires":[["a6e1909.621a47"]]},{"id":"4ac03a45.05c144","type":"ui_slider","z":"284ce301.87709c","name":"","label":"color","tooltip":"","group":"e59ffdb8.ef046","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":90,"y":1300,"wires":[["8c69f874.1f4778"]]},{"id":"6c3a0f83.ae28f","type":"ui_slider","z":"284ce301.87709c","name":"","label":"level","tooltip":"","group":"e59ffdb8.ef046","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":90,"y":1360,"wires":[["dbce8e53.71a0e"]]},{"id":"8c69f874.1f4778","type":"change","z":"284ce301.87709c","name":"color","rules":[{"t":"set","p":"prefix","pt":"msg","to":"color","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1300,"wires":[["8592ca26.6686c8"]]},{"id":"dbce8e53.71a0e","type":"change","z":"284ce301.87709c","name":"level","rules":[{"t":"set","p":"prefix","pt":"msg","to":"level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1360,"wires":[["8592ca26.6686c8"]]},{"id":"8592ca26.6686c8","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":510,"y":1320,"wires":[["2b401090.8e66"]]},{"id":"a6e1909.621a47","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":510,"y":1440,"wires":[["2b401090.8e66"]]},{"id":"ba83e2e7.32a99","type":"ui_button","z":"284ce301.87709c","name":"","group":"a33505b2.315278","order":4,"width":1,"height":1,"passthru":false,"label":"●","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"rec","payloadType":"str","topic":"","x":470,"y":940,"wires":[["edf35ac4.287308"]]},{"id":"f0f83aad.823b78","type":"ui_gauge","z":"9c65f293.33b02","name":"湿度","group":"ee96d0d9.fd196","order":1,"width":3,"height":3,"gtype":"gage","title":"現在の湿度","label":"％","format":"{{value}}","min":"10","max":"80","colors":["#80ffff","#0080ff","#0000ff"],"seg1":"20","seg2":"60","x":810,"y":1420,"wires":[]},{"id":"c7f3930d.de3f8","type":"change","z":"9c65f293.33b02","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[["5e97280e.c86828"]]},{"id":"4bd20554.25a5dc","type":"change","z":"9c65f293.33b02","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["5e97280e.c86828"]]},{"id":"d9d0714a.4960d","type":"change","z":"9c65f293.33b02","name":"interval_min","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.interval_min)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":980,"wires":[["d7d0709b.f6548"]]},{"id":"d7d0709b.f6548","type":"ui_numeric","z":"9c65f293.33b02","name":"interval_min","label":"interval_min","tooltip":"","group":"c40b61ea.85919","order":9,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"300","step":"5","x":470,"y":980,"wires":[["49427a00.5b7348"]]},{"id":"49427a00.5b7348","type":"change","z":"9c65f293.33b02","name":"'interval_min val'","rules":[{"t":"set","p":"payload","pt":"msg","to":"'interval_min ' & $string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":980,"wires":[["40d27502.25b2bc"]]},{"id":"40d27502.25b2bc","type":"link out","z":"9c65f293.33b02","name":"interval_min","links":["cc249647.c26b18"],"x":775,"y":980,"wires":[]},{"id":"a4a8c170.18ccd","type":"batch","z":"47f96de1.dd13a4","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":610,"y":40,"wires":[["3d861489.ca549c","a7446840.929d38"]]},{"id":"40195287.ecbfec","type":"batch","z":"47f96de1.dd13a4","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":310,"y":40,"wires":[["27a0b586.fb078a"]]},{"id":"27a0b586.fb078a","type":"batch","z":"47f96de1.dd13a4","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":40,"wires":[["a4a8c170.18ccd"]]},{"id":"97090fe1.caad5","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":1,"width":2,"height":1,"passthru":false,"label":"Power","tooltip":"","color":"","bgcolor":"","icon":"","payload":"power","payloadType":"str","topic":"","x":150,"y":40,"wires":[["40195287.ecbfec"]]},{"id":"3d861489.ca549c","type":"exec","z":"47f96de1.dd13a4","command":"/home/pi/bin/dyson.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"dyson.sh","x":760,"y":40,"wires":[["8eac3324.7ea41"],[],[]]},{"id":"5a5437b.9f92dc8","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":2,"width":2,"height":1,"passthru":false,"label":"温度↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_up","payloadType":"str","topic":"","x":310,"y":80,"wires":[["27a0b586.fb078a"]]},{"id":"fb6fe311.cf0cc","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":6,"width":2,"height":1,"passthru":false,"label":"温度↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_down","payloadType":"str","topic":"","x":310,"y":120,"wires":[["27a0b586.fb078a"]]},{"id":"8eac3324.7ea41","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"4dcaf63e.0d3af8","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":3,"width":2,"height":1,"passthru":false,"label":"風↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fan_up","payloadType":"str","topic":"","x":470,"y":80,"wires":[["a4a8c170.18ccd"]]},{"id":"6939ddb2.32f244","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":5,"width":2,"height":1,"passthru":false,"label":"←→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"turn","payloadType":"str","topic":"","x":150,"y":80,"wires":[["40195287.ecbfec"]]},{"id":"9b5a66a.1e2f798","type":"ui_button","z":"47f96de1.dd13a4","name":"","group":"2b621372.6c977c","order":7,"width":2,"height":1,"passthru":false,"label":"風↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fan_down","payloadType":"str","topic":"","x":470,"y":120,"wires":[["a4a8c170.18ccd"]]},{"id":"94109d00.0c7e9","type":"ui_slider","z":"47f96de1.dd13a4","name":"","label":"温度","tooltip":"","group":"2b621372.6c977c","order":9,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":310,"y":360,"wires":[["f92c1d97.49216","71d61680.e8af58"]]},{"id":"f92c1d97.49216","type":"exec","z":"47f96de1.dd13a4","command":"/home/pi/bin/dyson-temp.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"dyson-temp.sh","x":740,"y":360,"wires":[["c367bd05.6e1eb"],["c367bd05.6e1eb"],[]]},{"id":"c367bd05.6e1eb","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":770,"y":440,"wires":[]},{"id":"a2bec445.f72668","type":"ui_button","z":"153a3022.b5e5c","name":"","group":"f01b9a4a.751da8","order":1,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":40,"wires":[["10580af0.13e135"]]},{"id":"651aa7de.0972a8","type":"change","z":"153a3022.b5e5c","name":"bose *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"bose \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":40,"wires":[["fd7f7475.b968c8","622ee4ae.0d1adc"]]},{"id":"fd7f7475.b968c8","type":"link out","z":"153a3022.b5e5c","name":"LG TV","links":["cbe6d6e5.f84ac8"],"x":815,"y":80,"wires":[]},{"id":"e1a16af3.a84938","type":"batch","z":"153a3022.b5e5c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":40,"wires":[["651aa7de.0972a8"]]},{"id":"10580af0.13e135","type":"batch","z":"153a3022.b5e5c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":290,"y":40,"wires":[["5b2ac76.d3f5c38"]]},{"id":"5b2ac76.d3f5c38","type":"batch","z":"153a3022.b5e5c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":470,"y":40,"wires":[["e1a16af3.a84938"]]},{"id":"ed25f5fd.b8ffb8","type":"ui_button","z":"153a3022.b5e5c","name":"","group":"f01b9a4a.751da8","order":2,"width":2,"height":1,"passthru":false,"label":"Vol ↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vol_up @1 vol_up @1 vol_up @1 vol_up @1 vol_up","payloadType":"str","topic":"","x":90,"y":80,"wires":[["10580af0.13e135"]]},{"id":"c4b22c56.bde5b","type":"ui_button","z":"153a3022.b5e5c","name":"","group":"f01b9a4a.751da8","order":3,"width":2,"height":1,"passthru":false,"label":"Vol ↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vol_down","payloadType":"str","topic":"","x":90,"y":120,"wires":[["10580af0.13e135"]]},{"id":"622ee4ae.0d1adc","type":"debug","z":"153a3022.b5e5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":120,"wires":[]},{"id":"d7d1f85c.bae838","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"40217","acknoledge":false,"name":"ダイソン","topic":"","x":80,"y":80,"wires":[["8a124636.afa548","d04bb589.7be238","1dbf0741.497d39"]]},{"id":"a852a42d.dae6a8","type":"change","z":"90da4636.c9a6a8","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":40,"wires":[["d1c73837.5e6868"]]},{"id":"7e441004.10a32","type":"change","z":"90da4636.c9a6a8","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[["d1c73837.5e6868"]]},{"id":"8cf0fcb6.3f561","type":"change","z":"90da4636.c9a6a8","name":"Temp Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[["d1c73837.5e6868"]]},{"id":"33ffe983.62f8a6","type":"change","z":"90da4636.c9a6a8","name":"Temp Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["d1c73837.5e6868"]]},{"id":"186b874f.b13059","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"40588","acknoledge":true,"name":"ボール ランプ","topic":"","x":90,"y":280,"wires":[["743700e8.0fec7","c0d32d29.6bfbf","33749a25.54f8f6","84839738.7577c8","23e25d29.063562","7017cdaf.7c9044"]]},{"id":"ff13a49.ba91558","type":"change","z":"90da4636.c9a6a8","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[["6c4bff8a.6211d"]]},{"id":"9effef13.2bb3c","type":"change","z":"90da4636.c9a6a8","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["6c4bff8a.6211d"]]},{"id":"8a124636.afa548","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":360,"y":80,"wires":[["a852a42d.dae6a8","f0212a03.0d1398"],["7e441004.10a32","f0212a03.0d1398"],["8cf0fcb6.3f561","edaa9d38.cf0f7"],["33ffe983.62f8a6","edaa9d38.cf0f7"],["edaa9d38.cf0f7","b8d02091.d2b59","56a72cfd.fa4144"],["edaa9d38.cf0f7"]]},{"id":"d04bb589.7be238","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":140,"wires":[]},{"id":"3a9cccc2.4f87f4","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"41011","acknoledge":true,"name":"スマート音量","topic":"","x":90,"y":660,"wires":[["c32d9a54.31ff58","775cbde7.88ee44","d516b20b.fd304"]]},{"id":"c32d9a54.31ff58","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":320,"y":660,"wires":[["29bc83a0.f1972c"],["f71ec86f.14c468"],[]]},{"id":"29bc83a0.f1972c","type":"change","z":"90da4636.c9a6a8","name":"Vol Up Repeat","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":640,"wires":[["c33b8e95.d7187"]]},{"id":"f71ec86f.14c468","type":"change","z":"90da4636.c9a6a8","name":"Vol Down Repeat","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":680,"wires":[["c33b8e95.d7187"]]},{"id":"f0ebdaf4.092ff8","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"41178","acknoledge":true,"name":"HDMI","topic":"","x":70,"y":820,"wires":[["8603750b.4b8fc8","623bc26f.206edc","687d2e58.9958f"]]},{"id":"743700e8.0fec7","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":360,"wires":[]},{"id":"775cbde7.88ee44","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":145,"y":722,"wires":[]},{"id":"8603750b.4b8fc8","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":920,"wires":[]},{"id":"f0212a03.0d1398","type":"link out","z":"90da4636.c9a6a8","name":"Alexa応答：はい","links":["20cb7a0d.f49566"],"x":575,"y":20,"wires":[]},{"id":"87cd5be4.56b228","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"41427","acknoledge":true,"name":"照明 シャープ 常夜灯","topic":"","x":140,"y":2140,"wires":[["dfd58950.93b138"]]},{"id":"dfd58950.93b138","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":360,"y":2140,"wires":[["ddd0d10b.b28e3"],["10523425.9e885c"],["ddd0d10b.b28e3"],["10523425.9e885c"]]},{"id":"ddd0d10b.b28e3","type":"change","z":"90da4636.c9a6a8","name":"night","rules":[{"t":"set","p":"payload","pt":"msg","to":"night","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2120,"wires":[["5842792.9985988"]]},{"id":"10523425.9e885c","type":"change","z":"90da4636.c9a6a8","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2160,"wires":[["5842792.9985988"]]},{"id":"53133d3d.d06a64","type":"link out","z":"90da4636.c9a6a8","name":"hdmi","links":["cbe6d6e5.f84ac8"],"x":755,"y":1080,"wires":[]},{"id":"b334f7e1.388998","type":"link out","z":"90da4636.c9a6a8","name":"lg_tv","links":["cbe6d6e5.f84ac8"],"x":815,"y":660,"wires":[]},{"id":"796bbd33.1ea3e4","type":"link out","z":"90da4636.c9a6a8","name":"nightlight","links":["f95943b.713e9c","f92f532f.4a7d2"],"x":895,"y":2140,"wires":[]},{"id":"d1c73837.5e6868","type":"link out","z":"90da4636.c9a6a8","name":"dyson","links":["b78f31ee.b2e6f"],"x":815,"y":80,"wires":[]},{"id":"6c4bff8a.6211d","type":"link out","z":"90da4636.c9a6a8","name":"lamp","links":["d1c0551e.5d12a8"],"x":695,"y":280,"wires":[]},{"id":"1dbf0741.497d39","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":200,"wires":[]},{"id":"edaa9d38.cf0f7","type":"link out","z":"90da4636.c9a6a8","name":"Alexa応答：温度","links":["4eb85603.b142f8"],"x":435,"y":180,"wires":[]},{"id":"b8d02091.d2b59","type":"link out","z":"90da4636.c9a6a8","name":"dyson温度設定","links":["c4d65198.2db16"],"x":535,"y":180,"wires":[]},{"id":"623bc26f.206edc","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":980,"wires":[]},{"id":"bb2184c3.d8f518","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"48084","acknoledge":true,"name":"スマートCH","topic":"","x":110,"y":2220,"wires":[["c5bf2a6e.926278","7cbb6de1.f0d1c4","8b9f6465.ab5f78"]]},{"id":"49b2c722.082788","type":"link out","z":"90da4636.c9a6a8","name":"スマートCH","links":["cbe6d6e5.f84ac8"],"x":955,"y":2480,"wires":[]},{"id":"c5bf2a6e.926278","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":200,"y":2300,"wires":[["d9e32bac.c750d8"],["840e367.b3d9fc8"],["830acf1c.9d14a"],["ccfcea77.e43398"],["bfe273f1.43da5"]]},{"id":"7cbb6de1.f0d1c4","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":2360,"wires":[]},{"id":"8b9f6465.ab5f78","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":2420,"wires":[]},{"id":"ccfcea77.e43398","type":"change","z":"90da4636.c9a6a8","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2580,"wires":[["62fd9804.977188","840e367.b3d9fc8"]]},{"id":"bfe273f1.43da5","type":"change","z":"90da4636.c9a6a8","name":"ch_prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2620,"wires":[["62fd9804.977188","840e367.b3d9fc8"]]},{"id":"8d6f61fd.56145","type":"change","z":"90da4636.c9a6a8","name":"ch_?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2440,"wires":[["62fd9804.977188","840e367.b3d9fc8"]]},{"id":"435c62e4.5f76ac","type":"change","z":"90da4636.c9a6a8","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"hdmi\" & msg.payload\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1060,"wires":[["58c98859.6fd598"]]},{"id":"7218593.1ea17a8","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"btwn","v":"10","vt":"num","v2":"39","v2t":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"false","repair":false,"outputs":7,"x":430,"y":840,"wires":[["41c12687.042118"],["f912a2d5.30b9f","321cecbb.4ec494"],["bbedda06.c01628"],["4672e609.d50c28"],["f912a2d5.30b9f","49a19e28.37425"],["1a2617d0.588418","ce880d25.eb1d8"],[]]},{"id":"687d2e58.9958f","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"eq","v":"SetColorTemperatureRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":240,"y":840,"wires":[[],[],[],[],["7218593.1ea17a8"],["885efa8f.55d0a8"],["bb5aa8b2.5cd9a8"]]},{"id":"321cecbb.4ec494","type":"change","z":"90da4636.c9a6a8","name":"hdmi1","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1100,"wires":[["58c98859.6fd598"]]},{"id":"49a19e28.37425","type":"change","z":"90da4636.c9a6a8","name":"hdmi2","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1140,"wires":[["58c98859.6fd598"]]},{"id":"961969db.b233a8","type":"change","z":"90da4636.c9a6a8","name":"hdmi3","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1180,"wires":[["58c98859.6fd598"]]},{"id":"5928e30d.c7cd2c","type":"change","z":"90da4636.c9a6a8","name":"hdmi4","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[["58c98859.6fd598"]]},{"id":"885efa8f.55d0a8","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload.hue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"120","vt":"num"},{"t":"eq","v":"240","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":170,"y":1200,"wires":[["a3be6fb3.5a5d9"],["e0332f53.8fb6e"],["c5f3b1c8.6f213"],["ec45d793.1e71d8"]]},{"id":"c1da0421.971068","type":"change","z":"90da4636.c9a6a8","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1200,"wires":[["b800b723.b58a78"]]},{"id":"e0332f53.8fb6e","type":"change","z":"90da4636.c9a6a8","name":"yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1240,"wires":[["b800b723.b58a78"]]},{"id":"c5f3b1c8.6f213","type":"change","z":"90da4636.c9a6a8","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1280,"wires":[["b800b723.b58a78"]]},{"id":"ec45d793.1e71d8","type":"change","z":"90da4636.c9a6a8","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1320,"wires":[["b800b723.b58a78"]]},{"id":"b800b723.b58a78","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":1360,"wires":[]},{"id":"c0d32d29.6bfbf","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":280,"y":280,"wires":[["ff13a49.ba91558"],["9effef13.2bb3c"],[],[],["f18cb512.cc99c8"],["582588d3.9beb68"]]},{"id":"f18cb512.cc99c8","type":"switch","z":"90da4636.c9a6a8","name":"明るさ","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"4","v2t":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":450,"y":380,"wires":[[],[],[],[],[],[],[]]},{"id":"582588d3.9beb68","type":"switch","z":"90da4636.c9a6a8","name":"色:hue","property":"payload.hue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"120","vt":"num"},{"t":"eq","v":"240","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":390,"y":520,"wires":[["66e9c39f.1a6b6c"],["112ac260.bc020e"],["ab2617ba.1f3518"],["d3b436f.625bfc8"]]},{"id":"66e9c39f.1a6b6c","type":"change","z":"90da4636.c9a6a8","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[["2c0bff15.01e59"]]},{"id":"112ac260.bc020e","type":"change","z":"90da4636.c9a6a8","name":"yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":500,"wires":[["2c0bff15.01e59"]]},{"id":"ab2617ba.1f3518","type":"change","z":"90da4636.c9a6a8","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":540,"wires":[["2c0bff15.01e59"]]},{"id":"d3b436f.625bfc8","type":"change","z":"90da4636.c9a6a8","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":580,"wires":[["2c0bff15.01e59"]]},{"id":"2c0bff15.01e59","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":420,"wires":[]},{"id":"33749a25.54f8f6","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.hue","x":150,"y":480,"wires":[]},{"id":"84839738.7577c8","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.saturation","x":170,"y":540,"wires":[]},{"id":"23e25d29.063562","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.brightness","x":170,"y":600,"wires":[]},{"id":"7017cdaf.7c9044","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":420,"wires":[]},{"id":"ce86873b.17f628","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"48150","acknoledge":true,"name":"Sony BL","topic":"","x":100,"y":2920,"wires":[["cb43fbe5.7ca508","fa9ae68.0a14b18","951054a4.5fb648"]]},{"id":"f7669493.f79c58","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL","links":["cbe6d6e5.f84ac8"],"x":755,"y":2920,"wires":[]},{"id":"cb43fbe5.7ca508","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":2920,"wires":[["9328ee13.8f8a6"],["9328ee13.8f8a6"],["57be3ca3.b54c14"],["e86c905a.0bd4d"],["349dee91.fe9842"]]},{"id":"fa9ae68.0a14b18","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":2980,"wires":[]},{"id":"951054a4.5fb648","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":3040,"wires":[]},{"id":"9328ee13.8f8a6","type":"change","z":"90da4636.c9a6a8","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2840,"wires":[["6bf9cb64.fe69c4"]]},{"id":"57be3ca3.b54c14","type":"change","z":"90da4636.c9a6a8","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2880,"wires":[["6bf9cb64.fe69c4"]]},{"id":"e86c905a.0bd4d","type":"change","z":"90da4636.c9a6a8","name":"ch_prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2920,"wires":[["6bf9cb64.fe69c4"]]},{"id":"d3efced8.a68c1","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":860,"y":2520,"wires":[]},{"id":"55a67adc.f4ccd4","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":820,"y":3000,"wires":[]},{"id":"29a23160.adea9e","type":"change","z":"90da4636.c9a6a8","name":"ch_?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2960,"wires":[["6bf9cb64.fe69c4"]]},{"id":"349dee91.fe9842","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"12","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"30","vt":"num"},{"t":"eq","v":"31","vt":"num"},{"t":"eq","v":"32","vt":"num"},{"t":"eq","v":"33","vt":"num"},{"t":"eq","v":"34","vt":"num"},{"t":"eq","v":"51","vt":"num"},{"t":"eq","v":"52","vt":"num"},{"t":"eq","v":"61","vt":"num"},{"t":"eq","v":"62","vt":"num"},{"t":"eq","v":"81","vt":"num"},{"t":"eq","v":"82","vt":"num"},{"t":"eq","v":"83","vt":"num"},{"t":"eq","v":"84","vt":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"92","vt":"num"},{"t":"eq","v":"93","vt":"num"}],"checkall":"false","repair":false,"outputs":19,"x":290,"y":3200,"wires":[["29a23160.adea9e"],["eb36b5ed.346768"],["b284edb5.bec1d"],["50d22e13.6fe34"],["5485b1f3.9979"],["500f6f4.92eda9"],["2bcfac0d.d7b514"],["c4d3e9d4.747498"],["e4eb067.8a775f8"],["6d4e2e6c.8a1b6"],["302d3324.756d0c"],["4139020c.b8e64c"],["2fd5429c.443b5e"],["4288f297.9db0fc"],["3410e0b3.66bb2"],["1dc456d7.9b3b09"],["7f4408fb.8f3408"],["90713a7b.04d078"],["59be716d.bcaa3"]]},{"id":"6bf9cb64.fe69c4","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":2960,"wires":[["c1cd29e.62087d8"]]},{"id":"56fb069f.625818","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":670,"y":3180,"wires":[["6bf9cb64.fe69c4"]]},{"id":"e4eb067.8a775f8","type":"change","z":"90da4636.c9a6a8","name":"fwd_15","rules":[{"t":"set","p":"payload","pt":"msg","to":"fwd_15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":3280,"wires":[["284e8e40.381402"]]},{"id":"6d4e2e6c.8a1b6","type":"change","z":"90da4636.c9a6a8","name":"back_10","rules":[{"t":"set","p":"payload","pt":"msg","to":"back_10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":3320,"wires":[["284e8e40.381402"]]},{"id":"62fd9804.977188","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":830,"y":2440,"wires":[["6542c805.f5e838"]]},{"id":"d9e32bac.c750d8","type":"change","z":"90da4636.c9a6a8","name":"zapping:on","rules":[{"t":"set","p":"zapping","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":2280,"wires":[["8193e82c.77ea48"]]},{"id":"840e367.b3d9fc8","type":"change","z":"90da4636.c9a6a8","name":"zapping:off","rules":[{"t":"set","p":"zapping","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2340,"wires":[["9eb3bb19.739a78"]]},{"id":"6a142d78.0506a4","type":"switch","z":"90da4636.c9a6a8","name":"zapping?","property":"zapping","propertyType":"flow","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":800,"y":2280,"wires":[["fa8f2dc.e872fd"],[],["840e367.b3d9fc8"]]},{"id":"fa8f2dc.e872fd","type":"change","z":"90da4636.c9a6a8","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2260,"wires":[["62fd9804.977188","9bc7effd.5a3d2"]]},{"id":"9bc7effd.5a3d2","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":2200,"wires":[["8193e82c.77ea48"]]},{"id":"8193e82c.77ea48","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":630,"y":2280,"wires":[["6a142d78.0506a4","9eb3bb19.739a78"]]},{"id":"93a97d14.67461","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":560,"y":2220,"wires":[]},{"id":"9eb3bb19.739a78","type":"change","z":"90da4636.c9a6a8","name":"zapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"zapping","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2220,"wires":[["93a97d14.67461"]]},{"id":"830acf1c.9d14a","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"9","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"12","v2t":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"100","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":6,"x":460,"y":2380,"wires":[["4274fcf9.793ff4"],["8d6f61fd.56145"],["840e367.b3d9fc8"],["d9e32bac.c750d8"],["ccfcea77.e43398","840e367.b3d9fc8"],["bfe273f1.43da5","840e367.b3d9fc8"]]},{"id":"eb36b5ed.346768","type":"change","z":"90da4636.c9a6a8","name":"ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3000,"wires":[["6bf9cb64.fe69c4"]]},{"id":"b284edb5.bec1d","type":"change","z":"90da4636.c9a6a8","name":"back","rules":[{"t":"set","p":"payload","pt":"msg","to":"back","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3040,"wires":[["6bf9cb64.fe69c4"]]},{"id":"50d22e13.6fe34","type":"change","z":"90da4636.c9a6a8","name":"home","rules":[{"t":"set","p":"payload","pt":"msg","to":"home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3080,"wires":[["6bf9cb64.fe69c4"]]},{"id":"bb5aa8b2.5cd9a8","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4000","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":150,"y":1320,"wires":[["c19bf454.647238"]]},{"id":"c19bf454.647238","type":"change","z":"90da4636.c9a6a8","name":"white","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1360,"wires":[["b800b723.b58a78"]]},{"id":"a3be6fb3.5a5d9","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload.brightness","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"btwn","v":"0.1","vt":"num","v2":"0.9","v2t":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":310,"y":1160,"wires":[["e6041908.5d6388"],["d0a4fd2a.6cade"],["c1da0421.971068"]]},{"id":"e6041908.5d6388","type":"change","z":"90da4636.c9a6a8","name":"black","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1120,"wires":[["b800b723.b58a78"]]},{"id":"d0a4fd2a.6cade","type":"change","z":"90da4636.c9a6a8","name":"gray","rules":[{"t":"set","p":"payload","pt":"msg","to":"gray","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1160,"wires":[["b800b723.b58a78"]]},{"id":"d2472bc9.fd61e8","type":"link out","z":"90da4636.c9a6a8","name":"hdmi","links":["cbe6d6e5.f84ac8"],"x":815,"y":780,"wires":[]},{"id":"41c12687.042118","type":"change","z":"90da4636.c9a6a8","name":"input_tv","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_tv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":780,"wires":[["67347a34.8926a4"]]},{"id":"f912a2d5.30b9f","type":"change","z":"90da4636.c9a6a8","name":"input_hdmi1","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_hdmi1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":880,"wires":[["67347a34.8926a4"]]},{"id":"bbedda06.c01628","type":"change","z":"90da4636.c9a6a8","name":"input_hdmi2","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_hdmi2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":920,"wires":[["67347a34.8926a4"]]},{"id":"4672e609.d50c28","type":"change","z":"90da4636.c9a6a8","name":"input_hdmi3","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_hdmi3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":960,"wires":[["67347a34.8926a4"]]},{"id":"1a2617d0.588418","type":"change","z":"90da4636.c9a6a8","name":"input_hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"input_hdmi\" & $round(msg.payload / 10)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":840,"wires":[["67347a34.8926a4"]]},{"id":"ce880d25.eb1d8","type":"change","z":"90da4636.c9a6a8","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"hdmi\" & (msg.payload % 10)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1020,"wires":[["58c98859.6fd598"]]},{"id":"637b1570.4750ac","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":800,"y":1160,"wires":[]},{"id":"5485b1f3.9979","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3120,"wires":[["56fb069f.625818"]]},{"id":"284e8e40.381402","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":3300,"wires":[["a2cd6c8c.a869f"]]},{"id":"500f6f4.92eda9","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3160,"wires":[["56fb069f.625818"]]},{"id":"2bcfac0d.d7b514","type":"change","z":"90da4636.c9a6a8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3200,"wires":[["56fb069f.625818"]]},{"id":"c4d3e9d4.747498","type":"change","z":"90da4636.c9a6a8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3240,"wires":[["56fb069f.625818"]]},{"id":"938930f9.967c","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70608","acknoledge":true,"name":"LG TV","topic":"","x":90,"y":2740,"wires":[["f7e49b41.84ef28"]]},{"id":"f7e49b41.84ef28","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":260,"y":2740,"wires":[["d445f07d.4ad1b"],["2889da83.bde306"],[],[],["8ba08aea.3c7118"]]},{"id":"d8ca0d79.765f8","type":"link out","z":"90da4636.c9a6a8","name":"lg_tv","links":["cbe6d6e5.f84ac8"],"x":775,"y":2700,"wires":[]},{"id":"cac91f33.bbf82","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70734","acknoledge":true,"name":"Sony BL up","topic":"","x":110,"y":3820,"wires":[["6555ce49.53ff3","49038300.ede15c","f6b39f8a.1f5e1"]]},{"id":"6555ce49.53ff3","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":3820,"wires":[["88291e4f.e308a"],["6f211d8.167c7e4"],["88291e4f.e308a"],["6f211d8.167c7e4"],["e992ae98.b551b"]]},{"id":"88291e4f.e308a","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3780,"wires":[["b3a3987b.3dfd78"]]},{"id":"6f211d8.167c7e4","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3820,"wires":[["b3a3987b.3dfd78"]]},{"id":"b3a3987b.3dfd78","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":3820,"wires":[["a100db04.a16c28"]]},{"id":"7abb0da0.5b0254","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL up","links":["cbe6d6e5.f84ac8"],"x":775,"y":3780,"wires":[]},{"id":"49038300.ede15c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":3880,"wires":[]},{"id":"f6b39f8a.1f5e1","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":3940,"wires":[]},{"id":"536e11da.69375","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":3880,"wires":[["b3a3987b.3dfd78"]]},{"id":"e992ae98.b551b","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":3920,"wires":[["536e11da.69375","b49b961d.1a4c98"],[]]},{"id":"b49b961d.1a4c98","type":"change","z":"90da4636.c9a6a8","name":"payload --","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":3920,"wires":[["81f8a9ba.618678","6a4ab6be.e8dc58"]]},{"id":"81f8a9ba.618678","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":3960,"wires":[["e992ae98.b551b"]]},{"id":"6a4ab6be.e8dc58","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":720,"y":3900,"wires":[]},{"id":"6fe82109.44af7","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70735","acknoledge":true,"name":"Sony BL down","topic":"","x":110,"y":4060,"wires":[["2fa160f.ae0cca","abc98e9.e3f617","42a70e87.bc60c"]]},{"id":"2fa160f.ae0cca","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":4060,"wires":[["627c281f.79d6f8"],["cbfef357.25fb4"],["627c281f.79d6f8"],["cbfef357.25fb4"],["22c8f59d.4de80a"]]},{"id":"627c281f.79d6f8","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4020,"wires":[["75afebb8.e51814"]]},{"id":"cbfef357.25fb4","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4060,"wires":[["75afebb8.e51814"]]},{"id":"75afebb8.e51814","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":4060,"wires":[["f6266a8b.e89a48"]]},{"id":"b64156b.5f414a8","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL down","links":["cbe6d6e5.f84ac8"],"x":775,"y":4020,"wires":[]},{"id":"abc98e9.e3f617","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":4120,"wires":[]},{"id":"42a70e87.bc60c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":4180,"wires":[]},{"id":"ae57d5cc.ea7798","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":4120,"wires":[["75afebb8.e51814"]]},{"id":"22c8f59d.4de80a","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":4160,"wires":[["ae57d5cc.ea7798","be930264.5a35e"],[]]},{"id":"be930264.5a35e","type":"change","z":"90da4636.c9a6a8","name":"payload --","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":4160,"wires":[["7e085bc5.29bc14","bb731d81.3ca1c"]]},{"id":"7e085bc5.29bc14","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":4200,"wires":[["22c8f59d.4de80a"]]},{"id":"bb731d81.3ca1c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":4140,"wires":[]},{"id":"813910d1.f2532","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70736","acknoledge":true,"name":"Sony BL left","topic":"","x":110,"y":4300,"wires":[["b15feb16.7a9698","3bd217d8.f52e48","55c63f78.e3521"]]},{"id":"b15feb16.7a9698","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":4300,"wires":[["cf3115fe.e0bb28"],["e09e953e.000b08"],["cf3115fe.e0bb28"],["e09e953e.000b08"],["efdeb63b.8c38d8"]]},{"id":"cf3115fe.e0bb28","type":"change","z":"90da4636.c9a6a8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4260,"wires":[["5c22c55.d5b4c3c"]]},{"id":"e09e953e.000b08","type":"change","z":"90da4636.c9a6a8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4300,"wires":[["5c22c55.d5b4c3c"]]},{"id":"5c22c55.d5b4c3c","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":4280,"wires":[["650c5805.4350a8"]]},{"id":"d208d06e.d62e8","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL left","links":["cbe6d6e5.f84ac8"],"x":775,"y":4320,"wires":[]},{"id":"3bd217d8.f52e48","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":4360,"wires":[]},{"id":"55c63f78.e3521","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":4420,"wires":[]},{"id":"a7a6fb93.be2158","type":"change","z":"90da4636.c9a6a8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":4360,"wires":[["5c22c55.d5b4c3c"]]},{"id":"efdeb63b.8c38d8","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":4400,"wires":[["a7a6fb93.be2158","f5b47b7b.a27128"],[]]},{"id":"f5b47b7b.a27128","type":"change","z":"90da4636.c9a6a8","name":"payload --","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":4400,"wires":[["1a6c4400.f29c4c","8c5072c7.84243"]]},{"id":"1a6c4400.f29c4c","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":4440,"wires":[["efdeb63b.8c38d8"]]},{"id":"8c5072c7.84243","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":4380,"wires":[]},{"id":"eca3332.ddd35d","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70737","acknoledge":true,"name":"Sony BL right","topic":"","x":110,"y":4540,"wires":[["aa945c50.72257","51abdf19.3ec18","9f37d43.4eedd28"]]},{"id":"aa945c50.72257","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":4540,"wires":[["4bcefddf.d5b274"],["99a45ef2.637b2"],["4bcefddf.d5b274"],["99a45ef2.637b2"],["dcc86be1.672c58"]]},{"id":"4bcefddf.d5b274","type":"change","z":"90da4636.c9a6a8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4500,"wires":[["249701ee.d7009e"]]},{"id":"99a45ef2.637b2","type":"change","z":"90da4636.c9a6a8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":4540,"wires":[["249701ee.d7009e"]]},{"id":"249701ee.d7009e","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":4520,"wires":[["be36447d.260c28"]]},{"id":"f9748688.959978","type":"link out","z":"90da4636.c9a6a8","name":"Sony BL right","links":["cbe6d6e5.f84ac8"],"x":775,"y":4560,"wires":[]},{"id":"51abdf19.3ec18","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":4600,"wires":[]},{"id":"9f37d43.4eedd28","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":4660,"wires":[]},{"id":"259afafc.5f4e16","type":"change","z":"90da4636.c9a6a8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":4600,"wires":[["249701ee.d7009e"]]},{"id":"dcc86be1.672c58","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":4640,"wires":[["259afafc.5f4e16","605c8f32.bc68d"],[]]},{"id":"605c8f32.bc68d","type":"change","z":"90da4636.c9a6a8","name":"payload --","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":4640,"wires":[["4442d3f2.68900c","262da805.41a008"]]},{"id":"4442d3f2.68900c","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":4680,"wires":[["dcc86be1.672c58"]]},{"id":"262da805.41a008","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":4620,"wires":[]},{"id":"2fd5429c.443b5e","type":"change","z":"90da4636.c9a6a8","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3440,"wires":[["f92cd3a1.f7b58"]]},{"id":"4288f297.9db0fc","type":"change","z":"90da4636.c9a6a8","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3480,"wires":[["f92cd3a1.f7b58"]]},{"id":"3410e0b3.66bb2","type":"change","z":"90da4636.c9a6a8","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3520,"wires":[["f92cd3a1.f7b58"]]},{"id":"1dc456d7.9b3b09","type":"change","z":"90da4636.c9a6a8","name":"yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3560,"wires":[["f92cd3a1.f7b58"]]},{"id":"f92cd3a1.f7b58","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":3480,"wires":[["a2cd6c8c.a869f"]]},{"id":"a2cd6c8c.a869f","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":810,"y":3260,"wires":[["56fb069f.625818"]]},{"id":"1d1be88e.d7d907","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":360,"y":4840,"wires":[["23afb7f7.c714e8"],["23afb7f7.c714e8"],["ace61e2e.48378"],["ea80b10e.91336"],["621ec449.8e71fc"]]},{"id":"97d97c50.8775f","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":4900,"wires":[]},{"id":"4f03c58c.33245c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":4960,"wires":[]},{"id":"23afb7f7.c714e8","type":"change","z":"90da4636.c9a6a8","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":4800,"wires":[["7b478e1d.1ed68","d6478b39.f807e8"]]},{"id":"56a50c74.bbeb94","type":"link out","z":"90da4636.c9a6a8","name":"tvlight","links":["cbe6d6e5.f84ac8"],"x":715,"y":4740,"wires":[]},{"id":"7b478e1d.1ed68","type":"change","z":"90da4636.c9a6a8","name":"white","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":4760,"wires":[["d6478b39.f807e8"]]},{"id":"ace61e2e.48378","type":"change","z":"90da4636.c9a6a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":4840,"wires":[["d6478b39.f807e8"]]},{"id":"ea80b10e.91336","type":"change","z":"90da4636.c9a6a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":4880,"wires":[["d6478b39.f807e8"]]},{"id":"621ec449.8e71fc","type":"switch","z":"90da4636.c9a6a8","name":"%","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":4920,"wires":[["50ec3fb1.9331"],[]]},{"id":"50ec3fb1.9331","type":"exec","z":"90da4636.c9a6a8","command":"/home/pi/bin/tv-light-level.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"tv-light-level.sh","x":580,"y":4940,"wires":[["455fd6e7.6a3fb8"],["ddc3796d.61bee8"],[]]},{"id":"493ec6f8.4f09f8","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"73568","acknoledge":true,"name":"zapping","topic":"","x":90,"y":2500,"wires":[["4033e8b4.820628","58a1a1a.08d776","d575e321.c2f0c"]]},{"id":"4033e8b4.820628","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":280,"y":2500,"wires":[["d9e32bac.c750d8"],["840e367.b3d9fc8"],[],[],[]]},{"id":"58a1a1a.08d776","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":2560,"wires":[]},{"id":"d575e321.c2f0c","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":2620,"wires":[]},{"id":"d516b20b.fd304","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":360,"y":720,"wires":[]},{"id":"74e91ce9.9fb264","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"70740","acknoledge":true,"name":"LED tape light","topic":"","x":110,"y":4840,"wires":[["1d1be88e.d7d907","97d97c50.8775f","4f03c58c.33245c"]]},{"id":"302d3324.756d0c","type":"change","z":"90da4636.c9a6a8","name":"next","rules":[{"t":"set","p":"payload","pt":"msg","to":"next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3360,"wires":[["8c72c7fb.4129c8"]]},{"id":"4139020c.b8e64c","type":"change","z":"90da4636.c9a6a8","name":"prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3400,"wires":[["8c72c7fb.4129c8"]]},{"id":"8c72c7fb.4129c8","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":3380,"wires":[["a2cd6c8c.a869f"]]},{"id":"5842792.9985988","type":"change","z":"90da4636.c9a6a8","name":"sharp_light *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sharp_light \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2140,"wires":[["796bbd33.1ea3e4"]]},{"id":"c33b8e95.d7187","type":"change","z":"90da4636.c9a6a8","name":"lg_tv *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lg_tv \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":660,"wires":[["b334f7e1.388998"]]},{"id":"eef4f91.921ca08","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"80603","acknoledge":true,"name":"Sharp light","topic":"","x":100,"y":1500,"wires":[["a7625ad5.c69818","e60f189f.1ea348","74a148d.47a27b8"]]},{"id":"a7625ad5.c69818","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":1500,"wires":[["ab92fef7.74d89"],["88bf2536.9c6fe8"],["725e68a3.74e748"],["d3d36e74.0dacc"],["ffc9ea70.769af8"]]},{"id":"e60f189f.1ea348","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":1560,"wires":[]},{"id":"74a148d.47a27b8","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":1620,"wires":[]},{"id":"4b103d55.5f7384","type":"change","z":"90da4636.c9a6a8","name":"sharp_light *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sharp_light \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1680,"wires":[["58bd862a.765608","6ed836cd.8d7628"]]},{"id":"58bd862a.765608","type":"link out","z":"90da4636.c9a6a8","name":"nightlight","links":["cbe6d6e5.f84ac8"],"x":1055,"y":1640,"wires":[]},{"id":"88bf2536.9c6fe8","type":"change","z":"90da4636.c9a6a8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1460,"wires":[["b0c93353.e8cf7"]]},{"id":"ab92fef7.74d89","type":"change","z":"90da4636.c9a6a8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1420,"wires":[["b0c93353.e8cf7"]]},{"id":"725e68a3.74e748","type":"change","z":"90da4636.c9a6a8","name":"full","rules":[{"t":"set","p":"payload","pt":"msg","to":"full","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1500,"wires":[["5db9abab.ccd884","1f3ebe50.a02cd2"]]},{"id":"8ae53fc2.a7e88","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"80604","acknoledge":true,"name":"sharp light yaezakura","topic":"","x":140,"y":1960,"wires":[["68d8219.f04cce","492eacbf.86aea4","369532df.c85e1e"]]},{"id":"8013d5aa.5966d8","type":"alexa-home","z":"90da4636.c9a6a8","conf":"69429fa8.737c4","device":"80605","acknoledge":true,"name":"sharp light someiyoshino","topic":"","x":150,"y":1760,"wires":[["21a7cfc.41a013","e839a7b9.85ae08","10c4cb2d.a4fad5"]]},{"id":"68d8219.f04cce","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":380,"y":1960,"wires":[["3b25ab1f.faf184"],["a73a4b88.039a58"],["1a19052b.b052db"],["ddebbee7.7875b"],["6fa89f28.0d959"]]},{"id":"10c4cb2d.a4fad5","type":"switch","z":"90da4636.c9a6a8","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":380,"y":1760,"wires":[["5854d9c1.e56588"],["5d1dd89c.4c9af8"],["dfc38e8f.172dc"],["776ba2d1.11153c"],[]]},{"id":"492eacbf.86aea4","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"command","x":140,"y":2020,"wires":[]},{"id":"369532df.c85e1e","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":130,"y":2080,"wires":[]},{"id":"21a7cfc.41a013","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"command","x":140,"y":1820,"wires":[]},{"id":"e839a7b9.85ae08","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":130,"y":1880,"wires":[]},{"id":"d3d36e74.0dacc","type":"change","z":"90da4636.c9a6a8","name":"level03","rules":[{"t":"set","p":"payload","pt":"msg","to":"level03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1580,"wires":[["912dd72f.464108","f51e8cb5.dd8e1"]]},{"id":"5bffc8c0.ce39c8","type":"change","z":"90da4636.c9a6a8","name":"color01","rules":[{"t":"set","p":"payload","pt":"msg","to":"color01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1540,"wires":[["1f3ebe50.a02cd2"]]},{"id":"5db9abab.ccd884","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1520,"wires":[["5bffc8c0.ce39c8"]]},{"id":"912dd72f.464108","type":"delay","z":"90da4636.c9a6a8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1600,"wires":[["88282489.f05498"]]},{"id":"88282489.f05498","type":"change","z":"90da4636.c9a6a8","name":"color10","rules":[{"t":"set","p":"payload","pt":"msg","to":"color10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1620,"wires":[["f51e8cb5.dd8e1"]]},{"id":"b0c93353.e8cf7","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":890,"y":1440,"wires":[["4b103d55.5f7384"]]},{"id":"1f3ebe50.a02cd2","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":890,"y":1500,"wires":[["4b103d55.5f7384"]]},{"id":"f51e8cb5.dd8e1","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":890,"y":1580,"wires":[["4b103d55.5f7384"]]},{"id":"e5d78020.09b81","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":870,"y":1720,"wires":[["4b103d55.5f7384"]]},{"id":"5d1dd89c.4c9af8","type":"change","z":"90da4636.c9a6a8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1740,"wires":[["e5d78020.09b81"]]},{"id":"5854d9c1.e56588","type":"change","z":"90da4636.c9a6a8","name":"on_someiyoshino07","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_someiyoshino07","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1700,"wires":[["e5d78020.09b81"]]},{"id":"c0ec638b.89d46","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":870,"y":1780,"wires":[["4b103d55.5f7384"]]},{"id":"dfc38e8f.172dc","type":"change","z":"90da4636.c9a6a8","name":"on_someiyoshino10","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_someiyoshino10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1780,"wires":[["c0ec638b.89d46"]]},{"id":"776ba2d1.11153c","type":"change","z":"90da4636.c9a6a8","name":"on_someiyoshino01","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_someiyoshino01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1820,"wires":[["c0ec638b.89d46"]]},{"id":"1384b177.460e0f","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":870,"y":1960,"wires":[["4b103d55.5f7384"]]},{"id":"a73a4b88.039a58","type":"change","z":"90da4636.c9a6a8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1920,"wires":[["1384b177.460e0f"]]},{"id":"3b25ab1f.faf184","type":"change","z":"90da4636.c9a6a8","name":"on_yaezakura05","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1880,"wires":[["1384b177.460e0f"]]},{"id":"b459dc50.d88bb","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":870,"y":2040,"wires":[["4b103d55.5f7384"]]},{"id":"1a19052b.b052db","type":"change","z":"90da4636.c9a6a8","name":"on_yaezakura10","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1960,"wires":[["b459dc50.d88bb"]]},{"id":"ddebbee7.7875b","type":"change","z":"90da4636.c9a6a8","name":"on_yaezakura01","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_yaezakura01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2000,"wires":[["b459dc50.d88bb"]]},{"id":"ffc9ea70.769af8","type":"switch","z":"90da4636.c9a6a8","name":"明るさ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":1620,"wires":[["725e68a3.74e748","d0bcf179.c6db8"]]},{"id":"3df9444.f7c45bc","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":870,"y":1660,"wires":[["4b103d55.5f7384"]]},{"id":"6fa89f28.0d959","type":"switch","z":"90da4636.c9a6a8","name":"明るさ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":390,"y":2040,"wires":[["ddebbee7.7875b","d27fc4db.056aa8"]]},{"id":"d0bcf179.c6db8","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":360,"y":1660,"wires":[]},{"id":"d27fc4db.056aa8","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":2080,"wires":[]},{"id":"7f4408fb.8f3408","type":"change","z":"90da4636.c9a6a8","name":"dtb","rules":[{"t":"set","p":"payload","pt":"msg","to":"dtb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3600,"wires":[["a6fa8cde.c44be"]]},{"id":"90713a7b.04d078","type":"change","z":"90da4636.c9a6a8","name":"bs","rules":[{"t":"set","p":"payload","pt":"msg","to":"bs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3640,"wires":[["a6fa8cde.c44be"]]},{"id":"59be716d.bcaa3","type":"change","z":"90da4636.c9a6a8","name":"cs","rules":[{"t":"set","p":"payload","pt":"msg","to":"cs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3680,"wires":[["a6fa8cde.c44be"]]},{"id":"a6fa8cde.c44be","type":"batch","z":"90da4636.c9a6a8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":3640,"wires":[["a2cd6c8c.a869f"]]},{"id":"8ba08aea.3c7118","type":"switch","z":"90da4636.c9a6a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"50","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":450,"y":2800,"wires":[["232f441d.c779fc"]]},{"id":"232f441d.c779fc","type":"change","z":"90da4636.c9a6a8","name":"mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2780,"wires":[["6f2a512.159b9b"]]},{"id":"c4f89163.63151","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":220,"y":80,"wires":[]},{"id":"4eb85603.b142f8","type":"link in","z":"8b3f1d19.8d47a","name":"Alexa応答：ダイソン温度","links":["edaa9d38.cf0f7"],"x":175,"y":180,"wires":[["3b372763.b41338","a825b75b.4c7518","563bb6d6.951e18"]]},{"id":"3b372763.b41338","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":340,"y":180,"wires":[]},{"id":"b571dd82.47ba7","type":"change","z":"8b3f1d19.8d47a","name":"応答の作成:温度","rules":[{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":320,"wires":[["8ee4ce01.b603","3dd3e80d.4ff8d8","1b923152.2f0b5f"]]},{"id":"8ee4ce01.b603","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":880,"y":360,"wires":[]},{"id":"3dd3e80d.4ff8d8","type":"alexa-home-resp","z":"8b3f1d19.8d47a","x":820,"y":200,"wires":[]},{"id":"1b923152.2f0b5f","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"extra","x":860,"y":300,"wires":[]},{"id":"20cb7a0d.f49566","type":"link in","z":"8b3f1d19.8d47a","name":"Alexa応答：「はい」","links":["da7babf3.521be8","f0212a03.0d1398","2be775b6.108d5a"],"x":175,"y":120,"wires":[["c4f89163.63151","a06d7936.c7f218"]]},{"id":"a06d7936.c7f218","type":"change","z":"8b3f1d19.8d47a","name":"応答作成：「はい」","rules":[{"t":"set","p":"extra.info","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":120,"wires":[["3dd3e80d.4ff8d8","627a1b4b.0349f4","6725e3cf.a01b2c"]]},{"id":"6725e3cf.a01b2c","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":720,"y":120,"wires":[]},{"id":"627a1b4b.0349f4","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"extra","x":710,"y":60,"wires":[]},{"id":"a825b75b.4c7518","type":"switch","z":"8b3f1d19.8d47a","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":160,"y":260,"wires":[["52f3bfa7.02c7f"],["52f3bfa7.02c7f"],["29fc95c8.1cbd0a"],["408bf76.97d7708"]]},{"id":"29fc95c8.1cbd0a","type":"change","z":"8b3f1d19.8d47a","name":"dyson_temp = payload","rules":[{"t":"set","p":"dyson_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["408bf76.97d7708"]]},{"id":"52f3bfa7.02c7f","type":"change","z":"8b3f1d19.8d47a","name":"dyson_temp += payload","rules":[{"t":"set","p":"dyson_temp","pt":"global","to":"$number($globalContext(\"dyson_temp\")) + msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["408bf76.97d7708"]]},{"id":"38c6bb2a.164494","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":400,"wires":[]},{"id":"408bf76.97d7708","type":"change","z":"8b3f1d19.8d47a","name":"p = dyson_temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"dyson_temp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":360,"wires":[["38c6bb2a.164494","b571dd82.47ba7"]]},{"id":"563bb6d6.951e18","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":550,"y":180,"wires":[]},{"id":"b78f31ee.b2e6f","type":"link in","z":"47f96de1.dd13a4","name":"dyson_fan","links":["d1c73837.5e6868"],"x":195,"y":120,"wires":[["40195287.ecbfec"]]},{"id":"c4d65198.2db16","type":"link in","z":"47f96de1.dd13a4","name":"dyson_fan温度","links":["b8d02091.d2b59"],"x":195,"y":360,"wires":[["94109d00.0c7e9","ae44a0f0.7861f"]]},{"id":"47598fc4.7b81a","type":"link out","z":"284ce301.87709c","name":"Sharp 照明","links":["cbe6d6e5.f84ac8"],"x":775,"y":1580,"wires":[]},{"id":"26e7e5a2.6035ba","type":"change","z":"284ce301.87709c","name":"lamp *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lamp \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1620,"wires":[["47598fc4.7b81a","5eb7e87e.b4ada8"]]},{"id":"5eb7e87e.b4ada8","type":"debug","z":"284ce301.87709c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":1660,"wires":[]},{"id":"579c8fb.4e7867","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":630,"y":1620,"wires":[["26e7e5a2.6035ba"]]},{"id":"ce35e72c.299ea8","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":450,"y":1620,"wires":[["579c8fb.4e7867"]]},{"id":"b3b434f2.3d4928","type":"batch","z":"284ce301.87709c","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":270,"y":1620,"wires":[["ce35e72c.299ea8"]]},{"id":"140ef2d4.0a30cd","type":"ui_button","z":"284ce301.87709c","name":"","group":"447ba0c7.cd5c1","order":1,"width":2,"height":1,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":90,"y":1660,"wires":[["b3b434f2.3d4928"]]},{"id":"6662fb63.ac6024","type":"ui_button","z":"284ce301.87709c","name":"","group":"447ba0c7.cd5c1","order":4,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":1700,"wires":[["b3b434f2.3d4928"]]},{"id":"d1c0551e.5d12a8","type":"link in","z":"284ce301.87709c","name":"lamp","links":["6c4bff8a.6211d"],"x":135,"y":1620,"wires":[["b3b434f2.3d4928"]]},{"id":"67347a34.8926a4","type":"change","z":"90da4636.c9a6a8","name":"lg_tv *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lg_tv \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":820,"wires":[["d2472bc9.fd61e8","d2fa4112.830b7"]]},{"id":"6542c805.f5e838","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":2480,"wires":[["49b2c722.082788","d3efced8.a68c1"]]},{"id":"d445f07d.4ad1b","type":"change","z":"90da4636.c9a6a8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2680,"wires":[["6f2a512.159b9b"]]},{"id":"2889da83.bde306","type":"change","z":"90da4636.c9a6a8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2720,"wires":[["6f2a512.159b9b"]]},{"id":"6f2a512.159b9b","type":"change","z":"90da4636.c9a6a8","name":"lg_tv *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"lg_tv \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2740,"wires":[["d8ca0d79.765f8","5dbb506f.3111e"]]},{"id":"c1cd29e.62087d8","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2960,"wires":[["f7669493.f79c58","55a67adc.f4ccd4"]]},{"id":"a100db04.a16c28","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":3820,"wires":[["7abb0da0.5b0254"]]},{"id":"f6266a8b.e89a48","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":4060,"wires":[["b64156b.5f414a8"]]},{"id":"650c5805.4350a8","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":4280,"wires":[["d208d06e.d62e8"]]},{"id":"be36447d.260c28","type":"change","z":"90da4636.c9a6a8","name":"sony_bl *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"sony_bl \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":4520,"wires":[["f9748688.959978"]]},{"id":"d6478b39.f807e8","type":"change","z":"90da4636.c9a6a8","name":"tvlight *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"tvlight \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":4780,"wires":[["56a50c74.bbeb94","ff6b4038.e8031"]]},{"id":"6ed836cd.8d7628","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1080,"y":1720,"wires":[]},{"id":"5dbb506f.3111e","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":800,"y":2780,"wires":[]},{"id":"4274fcf9.793ff4","type":"change","z":"90da4636.c9a6a8","name":"ch_0?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_0\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2400,"wires":[["62fd9804.977188","840e367.b3d9fc8"]]},{"id":"ff6b4038.e8031","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":780,"y":4820,"wires":[]},{"id":"455fd6e7.6a3fb8","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":780,"y":4880,"wires":[]},{"id":"ddc3796d.61bee8","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":780,"y":4940,"wires":[]},{"id":"a7446840.929d38","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":650,"y":100,"wires":[]},{"id":"58c98859.6fd598","type":"change","z":"90da4636.c9a6a8","name":"hdmi *","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"hdmi \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1120,"wires":[["637b1570.4750ac","53133d3d.d06a64"]]},{"id":"d2fa4112.830b7","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":840,"y":860,"wires":[]},{"id":"8c78e8b4.1d0738","type":"alexa-home","z":"1308fdfa.660ee2","conf":"69429fa8.737c4","device":"90248","acknoledge":false,"name":"エアコン","topic":"","x":100,"y":160,"wires":[["3080e0d5.91c85","1109eb5c.d270a5","69ba16f4.2cc468"]]},{"id":"3080e0d5.91c85","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":240,"wires":[]},{"id":"1109eb5c.d270a5","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":300,"wires":[]},{"id":"69ba16f4.2cc468","type":"switch","z":"1308fdfa.660ee2","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":300,"y":160,"wires":[["fb844cb0.eb4bc","2be775b6.108d5a"],["ce309159.32f2","2be775b6.108d5a"],["759c77af.80eaa8"],["759c77af.80eaa8"],["5e4d80f9.f4fc3","af9e22d5.207c5"],["5e4d80f9.f4fc3"]]},{"id":"fb844cb0.eb4bc","type":"link out","z":"1308fdfa.660ee2","name":"エアコン ON","links":["8d386a6b.6dbbf8"],"x":515,"y":80,"wires":[]},{"id":"f99aefc6.227d5","type":"link out","z":"1308fdfa.660ee2","name":"エアコン 温度設定","links":["9b5f4b05.a6ec48"],"x":775,"y":280,"wires":[]},{"id":"ce309159.32f2","type":"link out","z":"1308fdfa.660ee2","name":"エアコン OFF","links":["14ec72a5.14ac1d"],"x":515,"y":160,"wires":[]},{"id":"8d386a6b.6dbbf8","type":"link in","z":"9c65f293.33b02","name":"AutoAircon ON","links":["fb844cb0.eb4bc"],"x":715,"y":260,"wires":[["c7f3930d.de3f8"]]},{"id":"14ec72a5.14ac1d","type":"link in","z":"9c65f293.33b02","name":"AutoAircon OFF","links":["ce309159.32f2"],"x":715,"y":380,"wires":[["4bd20554.25a5dc"]]},{"id":"4e28c46c.4dc92c","type":"link in","z":"8b3f1d19.8d47a","name":"Alexa応答：AutoAircon温度","links":["5e4d80f9.f4fc3"],"x":175,"y":480,"wires":[["7c48dbf8.0d5bb4","186cc191.97b46e","390f013e.67e28e"]]},{"id":"7c48dbf8.0d5bb4","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":320,"y":480,"wires":[]},{"id":"eece9bb9.6e6b78","type":"change","z":"8b3f1d19.8d47a","name":"応答の作成:温度","rules":[{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[["dd11189f.511238","4b9d8af1.388284","13b2270b.6a4a39"]]},{"id":"dd11189f.511238","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":560,"y":580,"wires":[]},{"id":"4b9d8af1.388284","type":"alexa-home-resp","z":"8b3f1d19.8d47a","x":780,"y":500,"wires":[]},{"id":"13b2270b.6a4a39","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"extra","x":760,"y":540,"wires":[]},{"id":"e93bb823.3b59f8","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":320,"y":580,"wires":[]},{"id":"390f013e.67e28e","type":"change","z":"8b3f1d19.8d47a","name":"p = aircon_ttemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"aircon_ttemp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":540,"wires":[["e93bb823.3b59f8","eece9bb9.6e6b78"]]},{"id":"186cc191.97b46e","type":"debug","z":"8b3f1d19.8d47a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":530,"y":480,"wires":[]},{"id":"2be775b6.108d5a","type":"link out","z":"1308fdfa.660ee2","name":"エアコン ON/OFF","links":["20cb7a0d.f49566"],"x":515,"y":120,"wires":[]},{"id":"5e4d80f9.f4fc3","type":"link out","z":"1308fdfa.660ee2","name":"エアコン 温度→Alexa応答","links":["4e28c46c.4dc92c"],"x":515,"y":240,"wires":[]},{"id":"af9e22d5.207c5","type":"change","z":"1308fdfa.660ee2","name":"aircon_ttemp = payload","rules":[{"t":"set","p":"aircon_ttemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":280,"wires":[["f99aefc6.227d5","92e30b10.ea4958"]]},{"id":"9b5f4b05.a6ec48","type":"link in","z":"9c65f293.33b02","name":"目標温度設定","links":["f99aefc6.227d5"],"x":295,"y":1200,"wires":[["8680c7f7.553e78","215a15.3b5a35ec","afd7aa8.d8d5a58"]]},{"id":"afd7aa8.d8d5a58","type":"batch","z":"9c65f293.33b02","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":550,"y":1200,"wires":[["f5a8809e.71d7d"]]},{"id":"759c77af.80eaa8","type":"change","z":"1308fdfa.660ee2","name":"aircon_ttemp += payload","rules":[{"t":"set","p":"aircon_ttemp","pt":"global","to":"$number($globalContext(\"aircon_ttemp\")) + msg.payload","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"aircon_ttemp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":200,"wires":[["f99aefc6.227d5","92e30b10.ea4958","5e4d80f9.f4fc3"]]},{"id":"92e30b10.ea4958","type":"debug","z":"1308fdfa.660ee2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":840,"y":200,"wires":[]},{"id":"71d61680.e8af58","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":490,"y":380,"wires":[]},{"id":"56a72cfd.fa4144","type":"debug","z":"90da4636.c9a6a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":720,"y":220,"wires":[]},{"id":"ae44a0f0.7861f","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":270,"y":420,"wires":[]},{"id":"683b878b.0c8c38","type":"delay","z":"47f96de1.dd13a4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":240,"wires":[["153723fd.f1110c","bf92728e.b930f"]]},{"id":"bf92728e.b930f","type":"batch","z":"47f96de1.dd13a4","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":630,"y":240,"wires":[["3d861489.ca549c","eb518a57.798698","683b878b.0c8c38"]]},{"id":"153723fd.f1110c","type":"delay","z":"47f96de1.dd13a4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":200,"wires":[["bf92728e.b930f"]]},{"id":"eb518a57.798698","type":"debug","z":"47f96de1.dd13a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":790,"y":240,"wires":[]},{"id":"c066f0a9.f0236","type":"inject","z":"47f96de1.dd13a4","name":"","topic":"","payload":"power","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":170,"y":240,"wires":[[]]}]